@charset "utf-8";
/* CSS Document */

#wrapper{
	letter-spacing:0.1em;	
}

.l-block01 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:80px 0 80px;
	background-color:#FFFFFF;
}
.l-block01 > div {
	background-color:#FFFFFF;
	margin: 0 auto 0;
	position:relative;
	z-index:2;	
}
.l-block01 h2 {
	line-height:0;
	padding:0 0 0;
}
.l-block01 h2 img {
	max-width:290px;
	width:100%;
	margin-top:0px;
}
.l-block01 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-10px;
}
.l-block01 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}

.l-block02 {
	width: 100%;
	margin: 0 auto 0px;
	text-align: center;
	padding:80px 0 1px;
}
.l-block02.p-type01 {
	background-color:#f4efed;
}
.l-block02.p-type02 {
	margin-top:10px;
	background-color:#edefea;
}
.l-block02.p-type03 {
	margin-top:10px;
	background-color:#f0f2f2;
}
.l-block02 .l-block02-table {
	width: 100%;
	margin: 0 auto 70px;
	padding:65px 0 0px;
	background-color:#FFFFFF;
	border:1px solid #aea27d;
}
.l-block02 .l-block02-table .p-kikan {
	display:inline-block;
	font-size:13px;
	line-height:1;
	font-weight:normal !important;
	color:#aea27d;
	padding:5px 20px;
	border:1px solid #aea27d;
	letter-spacing:0.1em;
}
.l-block02 .l-block02-table .p-title {
	display:inline-block;
	font-size:24px;
	line-height:1.7;
	font-weight:normal !important;
	color:#514e47;
	padding:30px 20px 10px;
	border-bottom:1px solid #aea27d;
	letter-spacing:0.1em;
}
.l-block02 .l-block02-table .p-title span {
	font-size:15px;
	display:block;
}
.l-block02 .l-block02-table .p-price {
	display:inline-block;
	font-size:16px;
	line-height:1.7;
	font-weight:normal !important;
	color:#514e47;
	padding:28px 0px 12px;
	letter-spacing:0.1em;
}
.l-block02 .l-block02-table .p-price span {
	display:inline-block;
	font-size:28px;
	font-weight:normal;
	color:#aea27d;
	padding-left:10px;
}
.l-block02 .l-block02-table .p-tsuika {
	display:inline-block;
	font-size:13px;
	line-height:2;
	font-weight:bold;
	color:#514e47;
	padding:0px 0px 45px;
	letter-spacing:0.1em;
}
.l-block02 .l-block02-table .l-btn {
	display:block;
	padding:20px 0px 20px;
	background-color:#aea27d;
	border-top:1px solid #aea27d;
}
.l-block02 .l-block02-table .l-btn:hover {
	cursor:pointer;
}
.l-block02 .l-block02-table .l-btn.show {
	display:block;
	padding:20px 0px 20px;
	background-color:#FFFFFF;
	border:none;
	border-top:1px solid #aea27d;
}
.l-block02 .l-block02-table .l-btn p {
	display:inline-block;
	font-size:13px;
	line-height:1;
	font-weight:bold;
	color:#FFFFFF;
	padding:0 20px;
	background:url(../img/ico_viewmore_open.png) left center no-repeat transparent;
	background-size:10px auto;
	letter-spacing:0.1em;
}
.l-block02 .l-block02-table .l-btn.show p {
	display:inline-block;
	font-size:13px;
	line-height:1;
	font-weight:bold;
	color:#aea27d;
	padding:0 20px;
	background:url(../img/ico_viewmore_close.png) left center no-repeat transparent;
	background-size:10px auto;
}
.l-block02 .l-block02-table .l-detail {
	padding:35px 50px;
	text-align:left;
}
.l-block02 .l-block02-table .l-detail > div {
	width:12.5%;
	display:inline-block;
	vertical-align:top;
	padding:20px 4px;
}
.l-block02 .l-block02-table .l-detail > div p {
	text-align:center;
}
.l-block02 .l-block02-table .l-detail > div .p-image {
	width:100%;
}
.l-block02 .l-block02-table .l-detail > div .p-image img {
	max-width:200px;
	width:100%;
}
.l-block02 .l-block02-table .l-detail > div .p-message {
	font-size:11px;
	line-height:1.5;
	font-weight:normal !important;
	color:#aea27d;
	text-align:center;
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	letter-spacing: 0.06em;
}

.l-block03 {
	width: 100%;
	margin: 0 auto 0px;
	text-align: center;
	padding:0px 0 0;
	background-color:#FFFFFF;
}
.l-block03 > div {
	width: 50%;
	display:inline-block;
	vertical-align:middle;
}
.l-block03 .l-image {
	line-height:0;
}
.l-block03 .l-image img {
	max-width: 100%;
	width:100%;
}
.l-block03 .l-message {
	padding:0 10px 0 50px;
}
.l-block03 .l-message p {
	font-size:13px;
	line-height:2.15 !important;
	font-weight:bold;
	color:#514e47;
	text-align:left;
	letter-spacing:0.1em;
}

.p-common-btn {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#8c8c8c;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #8c8c8c;
	background:url(../../../common/img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
}
.p-common-btn2 {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#897e63;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #897e63;
	background:url(../../../common/img/ico_viewmore2_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	margin-top:20px;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:120px 0 120px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: 0 auto 0;
		position:relative;
		z-index:2;	
	}
	.l-block01 h2 {
		line-height:0;
		padding:0 0 0;
	}
	.l-block01 h2 img {
		max-width:580px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-20px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0px;
		text-align: center;
		padding:100px 0 1px;
		background-color:#f4efed;
	}
	.l-block02 .l-block02-table {
		width: 100%;
		margin: 0 auto 100px;
		padding:100px 0 0px;
		background-color:#FFFFFF;
		border:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .p-kikan {
		display:inline-block;
		font-size:24px;
		line-height:1.5;
		font-weight:bold;
		color:#aea27d;
		padding:10px 40px;
		border:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .p-title {
		display:inline-block;
		font-size:44px;
		line-height:1.7;
		font-weight:bold;
		color:#514e47;
		padding:60px 10px 20px;
		border-bottom:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .p-title span {
		font-size:26px;
	}
	.l-block02 .l-block02-table .p-price {
		display:inline-block;
		font-size:28px;
		line-height:1.7;
		font-weight:bold;
		color:#514e47;
		padding:40px 0px 0px;
	}
	.l-block02 .l-block02-table .p-price span {
		display:inline-block;
		font-size:52px;
		font-weight:normal;
		color:#aea27d;
		padding-left:20px;
	}
	.l-block02 .l-block02-table .p-tsuika {
		display:inline-block;
		font-size:24px;
		line-height:2;
		font-weight:bold;
		color:#514e47;
		padding:0px 0px 90px;
	}
	.l-block02 .l-block02-table .l-btn {
		display:block;
		padding:30px 0px 30px;
		background-color:#aea27d;
		border-top:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .l-btn:hover {
		cursor:pointer;
	}
	.l-block02 .l-block02-table .l-btn.show {
		display:block;
		padding:40px 0px 40px;
		background-color:#FFFFFF;
		border:none;
		border-top:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .l-btn p {
		display:inline-block;
		font-size:26px;
		line-height:1.5;
		font-weight:bold;
		color:#FFFFFF;
		padding:0 40px;
		background:url(../img/ico_viewmore_open.png) left center no-repeat transparent;
		background-size:20px auto;
	}
	.l-block02 .l-block02-table .l-btn.show p {
		display:inline-block;
		font-size:26px;
		line-height:1.5;
		font-weight:bold;
		color:#aea27d;
		padding:0 40px;
		background:url(../img/ico_viewmore_close.png) left center no-repeat transparent;
		background-size:20px auto;
	}
	.l-block02 .l-block02-table .l-detail {
		padding:0px 12px;
		text-align:left;
	}
	.l-block02 .l-block02-table .l-detail > div {
		width:20%;
		display:inline-block;
		vertical-align:top;
		padding:20px 8px;
	}
	.l-block02 .l-block02-table .l-detail > div p {
		text-align:center;
	}
	.l-block02 .l-block02-table .l-detail > div .p-image {
		width:100%;
	}
	.l-block02 .l-block02-table .l-detail > div .p-image img {
		max-width:200px;
		width:100%;
	}
	.l-block02 .l-block02-table .l-detail > div .p-message {
		font-size:22px;
		line-height:1.5;
		font-weight:bold;
		color:#aea27d;
		text-align:center;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	}
	.l-block02 .l-block02-table .l-detail > div .p-message br {
		display:none;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto 0px;
		text-align: center;
		padding:0px 0 0;
		background-color:#FFFFFF;
	}
	.l-block03 > div {
		width: 100%;
		display:block;
		vertical-align:middle;
	}
	.l-block03 .l-image {
		line-height:0;
	}
	.l-block03 .l-image img {
		max-width: 100%;
		width:100%;
	}
	.l-block03 .l-message {
		padding:60px 40px 90px 40px;
	}
	.l-block03 .l-message p {
		font-size:22px;
		line-height:2;
		font-weight:bold;
		color:#514e47;
		text-align:left;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}	
	.p-common-btn2 {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
		margin-top:40px;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:84px 0 84px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: 0 auto 0;
		position:relative;
		z-index:2;	
	}
	.l-block01 h2 {
		line-height:0;
		padding:0 0 0;
	}
	.l-block01 h2 img {
		max-width:406px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-15px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0px;
		text-align: center;
		padding:70px 0 1px;
		background-color:#f4efed;
	}
	.l-block02 .l-block02-table {
		width: 100%;
		margin: 0 auto 70px;
		padding:70px 0 0px;
		background-color:#FFFFFF;
		border:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .p-kikan {
		display:inline-block;
		font-size:18px;
		line-height:1.5;
		font-weight:bold;
		color:#aea27d;
		padding:7px 30px;
		border:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .p-title {
		display:inline-block;
		font-size:31px;
		line-height:1.7;
		font-weight:bold;
		color:#514e47;
		padding:42px 7px 15px;
		border-bottom:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .p-title span {
		font-size:18px;
	}
	.l-block02 .l-block02-table .p-price {
		display:inline-block;
		font-size:20px;
		line-height:1.7;
		font-weight:bold;
		color:#514e47;
		padding:30px 0px 0px;
	}
	.l-block02 .l-block02-table .p-price span {
		display:inline-block;
		font-size:36px;
		font-weight:normal;
		color:#aea27d;
		padding-left:15px;
	}
	.l-block02 .l-block02-table .p-tsuika {
		display:inline-block;
		font-size:18px;
		line-height:2;
		font-weight:bold;
		color:#514e47;
		padding:0px 0px 63px;
	}
	.l-block02 .l-block02-table .l-btn {
		display:block;
		padding:20px 0px 20px;
		background-color:#aea27d;
		border-top:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .l-btn:hover {
		cursor:pointer;
	}
	.l-block02 .l-block02-table .l-btn.show {
		display:block;
		padding:30px 0px 30px;
		background-color:#FFFFFF;
		border:none;
		border-top:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .l-btn p {
		display:inline-block;
		font-size:18px;
		line-height:1.5;
		font-weight:bold;
		color:#FFFFFF;
		padding:0 30px;
		background:url(../img/ico_viewmore_open.png) left center no-repeat transparent;
		background-size:15px auto;
	}
	.l-block02 .l-block02-table .l-btn.show p {
		display:inline-block;
		font-size:18px;
		line-height:1.5;
		font-weight:bold;
		color:#aea27d;
		padding:0 30px;
		background:url(../img/ico_viewmore_close.png) left center no-repeat transparent;
		background-size:15px auto;
	}
	.l-block02 .l-block02-table .l-detail {
		padding:0px 8px;
		text-align:left;
	}
	.l-block02 .l-block02-table .l-detail > div {
		width:25%;
		display:inline-block;
		vertical-align:top;
		padding:15px 6px;
	}
	.l-block02 .l-block02-table .l-detail > div p {
		text-align:center;
	}
	.l-block02 .l-block02-table .l-detail > div .p-image {
		width:100%;
	}
	.l-block02 .l-block02-table .l-detail > div .p-image img {
		max-width:200px;
		width:100%;
	}
	.l-block02 .l-block02-table .l-detail > div .p-message {
		font-size:15px;
		line-height:1.5;
		font-weight:bold;
		color:#aea27d;
		text-align:center;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	}
	.l-block02 .l-block02-table .l-detail > div .p-message br {
		display:none;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto 0px;
		text-align: center;
		padding:0px 0 0;
		background-color:#FFFFFF;
	}
	.l-block03 > div {
		width: 100%;
		display:block;
		vertical-align:middle;
	}
	.l-block03 .l-image {
		line-height:0;
	}
	.l-block03 .l-image img {
		max-width: 100%;
		width:100%;
	}
	.l-block03 .l-message {
		padding:42px 30px 63px 30px;
	}
	.l-block03 .l-message p {
		font-size:15px;
		line-height:2;
		font-weight:bold;
		color:#514e47;
		text-align:left;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.p-common-btn2 {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
		margin-top:30px;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:60px 0 60px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: 0 auto 0;
		position:relative;
		z-index:2;	
	}
	.l-block01 h2 {
		line-height:0;
		padding:0 0 0;
	}
	.l-block01 h2 img {
		max-width:290px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-10px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0px;
		text-align: center;
		padding:50px 0 1px;
		background-color:#f4efed;
	}
	.l-block02 .l-block02-table {
		width: 100%;
		margin: 0 auto 50px;
		padding:50px 0 0px;
		background-color:#FFFFFF;
		border:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .p-kikan {
		display:inline-block;
		font-size:12px;
		line-height:1;
		font-weight:bold;
		color:#aea27d;
		padding:5px 20px;
		border:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .p-title {
		display:inline-block;
		font-size:22px;
		line-height:1.7;
		font-weight:bold;
		color:#514e47;
		padding:30px 5px 10px;
		border-bottom:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .p-title span {
		font-size:13px;
	}
	.l-block02 .l-block02-table .p-price {
		display:inline-block;
		font-size:14px;
		line-height:1.7;
		font-weight:bold;
		color:#514e47;
		padding:20px 0px 0px;
	}
	.l-block02 .l-block02-table .p-price span {
		display:inline-block;
		font-size:26px;
		font-weight:normal;
		color:#aea27d;
		padding-left:10px;
	}
	.l-block02 .l-block02-table .p-tsuika {
		display:inline-block;
		font-size:12px;
		line-height:2;
		font-weight:bold;
		color:#514e47;
		padding:0px 0px 45px;
	}
	.l-block02 .l-block02-table .l-btn {
		display:block;
		padding:15px 0px 15px;
		background-color:#aea27d;
		border-top:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .l-btn:hover {
		cursor:pointer;
	}
	.l-block02 .l-block02-table .l-btn.show {
		display:block;
		padding:20px 0px 20px;
		background-color:#FFFFFF;
		border:none;
		border-top:1px solid #aea27d;
	}
	.l-block02 .l-block02-table .l-btn p {
		display:inline-block;
		font-size:13px;
		line-height:1;
		font-weight:bold;
		color:#FFFFFF;
		padding:0 20px;
		background:url(../img/ico_viewmore_open.png) left center no-repeat transparent;
		background-size:10px auto;
	}
	.l-block02 .l-block02-table .l-btn.show p {
		display:inline-block;
		font-size:13px;
		line-height:1;
		font-weight:bold;
		color:#aea27d;
		padding:0 20px;
		background:url(../img/ico_viewmore_close.png) left center no-repeat transparent;
		background-size:10px auto;
	}
	.l-block02 .l-block02-table .l-detail {
		padding:0px 6px;
		text-align:left;
	}
	.l-block02 .l-block02-table .l-detail > div {
		width:33.3%;
		display:inline-block;
		vertical-align:top;
		padding:10px 4px;
	}
	.l-block02 .l-block02-table .l-detail > div p {
		text-align:center;
	}
	.l-block02 .l-block02-table .l-detail > div .p-image {
		width:100%;
	}
	.l-block02 .l-block02-table .l-detail > div .p-image img {
		max-width:200px;
		width:100%;
	}
	.l-block02 .l-block02-table .l-detail > div .p-message {
		font-size:11px;
		line-height:1.5;
		font-weight:bold;
		color:#aea27d;
		text-align:center;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	}
	.l-block02 .l-block02-table .l-detail > div .p-message br {
		display:none;
	}

	.l-block03 {
		width: 100%;
		margin: 0 auto 0px;
		text-align: center;
		padding:0px 0 0;
		background-color:#FFFFFF;
	}
	.l-block03 > div {
		width: 100%;
		display:block;
		vertical-align:middle;
	}
	.l-block03 .l-image {
		line-height:0;
	}
	.l-block03 .l-image img {
		max-width: 100%;
		width:100%;
	}
	.l-block03 .l-message {
		padding:30px 20px 45px 20px;
	}
	.l-block03 .l-message p {
		font-size:11px;
		line-height:2;
		font-weight:bold;
		color:#514e47;
		text-align:left;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	.p-common-btn2 {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
		margin-top:20px;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/