@charset "utf-8";
/* CSS Document */

#wrapper{
	letter-spacing:0.1em;	
}

.l-mvBlock{
	position:relative;
	z-index:1;
}

.l-mv{
	width: 100%;
	margin:0px auto 0;
	text-align:center;
	line-height:0;
	height:550px;
	background:url(../img/bg_mv_pc.png) center center no-repeat transparent;
	background-size:cover;
}

.l-block01 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0 80px;
	background-color:#FFFFFF;
}
.l-block01 > div {
	background-color:#FFFFFF;
	margin: -135px auto 0;
	position:relative;
	z-index:2;	
}
.l-block01 h2 {
	line-height:0;
	padding:90px 0 75px;
}
.l-block01 h2 img {
	max-width:689px;
	width:100%;
	margin-top:0px;
}
.l-block01 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-58px;
}
.l-block01 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block01 .l-block01-map{
	width:100%;
	margin:0 auto;
	padding:0 0 50px;	
	line-height:0;
}
.l-block01 .l-block01-map img{
	max-width:900px;
	width:100%;
}
.l-block01 .p-googlemap{
	padding:0 0 45px;
}
.l-block01 .p-message{
	font-size:13px;
	line-height:2;
	font-weight:normal !important;
	text-align:center;
	letter-spacing:0.12em;
}

.l-block02 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0 95px;
}
.l-block02 > div > div {
	width: 100%;
	margin: 0 auto 0;
	text-align: left;
	padding:0px 0 40px;
}
.l-block02 > div > div .p-title {
	font-size:20px;
	line-height:2;
	color:#aa9268;
	font-weight:normal !important;
	border-bottom:1px solid #afa27d;
	letter-spacing:0.2em;
}
.l-block02 > div > div .p-message {
	padding-top:15px;	
	font-size:13px;
	line-height:2;
	font-weight:normal !important;
	letter-spacing:0.12em;
}
.l-block02 > div > div .p-btn {
	text-align: left;
}

.p-common-btn {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#8c8c8c;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #8c8c8c;
	background:url(../../../common/img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	letter-spacing:0.12em;
}
.p-common-btn2 {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#897e63;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #897e63;
	background:url(../../../common/img/ico_viewmore2_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	margin-top:20px;
	letter-spacing:0.12em;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		position:relative;
		z-index:1;
	}

	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:750px;
		background:url(../img/bg_mv_sp.png) center center no-repeat transparent;
		background-size:cover;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 20px 80px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: -180px auto 0;
		position:relative;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 h2 {
		line-height:0;
		padding:60px 0 80px;
	}
	.l-block01 h2 img {
		max-width:496px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-116px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-map{
		width:100%;
		margin:0 auto;
		padding:0 0 50px;	
		line-height:0;
	}
	.l-block01 .l-block01-map img{
		max-width:672px;
		width:100%;
	}
	.l-block01 .p-googlemap{
		padding:0 0 50px;
	}
	.l-block01 .p-message{
		font-size:22px;
		line-height:2;
		font-weight:bold;
		text-align:center;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0 20px;
	}
	.l-block02 > div > div {
		width: 100%;
		margin: 0 auto 0;
		text-align: left;
		padding:0px 0 70px;
	}
	.l-block02 > div > div .p-title {
		font-size:32px;
		line-height:2;
		color:#aa9268;
		font-weight:bold;
		border-bottom:1px solid #afa27d;
	}
	.l-block02 > div > div .p-message {
		padding-top:20px;
		font-size:22px;
		line-height:2;
		font-weight:bold;
	}
	.l-block02 > div > div .p-btn {
		text-align: center;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}	
	.p-common-btn2 {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
		margin-top:40px;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		position:relative;
		z-index:1;
	}

	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:525px;
		background:url(../img/bg_mv_sp.png) center center no-repeat transparent;
		background-size:cover;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 15px 56px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: -126px auto 0;
		position:relative;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 h2 {
		line-height:0;
		padding:42px 0 56px;
	}
	.l-block01 h2 img {
		max-width:347px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-81px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-map{
		width:100%;
		margin:0 auto;
		padding:0 0 35px;	
		line-height:0;
	}
	.l-block01 .l-block01-map img{
		max-width:470px;
		width:100%;
	}
	.l-block01 .p-googlemap{
		padding:0 0 35px;
	}
	.l-block01 .p-message{
		font-size:15px;
		line-height:2;
		font-weight:bold;
		text-align:center;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0 15px;
	}
	.l-block02 > div > div {
		width: 100%;
		margin: 0 auto 0;
		text-align: left;
		padding:0px 0 50px;
	}
	.l-block02 > div > div .p-title {
		font-size:22px;
		line-height:2;
		color:#aa9268;
		font-weight:bold;
		border-bottom:1px solid #afa27d;
	}
	.l-block02 > div > div .p-message {
		padding-top:15px;
		font-size:15px;
		line-height:2;
		font-weight:bold;
	}
	.l-block02 > div > div .p-btn {
		text-align: center;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.p-common-btn2 {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
		margin-top:30px;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		position:relative;
		z-index:1;
	}

	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:375px;
		background:url(../img/bg_mv_sp.png) center center no-repeat transparent;
		background-size:cover;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 10px 40px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: -90px auto 0;
		position:relative;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 h2 {
		line-height:0;
		padding:30px 0 40px;
	}
	.l-block01 h2 img {
		max-width:248px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-58px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-map{
		width:100%;
		margin:0 auto;
		padding:0 0 25px;	
		line-height:0;
	}
	.l-block01 .l-block01-map img{
		max-width:336px;
		width:100%;
	}
	.l-block01 .p-googlemap{
		padding:0 0 25px;
	}
	.l-block01 .p-message{
		font-size:11px;
		line-height:2;
		font-weight:bold;
		text-align:center;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0 10px;
	}
	.l-block02 > div > div {
		width: 100%;
		margin: 0 auto 0;
		text-align: left;
		padding:0px 0 35px;
	}
	.l-block02 > div > div .p-title {
		font-size:16px;
		line-height:2;
		color:#aa9268;
		font-weight:bold;
		border-bottom:1px solid #afa27d;
	}
	.l-block02 > div > div .p-message {
		padding-top:10px;
		font-size:11px;
		line-height:2;
		font-weight:bold;
	}
	.l-block02 > div > div .p-btn {
		text-align: center;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	.p-common-btn2 {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
		margin-top:20px;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/