@charset "utf-8";
/* CSS Document */

#wrapper{
	letter-spacing:0.1em;	
}

.l-mvBlock{
	position:relative;
	z-index:1;
}

.l-mv{
	width: 100%;
	margin:0px auto 0;
	text-align:center;
	line-height:0;
	height:550px;
	background:url(../img/bg_mv_pc.png) center center no-repeat transparent;
	background-size:cover;
}

.l-block01 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0 80px;
	background-color:#FFFFFF;
}
.l-block01 > div {
	background-color:#FFFFFF;
	margin: -135px auto 0;
	position:relative;
	z-index:2;	
}
.l-block01 h2 {
	line-height:0;
	padding:90px 0 75px;
}
.l-block01 h2 img {
	max-width:689px;
	width:100%;
	margin-top:0px;
}
.l-block01 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-58px;
}
.l-block01 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block01 .l-block01-table {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0 0px;
	display:table;
}
.l-block01 .l-block01-table .p-btn {
	width: 33.3%;
	display:table-cell;
	vertical-align:top;
}
.l-block01 .l-block01-table .p-btn:nth-child(1) {
	padding-right:22px;
}
.l-block01 .l-block01-table .p-btn:nth-child(2) {
	padding-left:11px;
	padding-right:11px;
}
.l-block01 .l-block01-table .p-btn:nth-child(3) {
	padding-left:22px;
}
.l-block01 .l-block01-table .p-btn a {
	display:block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#514e47;
	text-decoration:none;
	padding:15px 0px;
	border:1px solid #afa27d;
	background:url(../img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
	background-size:5px auto;
	font-weight:normal !important;
	letter-spacing:0.12em;
}

.l-block02 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:115px 0 45px;
	background-color:#cdd6bf;
}
.l-block02 > div {
	background-color:#FFFFFF;
	margin: 0px auto 0;
	position:relative;
	z-index:2;	
	padding:80px 100px 40px;
}
.l-block02 h3 {
	padding:0px 0 70px;
	font-size:11px;
	line-height:1.5;
	font-weight:normal !important;
	color:#514e47;
	letter-spacing:0.12em;
}
.l-block02 h3 span {
	display:block;
	font-size:24px;
}
.l-block02 .l-block02-map{
	width:100%;
	margin:0 auto;
	padding:0 0 50px;	
	line-height:0;
}
.l-block02 .l-block02-map img{
	max-width:902px;
	width:100%;
	border:1px solid #897e63;
}
.l-block02 .p-googlemap{
	padding:0 0 45px;
}
.l-block02 > div > .p-message{
	font-size:13px;
	line-height:2;
	font-weight:normal !important;
	text-align:center;
	padding-bottom:90px;
	letter-spacing:0.12em;
}

.l-block02 .l-block02-table {
	width: 100%;
	margin: 0 auto 0;
	text-align: left;
	padding:0px 0 0px;
}
.l-block02 .l-block02-table > div {
	width: 100%;
	margin: 0 auto 0;
	text-align: left;
	padding:0px 0 40px;
}
.l-block02 .l-block02-table > div > .p-title {
	font-size:20px;
	line-height:2;
	color:#aa9268;
	font-weight:normal !important;
	border-bottom:1px solid #afa27d;
	letter-spacing:0.2em;
}
.l-block02 .l-block02-table > div > .p-message {
	padding-top:15px;
	text-align:left;	
	font-size:13px;
	line-height:2;
	font-weight:normal !important;
	letter-spacing:0.12em;
}
.l-block02 .l-block02-table > div > .p-btn {
	text-align: left;
}

.l-block03 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0 45px;
	background-color:#cdd6bf;
}
.l-block03 > div {
	background-color:#FFFFFF;
	margin: 0px auto 0;
	position:relative;
	z-index:2;	
	padding:80px 100px 45px;
}
.l-block03 h3 {
	padding:0px 0 70px;
	font-size:11px;
	line-height:1.5;
	font-weight:normal !important;
	color:#514e47;
	letter-spacing:0.12em;
}
.l-block03 h3 span {
	display:block;
	font-size:24px;
	font-weight:normal !important;
}
.l-block03 .l-block03-table {
	width: 100%;
	margin: 0 auto 0;
	padding:0;
}
.l-block03 .l-block03-table > div {
	width: 50%;
	display:inline-block;
	vertical-align:top;
	padding-bottom:45px;
}
.l-block03 .l-block03-table > div:nth-child(odd) {
	padding-right:25px;
	text-align:right;
}
.l-block03 .l-block03-table > div:nth-child(even) {
	padding-left:25px;
	text-align:left;
}
.l-block03 .l-block03-table > div .p-image {
	text-align: center;
	margin-bottom:0;
	display: block;
	position: relative;
	width:100%;
	height:100%;
	text-decoration:none;
	line-height:0;
}
.l-block03 .l-block03-table > div .p-image:after{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	border: 10px solid rgba(255,255,255,0.70);
}
.l-block03 .l-block03-table  > div .p-image img{
	max-width: 800px;
	width:100%;
}
.l-block03 .l-block03-table > div .p-message {
	text-align:center;
	font-size:18px;
	line-height:2;
	color:#aa9268;
	padding-top:15px;
	letter-spacing:0.12em;
}

.l-block04 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0 100px;
	background-color:#cdd6bf;
}
.l-block04 > div {
	background-color:#FFFFFF;
	margin: 0px auto 0;
	position:relative;
	z-index:2;	
	padding:80px 100px 70px;
}
.l-block04 h3 {
	padding:0px 0 65px;
	font-size:11px;
	line-height:1.5;
	font-weight:normal !important;
	color:#514e47;
	letter-spacing:0.12em;
}
.l-block04 h3 span {
	display:block;
	font-size:24px;
	font-weight:normal !important;
}
.l-block04 .l-block04-table {
	width: 100%;
	margin: 0 auto 0;
	padding:0;
}
.l-block04 .l-block04-table > div {
	width: 100%;
	margin: 0 auto 0;
	padding:15px 0;
	border-bottom:1px solid #afa27d;
}
.l-block04 .l-block04-table > div .p-question {
	width:100%;
	display:table;
}
.l-block04 .l-block04-table > div .p-question:hover {
	cursor:pointer;
}
.l-block04 .l-block04-table > div .p-question span {
	display:table-cell;
	vertical-align:middle;
}
.l-block04 .l-block04-table > div .p-question span:nth-child(1) {
	font-size:24px;
	color:#aa9268;
	width:50px;
	text-align:left;
}
.l-block04 .l-block04-table > div .p-question span:nth-child(2) {
	font-size:13px;
	line-height:1.7;
	font-weight:normal !important;
	width:auto;
	text-align:left;
	letter-spacing:0.12em;
}
.l-block04 .l-block04-table > div .p-question span:nth-child(3) {
	font-size:24px;
	color:#aa9268;
	width:50px;
	text-align:center;
}
.l-block04 .l-block04-table > div .p-answer {
	width:100%;
	display:table;
	-webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.l-block04 .l-block04-table > div .p-answer span {
	display:table-cell;
	vertical-align:top;
}
.l-block04 .l-block04-table > div .p-answer span:nth-child(1) {
	font-size:30px;
	color:#cc0000;
	width:50px;
	text-align:left;
}
.l-block04 .l-block04-table > div .p-answer span:nth-child(2) {
	font-size:13px;
	line-height:1.7;
	font-weight:normal !important;
	width:auto;
	text-align:left;
	padding-top:13px;
	letter-spacing:0.12em;
}

.p-common-btn {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#8c8c8c;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #8c8c8c;
	background:url(../../../common/img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	letter-spacing:0.12em;
}
.p-common-btn2 {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#897e63;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #897e63;
	background:url(../../../common/img/ico_viewmore2_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	margin-top:20px;
	letter-spacing:0.12em;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		position:relative;
		z-index:1;
	}

	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:750px;
		background:url(../img/bg_mv_sp.png) center center no-repeat transparent;
		background-size:cover;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 20px 80px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: -180px auto 0;
		position:relative;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 h2 {
		line-height:0;
		padding:60px 0 80px;
	}
	.l-block01 h2 img {
		max-width:496px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-116px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-map{
		width:100%;
		margin:0 auto;
		padding:0 0 50px;	
		line-height:0;
	}
	.l-block01 .l-block01-map img{
		max-width:672px;
		width:100%;
	}
	.l-block01 .p-googlemap{
		padding:0 0 50px;
	}
	.l-block01 .p-message{
		font-size:22px;
		line-height:2;
		font-weight:bold;
		text-align:center;
	}	
	.l-block01 .l-block01-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0 0px;
		display:block;
	}
	.l-block01 .l-block01-table .p-btn {
		width: 100%;
		display:block;
		vertical-align:top;
		margin-bottom:20px;
	}
	.l-block01 .l-block01-table .p-btn:nth-child(1) {
		padding-right:0;
	}
	.l-block01 .l-block01-table .p-btn:nth-child(2) {
		padding-left:0;
		padding-right:0;
	}
	.l-block01 .l-block01-table .p-btn:nth-child(3) {
		padding-left:0;
	}
	.l-block01 .l-block01-table .p-btn a {
		display:block;
		font-size:24px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:30px 0px;
		border:1px solid #afa27d;
		background:url(../img/ico_viewmore_pc.png) left 28px center no-repeat transparent;
		background-size:10px auto;
		font-weight:bold;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:100px 20px 90px;
		background-color:#cdd6bf;
	}
	.l-block02 > div {
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:100px 20px 30px;
	}
	.l-block02 h3 {
		padding:0px 0 70px;
		font-size:22px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block02 h3 span {
		display:block;
		font-size:48px;
		font-weight:400;
	}
	.l-block02 .l-block02-map{
		width:100%;
		margin:0 auto;
		padding:0 0 50px;	
		line-height:0;
	}
	.l-block02 .l-block02-map img{
		max-width:900px;
		width:100%;
		border:1px solid #897e63;
	}
	.l-block02 .p-googlemap{
		padding:0 0 50px;
	}
	.l-block02 > div > .p-message{
		font-size:22px;
		line-height:2;
		font-weight:bold;
		text-align:center;
		padding-bottom:80px;
	}
	
	.l-block02 .l-block02-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: left;
		padding:0px 0 0px;
	}
	.l-block02 .l-block02-table > div {
		width: 100%;
		margin: 0 auto 0;
		text-align: left;
		padding:0px 0 70px;
	}
	.l-block02 .l-block02-table > div > .p-title {
		font-size:32px;
		line-height:2;
		color:#aa9268;
		font-weight:bold;
		border-bottom:1px solid #afa27d;
	}
	.l-block02 .l-block02-table > div > .p-message {
		padding-top:30px;
		text-align:left;
		font-size:22px;
		line-height:2;
	}
	.l-block02 .l-block02-table > div > .p-btn {
		text-align: center;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 20px 90px;
		background-color:#cdd6bf;
	}
	.l-block03 > div {
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:100px 20px 50px;
	}
	.l-block03 h3 {
		padding:0px 0 90px;
		font-size:22px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block03 h3 span {
		display:block;
		font-size:48px;
		font-weight:400;
	}
	.l-block03 .l-block03-table {
		width: 100%;
		margin: 0 auto 0;
		padding:0;
	}
	.l-block03 .l-block03-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding-bottom:50px;
	}
	.l-block03 .l-block03-table > div:nth-child(odd) {
		padding-right:0;
		text-align:center;
	}
	.l-block03 .l-block03-table > div:nth-child(even) {
		padding-left:0;
		text-align:center;
	}
	.l-block03 .l-block03-table > div .p-image {
		text-align: center;
		margin-bottom:0;
		display: inline-block;
		position: relative;
		width:auto;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block03 .l-block03-table > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		display: inline-block;
		border: 10px solid rgba(255,255,255,0.70);
	}
	.l-block03 .l-block03-table  > div .p-image img{
		max-width: 100%;
		width:100%;
	}
	.l-block03 .l-block03-table > div .p-message {
		text-align:center;
		font-size:36px;
		line-height:2;
		color:#aa9268;
		padding-top:30px;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 20px 100px;
		background-color:#cdd6bf;
	}
	.l-block04 > div {
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:110px 20px 100px;
	}
	.l-block04 h3 {
		padding:0px 0 70px;
		font-size:22px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block04 h3 span {
		display:block;
		font-size:48px;
		font-weight:400;
	}
	.l-block04 .l-block04-table {
		width: 100%;
		margin: 0 auto 0;
		padding:0;
	}
	.l-block04 .l-block04-table > div {
		width: 100%;
		margin: 0 auto 0;
		padding:20px 0;
		border-bottom:1px solid #afa27d;
	}
	.l-block04 .l-block04-table > div .p-question {
		width:100%;
		display:table;
	}
	.l-block04 .l-block04-table > div .p-question span {
		display:table-cell;
		vertical-align:middle;
	}
	.l-block04 .l-block04-table > div .p-question span:nth-child(1) {
		font-size:28px;
		color:#aa9268;
		width:60px;
		text-align:left;
	}
	.l-block04 .l-block04-table > div .p-question span:nth-child(2) {
		font-size:22px;
		line-height:2;
		font-weight:bold;
		width:auto;
		text-align:left;
	}
	.l-block04 .l-block04-table > div .p-question span:nth-child(3) {
		font-size:28px;
		color:#aa9268;
		width:60px;
		text-align:center;
	}
	.l-block04 .l-block04-table > div .p-answer {
		width:100%;
		display:table;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
	}
	.l-block04 .l-block04-table > div .p-answer span {
		display:table-cell;
		vertical-align:top;
	}
	.l-block04 .l-block04-table > div .p-answer span:nth-child(1) {
		font-size:32px;
		color:#cc0000;
		width:60px;
		text-align:left;
	}
	.l-block04 .l-block04-table > div .p-answer span:nth-child(2) {
		font-size:22px;
		line-height:2;
		font-weight:bold;
		width:auto;
		text-align:left;
		padding-top:10px;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}	
	.p-common-btn2 {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
		margin-top:40px;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		position:relative;
		z-index:1;
	}

	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:525px;
		background:url(../img/bg_mv_sp.png) center center no-repeat transparent;
		background-size:cover;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 15px 56px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: -126px auto 0;
		position:relative;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 h2 {
		line-height:0;
		padding:42px 0 56px;
	}
	.l-block01 h2 img {
		max-width:347px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-81px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-map{
		width:100%;
		margin:0 auto;
		padding:0 0 35px;	
		line-height:0;
	}
	.l-block01 .l-block01-map img{
		max-width:470px;
		width:100%;
	}
	.l-block01 .p-googlemap{
		padding:0 0 35px;
	}
	.l-block01 .p-message{
		font-size:15px;
		line-height:2;
		font-weight:bold;
		text-align:center;
	}	
	.l-block01 .l-block01-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0 0px;
		display:block;
	}
	.l-block01 .l-block01-table .p-btn {
		width: 100%;
		display:block;
		vertical-align:top;
		margin-bottom:15px;
	}
	.l-block01 .l-block01-table .p-btn:nth-child(1) {
		padding-right:0;
	}
	.l-block01 .l-block01-table .p-btn:nth-child(2) {
		padding-left:0;
		padding-right:0;
	}
	.l-block01 .l-block01-table .p-btn:nth-child(3) {
		padding-left:0;
	}
	.l-block01 .l-block01-table .p-btn a {
		display:block;
		font-size:16px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:20px 0px;
		border:1px solid #afa27d;
		background:url(../img/ico_viewmore_pc.png) left 20px center no-repeat transparent;
		background-size:7px auto;
		font-weight:bold;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:70px 15px 63px;
		background-color:#cdd6bf;
	}
	.l-block02 > div {
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:70px 15px 20px;
	}
	.l-block02 h3 {
		padding:0px 0 50px;
		font-size:15px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block02 h3 span {
		display:block;
		font-size:34px;
		font-weight:400;
	}
	.l-block02 .l-block02-map{
		width:100%;
		margin:0 auto;
		padding:0 0 35px;	
		line-height:0;
	}
	.l-block02 .l-block02-map img{
		max-width:900px;
		width:100%;
		border:1px solid #897e63;
	}
	.l-block02 .p-googlemap{
		padding:0 0 35px;
	}
	.l-block02 > div > .p-message{
		font-size:15px;
		line-height:2;
		font-weight:bold;
		text-align:center;
		padding-bottom:56px;
	}
	
	.l-block02 .l-block02-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: left;
		padding:0px 0 0px;
	}
	.l-block02 .l-block02-table > div {
		width: 100%;
		margin: 0 auto 0;
		text-align: left;
		padding:0px 0 50px;
	}
	.l-block02 .l-block02-table > div > .p-title {
		font-size:22px;
		line-height:2;
		color:#aa9268;
		font-weight:bold;
		border-bottom:1px solid #afa27d;
	}
	.l-block02 .l-block02-table > div > .p-message {
		padding-top:20px;
		text-align:left;
		font-size:15px;
		line-height:2;
	}
	.l-block02 .l-block02-table > div > .p-btn {
		text-align: center;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 15px 63px;
		background-color:#cdd6bf;
	}
	.l-block03 > div {
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:70px 15px 35px;
	}
	.l-block03 h3 {
		padding:0px 0 63px;
		font-size:15px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block03 h3 span {
		display:block;
		font-size:34px;
		font-weight:400;
	}
	.l-block03 .l-block03-table {
		width: 100%;
		margin: 0 auto 0;
		padding:0;
	}
	.l-block03 .l-block03-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding-bottom:35px;
	}
	.l-block03 .l-block03-table > div:nth-child(odd) {
		padding-right:0;
		text-align:center;
	}
	.l-block03 .l-block03-table > div:nth-child(even) {
		padding-left:0;
		text-align:center;
	}
	.l-block03 .l-block03-table > div .p-image {
		text-align: center;
		margin-bottom:0;
		display: inline-block;
		position: relative;
		width:auto;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block03 .l-block03-table > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		display: inline-block;
		border: 10px solid rgba(255,255,255,0.70);
	}
	.l-block03 .l-block03-table  > div .p-image img{
		max-width: 100%;
		width:100%;
	}
	.l-block03 .l-block03-table > div .p-message {
		text-align:center;
		font-size:25px;
		line-height:2;
		color:#aa9268;
		padding-top:20px;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 15px 70px;
		background-color:#cdd6bf;
	}
	.l-block04 > div {
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:77px 15px 70px;
	}
	.l-block04 h3 {
		padding:0px 0 50px;
		font-size:15px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block04 h3 span {
		display:block;
		font-size:34px;
		font-weight:400;
	}
	.l-block04 .l-block04-table {
		width: 100%;
		margin: 0 auto 0;
		padding:0;
	}
	.l-block04 .l-block04-table > div {
		width: 100%;
		margin: 0 auto 0;
		padding:15px 0;
		border-bottom:1px solid #afa27d;
	}
	.l-block04 .l-block04-table > div .p-question {
		width:100%;
		display:table;
	}
	.l-block04 .l-block04-table > div .p-question span {
		display:table-cell;
		vertical-align:middle;
	}
	.l-block04 .l-block04-table > div .p-question span:nth-child(1) {
		font-size:20px;
		color:#aa9268;
		width:42px;
		text-align:left;
	}
	.l-block04 .l-block04-table > div .p-question span:nth-child(2) {
		font-size:15px;
		line-height:2;
		font-weight:bold;
		width:auto;
		text-align:left;
	}
	.l-block04 .l-block04-table > div .p-question span:nth-child(3) {
		font-size:20px;
		color:#aa9268;
		width:42px;
		text-align:center;
	}
	.l-block04 .l-block04-table > div .p-answer {
		width:100%;
		display:table;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
	}
	.l-block04 .l-block04-table > div .p-answer span {
		display:table-cell;
		vertical-align:top;
	}
	.l-block04 .l-block04-table > div .p-answer span:nth-child(1) {
		font-size:23px;
		color:#cc0000;
		width:42px;
		text-align:left;
	}
	.l-block04 .l-block04-table > div .p-answer span:nth-child(2) {
		font-size:15px;
		line-height:2;
		font-weight:bold;
		width:auto;
		text-align:left;
		padding-top:7px;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.p-common-btn2 {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
		margin-top:30px;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		position:relative;
		z-index:1;
	}

	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:375px;
		background:url(../img/bg_mv_sp.png) center center no-repeat transparent;
		background-size:cover;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 10px 40px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: -90px auto 0;
		position:relative;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 h2 {
		line-height:0;
		padding:30px 0 40px;
	}
	.l-block01 h2 img {
		max-width:248px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-58px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-map{
		width:100%;
		margin:0 auto;
		padding:0 0 25px;	
		line-height:0;
	}
	.l-block01 .l-block01-map img{
		max-width:336px;
		width:100%;
	}
	.l-block01 .p-googlemap{
		padding:0 0 25px;
	}
	.l-block01 .p-message{
		font-size:11px;
		line-height:2;
		font-weight:bold;
		text-align:center;
	}	
	.l-block01 .l-block01-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0 0px;
		display:block;
	}
	.l-block01 .l-block01-table .p-btn {
		width: 100%;
		display:block;
		vertical-align:top;
		margin-bottom:10px;
	}
	.l-block01 .l-block01-table .p-btn:nth-child(1) {
		padding-right:0;
	}
	.l-block01 .l-block01-table .p-btn:nth-child(2) {
		padding-left:0;
		padding-right:0;
	}
	.l-block01 .l-block01-table .p-btn:nth-child(3) {
		padding-left:0;
	}
	.l-block01 .l-block01-table .p-btn a {
		display:block;
		font-size:12px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:15px 0px;
		border:1px solid #afa27d;
		background:url(../img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
		background-size:5px auto;
		font-weight:bold;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:50px 10px 45px;
		background-color:#cdd6bf;
	}
	.l-block02 > div {
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:50px 10px 15px;
	}
	.l-block02 h3 {
		padding:0px 0 35px;
		font-size:11px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block02 h3 span {
		display:block;
		font-size:24px;
		font-weight:400;
	}
	.l-block02 .l-block02-map{
		width:100%;
		margin:0 auto;
		padding:0 0 25px;	
		line-height:0;
	}
	.l-block02 .l-block02-map img{
		max-width:900px;
		width:100%;
		border:1px solid #897e63;
	}
	.l-block02 .p-googlemap{
		padding:0 0 25px;
	}
	.l-block02 > div > .p-message{
		font-size:11px;
		line-height:2;
		font-weight:bold;
		text-align:center;
		padding-bottom:40px;
	}
	
	.l-block02 .l-block02-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: left;
		padding:0px 0 0px;
	}
	.l-block02 .l-block02-table > div {
		width: 100%;
		margin: 0 auto 0;
		text-align: left;
		padding:0px 0 35px;
	}
	.l-block02 .l-block02-table > div > .p-title {
		font-size:16px;
		line-height:2;
		color:#aa9268;
		font-weight:bold;
		border-bottom:1px solid #afa27d;
	}
	.l-block02 .l-block02-table > div > .p-message {
		padding-top:15px;
		text-align:left;
		font-size:11px;
		line-height:2;
	}
	.l-block02 .l-block02-table > div > .p-btn {
		text-align: center;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 10px 45px;
		background-color:#cdd6bf;
	}
	.l-block03 > div {
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:50px 10px 25px;
	}
	.l-block03 h3 {
		padding:0px 0 45px;
		font-size:11px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block03 h3 span {
		display:block;
		font-size:24px;
		font-weight:400;
	}
	.l-block03 .l-block03-table {
		width: 100%;
		margin: 0 auto 0;
		padding:0;
	}
	.l-block03 .l-block03-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding-bottom:25px;
	}
	.l-block03 .l-block03-table > div:nth-child(odd) {
		padding-right:0;
		text-align:center;
	}
	.l-block03 .l-block03-table > div:nth-child(even) {
		padding-left:0;
		text-align:center;
	}
	.l-block03 .l-block03-table > div .p-image {
		text-align: center;
		margin-bottom:0;
		display: inline-block;
		position: relative;
		width:auto;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block03 .l-block03-table > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		display: inline-block;
		border: 10px solid rgba(255,255,255,0.70);
	}
	.l-block03 .l-block03-table  > div .p-image img{
		max-width: 100%;
		width:100%;
	}
	.l-block03 .l-block03-table > div .p-message {
		text-align:center;
		font-size:18px;
		line-height:2;
		color:#aa9268;
		padding-top:15px;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 10px 50px;
		background-color:#cdd6bf;
	}
	.l-block04 > div {
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:55px 10px 50px;
	}
	.l-block04 h3 {
		padding:0px 0 35px;
		font-size:11px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block04 h3 span {
		display:block;
		font-size:24px;
		font-weight:400;
	}
	.l-block04 .l-block04-table {
		width: 100%;
		margin: 0 auto 0;
		padding:0;
	}
	.l-block04 .l-block04-table > div {
		width: 100%;
		margin: 0 auto 0;
		padding:10px 0;
		border-bottom:1px solid #afa27d;
	}
	.l-block04 .l-block04-table > div .p-question {
		width:100%;
		display:table;
	}
	.l-block04 .l-block04-table > div .p-question span {
		display:table-cell;
		vertical-align:middle;
	}
	.l-block04 .l-block04-table > div .p-question span:nth-child(1) {
		font-size:14px;
		color:#aa9268;
		width:30px;
		text-align:left;
	}
	.l-block04 .l-block04-table > div .p-question span:nth-child(2) {
		font-size:11px;
		line-height:2;
		font-weight:bold;
		width:auto;
		text-align:left;
	}
	.l-block04 .l-block04-table > div .p-question span:nth-child(3) {
		font-size:14px;
		color:#aa9268;
		width:30px;
		text-align:center;
	}
	.l-block04 .l-block04-table > div .p-answer {
		width:100%;
		display:table;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
	}
	.l-block04 .l-block04-table > div .p-answer span {
		display:table-cell;
		vertical-align:top;
	}
	.l-block04 .l-block04-table > div .p-answer span:nth-child(1) {
		font-size:18px;
		color:#cc0000;
		width:30px;
		text-align:left;
	}
	.l-block04 .l-block04-table > div .p-answer span:nth-child(2) {
		font-size:11px;
		line-height:2;
		font-weight:bold;
		width:auto;
		text-align:left;
		padding-top:5px;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	.p-common-btn2 {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
		margin-top:20px;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/