@import url("../../common/styles/faircalender_sp.css") only screen and (max-width: 736px);
@import url("../../common/styles/faircalender_pc.css") only screen and (min-width: 737px);


/*	fair
================================================== */
.fair{
	margin: 0 0 100px;
	position: relative;
	padding-top: 100px;
}
.fair .titleBox {
	text-align: center;
}
.fair .titleBox h2 {
	margin-bottom: 30px;
	position: relative;
	font-weight: normal;
}
.fair .titleBox h2 span{
	font-size: 48px;
	display: inline-block;
	position: relative;
	left: -0.5em;
	top: 0;
	transform: rotate(-8deg)
}
.fair .titleBox h2 em{
	display: inline-block;
	font-size: 14px;
	position: relative;
	bottom: -2em;
	left: -4em;
	letter-spacing: 3px;
}
.fair .title {
	margin-bottom: 45px;
	text-align: center;
}
.fair .title h3{
	font-size: 24px;
	letter-spacing: 6px;
	text-indent: 6px;
}
.fair .title span{
	display: block;
	letter-spacing: 2px;
}

/*----------------------------------------
	HeadLine
------------------------------------------*/
.fair .headline {
	font-size: 10px;
}
.fair .headline img {
	max-width: 100%;
}
.fair .headline {
	clear: both;
	display:flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: stretch;
	align-items:stretch;
	margin: 4rem 0 0;
}
.fair .headline>*{
}
.fair .headline .pickup{
	width: 45%;
}
.fair .headline .calenders{
	width: 46%;
}

.fair h4{
	margin-bottom: 1rem;
	padding-bottom: 1.5rem;
	text-align: center;
}
.fair h4 span{
	display: block;
	margin-bottom: .5rem;
	font-family: 'Cinzel', serif;
	font-size: 2rem;
	line-height: 1;
	letter-spacing: .1em;
}



/*----------------------------------------
	Pick Up
------------------------------------------*/
.fair .pickup {
	overflow: hidden;
}
.fair .pickup figure{
	margin-bottom: 1rem;
	overflow: hidden;
}
.fair .pickup h5{
	margin-bottom: 1rem;
	text-align: left;
	font-size: 16px;
}
.fair .pickup p{
	margin-bottom: 1rem;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
}
.fair .pickup .linkBox{
	margin-bottom: 3rem;
	text-align: center;
}
.fair .pickup .linkBox a.btn{
	margin: 0 auto;
}
.fair .pickup .moreplus span{
	margin: 0 auto;
}
.fair .pickup .more {
	display: block;
	font-weight: bold;
	font-size: 13px;
	border-bottom: 2px solid #85C5B7;
	background: url(/wedding/common/img/arrow_bk.png) no-repeat right center;
	background-size: 6px auto;
	padding: 4px 16px 2px 2px;
	margin: 0 auto;
	width: 71px;
}


.pickup_slide {
	position: relative;
	bottom: 0;
}
.pickup_slide .nav {
	position: absolute;
	bottom: 0;
}

/*----------------------------------------
	More
------------------------------------------*/
.fair>.moreplus a{
	width: 30rem;
	margin: 6rem auto 0;
	font-size: 1.3rem;
	padding: 20px;
}


/*----------------------------------------
	Prev & Next
------------------------------------------*/
main .pickup_slide .nav {
	width: 100%;
	overflow: hidden;
	margin-top: 4rem;
	z-index: 3;
}
main .pickup_slide .nav li{
	font-family: 'Cinzel', serif;
	font-size: 1.2rem;
	line-height: 1;
	position: relative;
}
main .pickup_slide .nav li:hover{
	cursor: pointer;
}
main .pickup_slide .nav li::before{
	content: "";
	display: block;
	width: 5rem;
	border-bottom: 1px solid  #85C5B7;
	position: absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
}
	main .pickup_slide .nav li.prev::before{
		left: 0;
	}
	main .pickup_slide .nav li.next::before{
		right: 0;
	}
main .pickup_slide .nav li::after{
	content:"";
	display:block;
	width:1rem;height:1rem;
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%) rotate(45deg) ;
	-moz-transform:translateY(-50%) rotate(45deg) ;
	transform:translateY(-50%) rotate(45deg) ;
}
	main .pickup_slide .nav li.prev::after{
		border-left:1px solid #85C5B7;
		left: .2rem;
	}
	main .pickup_slide .nav li.next::after{
		border-top:1px solid #85C5B7;
		right: .2rem;
	}
main .pickup_slide .nav li.prev{
	float: left;
	padding-left: 6rem;
}
main .pickup_slide .nav li.next{
	float: right;
	text-align: right;
	padding-right: 6rem;
}
main .pickup_slide .nav li span{
	display: inline-block;
	width: 3rem;
	text-align: center;
}
main .pickup_slide .nav li em{
	display: block;
	margin-bottom: .3rem;
	font-size: 2rem;
}




/*----------------------------------------
	Fair Category
------------------------------------------*/
.fair .calenders {
	overflow: hidden;
}
.fair .fairct {
	display:flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: stretch;
	align-items:stretch;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	padding-top: 8rem;
}
.fair .fairct h3{
	width: 100%;
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.fair .fairct h3::after{
	content: "";
	display: block;
	width: 90%;
	max-width: 450px;
	border-bottom: 1px solid  #BCAB7E;
	margin: 1.5rem auto 6rem;
}
.fair .fairct .ct{
	width: 30%;
	display:flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-bottom:15px;
}
.fair .fairct .ct>*{
	width: 100%;
}
.fair .fairct .ct figure img{
	width: 100%;
	display: block;
}
.fair .fairct .ct figure{
	border: 1px solid  #EDEFE6;
}
.fair .fairct .ct *{
	text-align: center;

}
.fair .fairct .ct h4{
	margin-bottom: .5rem;
	font-family: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "source-han-serif-japanese", serif;
	font-size: 15px;
}
.fair .fairct .ct .summary{
	font-size: 1.3rem;
}

.fair .fairct .ct .details{
	margin-top: 1rem;
}