@charset "utf-8";
/* CSS Document */

#wrapper{
	letter-spacing:0.1em;	
}

.l-mvBlock{
	position:relative;
	z-index:10;
}

.l-mv{
	width: 100%;
	margin:0px auto 0;
	text-align:center;
	line-height:0;
	background:url(../img/bg_mv_pc.png) top center no-repeat transparent;
	background-size: cover;
	height:550px;
	display:table;
	
	
	/*padding-top:43.75%;*/
	position:relative;
}
.l-mv > div{
	width:100%;
	display:table-cell;
	vertical-align:middle;
}
.l-mv div img{
	max-width:411px;
	width: 100%;
}
.l-mv div p{
	width: 100%;
	font-size:16px;
	line-height:3;
	letter-spacing:0.2em;
	color:#FFFFFF;
}

.l-block01 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:55px 0 75px;
	background-color:#cdd7bf;
}
.l-block01 h2 {
	line-height:0;
	padding-bottom:50px;
}
.l-block01 h2 img {
	max-width:605px;
	width:100%;
}
.l-block01 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-30px;
}
.l-block01 h2 > span span {
	display:block;
	font-size:18px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block01 .l-block01-table{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	
	flex-direction: row-reverse;/*横並び・右から左*/
	/*flex-direction: column;*/
	justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
	line-height:0;
}
.l-block01 .l-message {
	width: 51.7%;
	background-color:#f0f3ec;
	line-height:2;
}
.l-block01 .l-message p {
	font-size:12px;
	line-height:1.8;
	text-align:justify;
	padding:0px 22% 10px 40px;
	position:relative;
	top:-25px;
	font-weight:normal !important;
	letter-spacing:0.12em;
}
.l-block01 .l-message p span {
	font-size:24px;
	line-height:2;
	display:block;
	color:#514e47;
	padding-bottom:10px;
	letter-spacing:0.1em;
}
.l-block01 .l-image p {
}
.l-block01 .l-image {
	width: 48.3%;
}
.l-block01 .l-image img {
	width: 100%;
}

.l-block02 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:55px 10px 100px;
}
.l-block02 h2 {
	line-height:0;
	padding-bottom:50px;
}
.l-block02 h2 img {
	max-width:685px;
	width:100%;
}
.l-block02 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-45px;
}
.l-block02 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block02 .l-message {
	max-width:435px;
	width:100%;
	margin:0 auto;
}
.l-block02 .l-message .p-title{
	font-size: 20px;
    line-height: 2;
    display: block;
    color: #514e47;
	text-align:center;
	font-weight:normal !important;
	letter-spacing:0.2em;
}
.l-block02 .l-message .p-message {
	font-size:12px;
	line-height:1.8;
	font-weight:normal !important;
	text-align:center;
	padding:20px 0 50px;
	letter-spacing:0.12em;
}
.l-block02 .p-btn {
	display:inline-block;
	font-size:11px;
	line-height:2;
	text-align:center;
	color:#8c8c8c;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #8c8c8c;
	background:url(../../common/img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	letter-spacing:0.12em;
}
/*.l-block02 .p-btn:before {
	font-size:14px;
	line-height:1.7;
	text-align:center;
	color:#565656;
	text-decoration:none;
	padding:12px 60px;
	border:1px solid #565656;
}*/
.l-block02 .l-block02-table{
	width:100%;
	text-align:center;
	margin:0 auto;
	padding:0;
}
.l-block02 .l-block02-table > div{
	width:25%;
	display:inline-block;
	vertical-align:top;
}
.l-block02 .l-block02-table > div:nth-child(1){
	margin-top:-215px;
	padding-right:20px;
}
.l-block02 .l-block02-table > div:nth-child(2){
	padding-top:85px;
	padding-left:10px;
	padding-right:10px;
}
.l-block02 .l-block02-table > div:nth-child(3){
	padding-top:145px;
	padding-left:10px;
	padding-right:10px;
}
.l-block02 .l-block02-table > div:nth-child(4){
	margin-top:-210px;
	padding-left:20px;
}
.l-block02 .l-block02-table > div p{
	
}
.l-block02 .l-block02-table > div p a{
	display: block;
	position: relative;
	width:100%;
	height:100%;
	text-decoration:none;
}
.l-block02 .l-block02-table > div p a span{
	position: absolute;
	left:0;
	right:0;
	bottom:-10px;
	display:inline-block;
	padding:5px 10px;
	background-color:#FFFFFF;
	color:#514e47;
	width:100px;
	text-align:center;
	margin:0 auto;
	z-index:100;
	font-size:12px;
	letter-spacing:0.12em;
}
.l-block02 .l-block02-table > div p a::after{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 25px);
  display: inline-block;
  border: 10px solid rgba(255,255,255,0.70);
}
.l-block02 .l-block02-table > div p img{
	max-width:250px;
	width:100%;
}

.l-block03 {
	width: 100%;
	margin: 120px auto 0;
	text-align: center;
	padding:0px 0px 70px;
	background-color:#cdd6bf;
}
.l-block03 h2 {
	line-height:0;
	padding-bottom:50px;
}
.l-block03 h2 img {
	max-width:243px;
	width:100%;
	margin-top:-127px;
	position: relative;
    top: -10px;
}		
.l-block03 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-16px;
}
.l-block03 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block03 .l-block03-table {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0px 0px;
	display:table;
}
.l-block03 .l-block03-table > p {
	width: 50%;
	display:table-cell;
}
.l-block03 .l-block03-table > p:nth-child(1) {
	padding-right:25px;
	text-align:right;
}
.l-block03 .l-block03-table > p:nth-child(2) {
	padding-left:25px;
	text-align:left;
}
.l-block03 .l-block03-table > p a {
	display: block;
	position: relative;
	width:100%;
	height:100%;
	text-decoration:none;
	line-height:0;
}
.l-block03 .l-block03-table > p a span{
	position: absolute;
	left:0;
	bottom:0px;
	display:inline-block;
	padding:15px 10px;
	background-color:#FFFFFF;
	color:#514e47;
	width:222px;
	text-align:center;
	z-index:100;
	font-size:12px;
	letter-spacing:0.12em;
}
.l-block03 .l-block03-table > p a::after{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: inline-block;
  border: 10px solid rgba(255,255,255,0.70);
}
.l-block03 .l-block03-table > p img {
	/*max-width: 521px;*/
	width:100%;
}

.l-block04 {
	width: 100%;
	margin: 0px auto 0;
	text-align: center;
	padding:95px 0px 95px;
}
.l-block04 h2 {
	line-height:0;
	padding-bottom:90px;
}
.l-block04 h2 img {
	max-width:223px;
	width:100%;
}
.l-block04 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-37px;
}
.l-block04 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block04 .l-block04-table01 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0px 0px;
	display:table;
}
.l-block04 .l-block04-table01 > div {
	width: 50%;
	display:table-cell;
	vertical-align:top;
}
.l-block04 .l-block04-table01 > div p {
	font-family: 'Cinzel', serif;
	font-size:24px;
	line-height:1.2;
	color:#514e47;
	letter-spacing:0.12em;
	/*font-weight:bold;*/
}
.l-block04 .l-block04-table01 > div p span {
	display:block;
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-size:11px;
	line-height:2;
	color:#8f8f8f;
	font-weight:normal !important;
	letter-spacing:0.02em;
}
.l-block04 .l-block04-table02 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0px 0px;
	display:table;
}
.l-block04 .l-block04-table02 > div {
	width: 50%;
	display:table-cell;
	vertical-align:top;
}
.l-block04 .l-block04-table02 > .l-calender02 {
	padding:0 10px;
}
.l-block04 .l-block04-table02 > .l-calender02 img {
	max-width:407px;
	width:100%;
}
.l-block04 .l-block04-table02 > .l-category02 {
	border-left:1px solid #efe4e4;
}
.l-block04 .l-block04-table02 > .l-category02 .p-title {
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-size:11px;
	line-height:2;
	color:#000000;
	font-weight:normal !important;
	padding-top:10px;
	padding-bottom:10px;
	letter-spacing:0.02em;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table {
	width:100%;
	margin:0 auto;
	padding:0 0px 0 50px;
	text-align:center;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div {
	width:33.3%;
	display:inline-block;
	vertical-align:top;
	padding:20px 0px 0;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image {
	width:100%;
	display:block;
	text-align:center;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image a {
    width:  135px;
    height: 135px;
    border-radius: 50%;
    display: inline-block;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div:nth-child(1) .p-image a {
	background: url("../img/img_block04_02_1_pc.png") no-repeat;
	background-size:cover;
    background-position: center center;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div:nth-child(2) .p-image a {
	background: url("../img/img_block04_02_2_pc.png") no-repeat;
	background-size:cover;
    background-position: center center;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div:nth-child(3) .p-image a {
	background: url("../img/img_block04_02_3_pc.png") no-repeat;
	background-size:cover;
    background-position: center center;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div:nth-child(4) .p-image a {
	background: url("../img/img_block04_02_4_pc.png") no-repeat;
	background-size:cover;
    background-position: center center;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div:nth-child(5) .p-image a {
	background: url("../img/img_block04_02_5_pc.png") no-repeat;
	background-size:cover;
    background-position: center center;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div:nth-child(6) .p-image a {
	background: url("../img/img_block04_02_6_pc.png") no-repeat;
	background-size:cover;
    background-position: center center;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image img {
	width:100%;
}
.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-message {
	font-size:11px;
	color:#afa27d;
	letter-spacing:0.02em;
}
.l-block04 .l-btn a {
	margin-top:80px;
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	padding:20px 100px;
	background: #897e63;
	background-size:6px auto;
	position:relative;
	letter-spacing:0.05em;
}
.l-block04 .l-btn a:before {
	content: ' ';
	background:url(../../common/img/ico_viewmore2_pc.png) 0 0 no-repeat transparent;
	position: absolute;
	top: 35px;
	left: 30px;
	width: 6px;
	height: 11px;
	background-size: 6px auto;
}
.l-block04 .l-btn a span {
	display:block;
	font-family: 'Josefin Sans Light', sans-serif;
	font-size: 9px;
	letter-spacing:0.22em;
}

.l-block05 {
	width: 100%;
	margin: 0px auto 0;
	text-align: center;
	padding:80px 0px 55px;
	background-color:#efece4;
}
.l-block05 .l-block05-1-table {
	width: 100%;
	margin: 0px auto 0;
	text-align: center;
	padding:0;
	display:table;
}
.l-block05 .l-block05-1-table > div {
	display:table-cell;
	vertical-align:middle;
}
.l-block05 .l-block05-1-table .l-block05-1 {
	width: 34%;
	text-align:left;
	padding-right:70px;
}
.l-block05 .l-block05-1-table .l-block05-1 .p-title {
	width: 100%;
	text-align:center;
	padding-bottom:40px;
}
.l-block05 .l-block05-1-table .l-block05-1 .p-title img {
	max-width: 201px;
	width:100%;
}
.l-block05 .l-block05-1-table .l-block05-1 .p-title > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-52px;
}
.l-block05 .l-block05-1-table .l-block05-1 .p-title > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block05 .l-block05-1-table .l-block05-1 .p-message {
	font-size:12px;
	line-height:1.8;
	color:#000000;
	font-weight:normal !important;
	padding-bottom:35px;
	letter-spacing:0.12em;
}
.l-block05 .l-btn a {
	display:block;
	font-size:12px;
	line-height:1.7;
	color:#514e47;
	text-align:center;
	text-decoration:none;
	padding:15px 0;
	border:1px solid #514e47;
	position:relative;
	letter-spacing:0.05em;
}
.l-block05 .l-btn a:before {
	content: ' ';
	background:url(../../common/img/ico_viewmore_pc.png) 0 0 no-repeat transparent;
	position: absolute;
	top: 28px;
	left: 30px;
	width: 6px;
	height: 11px;
	background-size: 6px auto;
}
.l-block05 .l-btn a span {
	display:block;
	font-family: 'Josefin Sans Light', sans-serif !important;
	font-size: 9px;
	letter-spacing:0.16em;
}

.l-block05 .l-block05-1-table .l-block05-2 {
	width: 66%;
	text-align:left;
}
.l-block05-2 .l-plan {
	width: 100%;
	display:table;
	margin:0 auto 25px;
	padding:0;
	text-align:center;
	background-color:#FFFFFF;
	border:1px solid #897e63;
}
/*PCでは3個目以降を表示しない*/
.l-block05-2 .l-plan:nth-child(n + 3) {
	display:none;
}
.l-block05-2 .l-plan > div {
	display:table-cell;
	vertical-align:top;
}
.l-block05-2 .l-plan .l-image {
	width: 275px;
	margin:0 auto;
	padding:0;
	text-align:center;
	position:relative;
	line-height:0;
}
.l-block05-2 .l-plan .p-pickup {
	position:absolute;
	top:0;
	left:0;
}
.l-block05-2 .l-plan .p-pickup img {
	max-width:70px;
	width:100%;
}
.l-block05-2 .l-plan .p-image {
	width:100%;
	background-color:#A8A8A8;
	overflow:hidden;
}
.l-block05-2 .l-plan .p-image img {
	max-width:275px;
	width:100%;
}
.l-block05-2 .l-plan .l-message {
	width: auto;
	margin:0 auto;
	padding:30px 30px 25px;
}
.l-block05-2 .l-plan .l-message .p-title {
	font-size:16px;
	color:#897e63;
	line-height:1.5;
	border-bottom:1px solid #efece4;
	text-align:left;
	padding-bottom:5px;
	letter-spacing:0.12em;
}
.l-block05-2 .l-plan .l-message .p-message {
	font-size:12px;
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	color:#000000;
	line-height:1.7;
	text-align:left;
	padding:10px 0;
	font-weight:normal !important;
	letter-spacing:0.02em;
}
.l-block05-2 .l-plan .l-message .p-kikan {
	font-size:12px;
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	color:#afa27d;
	line-height:1.7;
	text-align:left;
	padding:0 0 10px;
	letter-spacing:0.02em;
}

.l-block06 {
	width: 100%;
	margin: 0px auto 0;
	text-align: center;
	padding:100px 0px 130px;
}
.l-block06 h2 {
	line-height:0;
	padding-bottom:80px;
}
.l-block06 h2 img {
	max-width:130px;
	width:100%;
}
.l-block06 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-25px;
}
.l-block06 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block06 .l-block06-01 {
	width: 100%;
	margin: 0px auto 80px;
	text-align: center;
	padding:0px 0px 0px;
	background:url(../img/img_block06_01_pc.png) center center no-repeat transparent;
	background-size:100% auto;
	/*height:451px;*/
	padding-top:41%;	
	position:relative;
}
.l-block06 .l-block06-01 a {
	/*上下中央配置*/
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:rgba(255,255,255,0.8);
	border:none;
	color:#514e47;
	letter-spacing:0.12em;
}
.l-block06 .l-block06-02 {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	padding:0px;
}
.l-block06 .l-block06-02 > div {
	display:inline-block;
	width: 33.3%;
	margin: 0px auto;
	text-align: center;
}
.l-block06 .l-block06-02 > div:nth-child(1) {
	padding-right:30px;
}
.l-block06 .l-block06-02 > div:nth-child(2) {
	padding-left:15px;
	padding-right:15px;
}
.l-block06 .l-block06-02 > div:nth-child(3) {
	padding-left:30px;
}
.l-block06 .l-block06-02 > div .p-title {
	text-align: center;
	padding-bottom:25px;
}
.l-block06 .l-block06-02 > div .p-title img {
	max-width:125px;
	width:100%;
}
.l-block06 .l-block06-02 > div .p-image {
	text-align: center;
	margin-bottom:30px;
	display: block;
	position: relative;
	width:100%;
	height:100%;
	text-decoration:none;
	line-height:0;
}
.l-block06 .l-block06-02 > div .p-image:after{
	display: block;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: inline-block;
  border: 10px solid rgba(255,255,255,0.70);
}
.l-block06 .l-block06-02 > div .p-image img {
	/*max-width:320px;*/
	width:100%;
}

.l-block07 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:0px 0 0px;
	background-color:#cdd6bf;
}
.l-block07 .l-block07-table{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	
	flex-direction: row-reverse;/*横並び・右から左*/
	/*flex-direction: column;*/
	justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
	line-height:0;
}
.l-block07 .l-message {
	width: 44%;
	background-color:#cdd6bf;
	line-height:2;
	text-align:center;
}
.l-block07 .l-message h2 {
	line-height:0;
	padding-bottom:25px;
}
.l-block07 .l-message h2 img {
	max-width:210px;
	width:100%;
}
.l-block07 .l-message h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-30px;
}
.l-block07 .l-message h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block07 .l-message .p-message {
	font-size:12px;
	font-weight:normal !important;
	line-height:1.8;
	text-align:center;
	padding:0px 0 40px;
	letter-spacing:0.12em;
}
.l-block07 .l-message p a {
	border:1px solid #514e47;
	color:#514e47;
}
.l-block07 .l-image p {
}
.l-block07 .l-image {
	width: 56%;
}
.l-block07 .l-image img {
	width: 100%;
}

.l-block08 {
	width: 100%;
	margin: 0px auto 0;
	text-align: center;
	padding:80px 0px 80px;
}
.l-block08 .l-block08-01 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:0px 0px 0px;
	background:url(../img/bg_block08_pc.png) center center no-repeat transparent;
	background-size:100% auto;
	/*height:451px;*/
	padding-top:55.5%;	
	position:relative;
}
.l-block08 .l-block08-01 .l-block08-table h2 {
	line-height:0;
	padding-bottom:90px;
}
.l-block08 .l-block08-01 .l-block08-table > div > a img {
	max-width:124px;
	width:100%;
}
.l-block08 .l-block08-01 .l-block08-table h2 img {
	max-width:129px;
	width:100%;
}
.l-block08 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-18px;
}
.l-block08 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block08 .l-block08-01 .l-block08-table {
	width:300px;
	padding:35px 0;
	/*上下中央配置*/
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:rgba(255,255,255,0.8);
	border:none;
	color:#514e47;
}

.p-common-btn {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#8c8c8c;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #8c8c8c;
	background:url(../../common/img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	letter-spacing:0.12em;
}
.p-common-btn2 {
	display:block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#897e63;
	text-decoration:none;
	padding:10px 0;
	border:1px solid #897e63;
	background:url(../../common/img/ico_viewmore2_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	letter-spacing:0.12em;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		position:relative;
		z-index:10;
	}
	
	.l-mv{
		width: 100%;
		margin:0 auto;
		text-align:center;
		line-height:0;
		background:url(../img/bg_mv_sp.png) top center no-repeat transparent;
		background-size: cover;
		height:750px;
		display:table;
		position:relative;
	}
	.l-mv > div{
		width:100%;
		display:table-cell;
		vertical-align:middle;
	}
	.l-mv div img{
		max-width:578px;
		width: 100%;
	}
	.l-mv div p{
		width: 100%;
		font-size:26px;
		line-height:3;
		letter-spacing:0.2em;
		color:#FFFFFF;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:70px 0px 0px;
		background-color:#cdd7bf;
	}
	.l-block01 h2 {
		line-height:0;
		padding:0 40px 50px;
	}
	.l-block01 h2 img {
		max-width:670px;
		width:100%;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:18px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-60px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:36px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-table{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
		line-height:0;
	}
	.l-block01 .l-message {
		width: 100%;
		background-color:transparent;
		line-height:2;
		padding:0 40px;
	}
	.l-block01 .l-message p {
		font-size:22px;
		line-height:2;
		text-align:left;
		padding:0px 0 70px 0;
		padding-right:0%;
		position:static;
		top:-25px;
		letter-spacing:0.12em;
	}
	.l-block01 .l-message p span {
		font-size:30px;
		line-height:2;
		display:block;
		text-align:center;
		padding-bottom:10px;
		letter-spacing:0.1em;
	}
	.l-block01 .l-image p {
	}
	.l-block01 .l-image {
		width: 100%;
	}
	.l-block01 .l-image img {
		width: 100%;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:80px 0 130px;
		position:relative;
	}
	.l-block02:before{
		content: ' ';
		background:url(../img/bg_block02_01_sp.png) right top no-repeat transparent;
		position: absolute;
		top: 15%;
		right: 0;
		width: 395px;
		height: 578px;
		background-size: 395px auto;
		z-index:-1;
	}
	.l-block02:after{
		content: ' ';
		background:url(../img/bg_block02_02_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 71%;
		left: 0;
		width: 335px;
		height: 584px;
		background-size: 335px auto;
		z-index:-1;
	}
	.l-block02 h2 {
		line-height:0;
		padding:0 40px 60px;
	}
	.l-block02 h2 img {
		max-width:294px;
		width:100%;
	}
	.l-block02 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-20px;
	}
	.l-block02 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block02 .l-message {
		max-width:100%;
		width:100%;
		margin:0 auto;
		padding:0 0;
	}
	.l-block02 .l-message .p-title{
		font-size: 30px;
		line-height: 2;
		display: block;
		text-align:center;
	}
	.l-block02 .l-message .p-message {
		font-size:22px;
		line-height:2;
		text-align:justify;
		padding:30px 0 125px;
		position:relative;
	}
	.l-block02 .p-btn {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #8c8c8c;
		background:url(../../common/img/ico_viewmore_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}
	.l-block02 .l-block02-table{
		width:100%;
		text-align:center;
		margin:0 auto;
		padding:0 0 150px;
		position:relative;
	}
	.l-block02 .l-block02-table > div{
		width:50%;
		display:inline-block;
		vertical-align:top;
	}
	.l-block02 .l-block02-table > div:nth-child(1){
		margin-top:0;
		padding-right:18px;
	}
	.l-block02 .l-block02-table > div:nth-child(2){
		padding-top:0;
		padding-left:18px;
		padding-right:0;
		position:relative;
		top:115px;
	}
	.l-block02 .l-block02-table > div:nth-child(3){
		padding-top:50px;
		padding-left:0;
		padding-right:18px;
	}
	.l-block02 .l-block02-table > div:nth-child(4){
		margin-top:165px;
		padding-left:18px;
	}
	.l-block02 .l-block02-table > div p{
		
	}
	.l-block02 .l-block02-table > div p img{
		max-width:100%;
		width:100%;
	}
	.l-block02 .l-block02-table > div p a span{
		font-size:18px;
		width:170px;
	}
	
	.l-block03 {
		width: 100%;
		margin: 200px auto 0;
		text-align: center;
		padding:0px 0px 55px;
		background-color:#cdd6bf;
	}
	.l-block03 h2 {
		line-height:0;
		padding-bottom:50px;
	}
	/*.l-block03 h2 img {
		max-width:586px;
		width:100%;
		margin-top:-213px;
	}*/
	.l-block03 h2 img {
		max-width:384px;
		width:100%;
		margin-top:-212px;
		position: relative;
    	top: -40px;
	}
	.l-block03 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-32px;
	}
	.l-block03 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block03 .l-block03-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0px 0px;
		display:table;
	}
	.l-block03 .l-block03-table > p {
		width: 50%;
		display:table-cell;
	}
	.l-block03 .l-block03-table > p:nth-child(1) {
		padding-right:20px;
		text-align:right;
	}
	.l-block03 .l-block03-table > p:nth-child(2) {
		padding-left:20px;
		text-align:left;
	}
	.l-block03 .l-block03-table > p img {
		max-width: 521px;
		width:100%;
	}
	.l-block03 .l-block03-table > p a span{
		position: absolute;
		left:0;
		bottom:0px;
		display:inline-block;
		padding:20px 20px;
		background-color:#FFFFFF;
		color:#514e47;
		width:280px;
		text-align:center;
		z-index:100;
		font-size:16px;
		letter-spacing:0.12em;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:90px 0px 90px;
	}
	.l-block04 h2 {
		line-height:0;
		padding-bottom:60px;
	}
	.l-block04 h2 img {
		max-width:446px;
		width:100%;
	}
	.l-block04 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-74px;
	}
	.l-block04 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block04 .l-block04-table01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0px 0px;
		display:table;
	}
	.l-block04 .l-block04-table01 > div {
		width: 50%;
		display:table-cell;
		vertical-align:top;
		padding:0 0px;
	}
	.l-block04 .l-block04-table01 > .l-calender01 {
		border-right:1px solid #efe4e4;
	}
	.l-block04 .l-block04-table01 > div p {
		font-family: 'Cinzel', serif;
		font-size:36px;
		line-height:1.2;
		color:#514e47;
		padding-bottom:10px;
	}
	.l-block04 .l-block04-table01 > div p:hover {
		cursor:pointer;
	}
	.l-block04 .l-block04-table01 > div p.p-current {
		border-bottom:1px solid #efe4e4;
	}
	.l-block04 .l-block04-table01 > div p span {
		display:block;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:22px;
		line-height:2;
		color:#8f8f8f;
		font-weight:bold;
	}
	.l-block04 .l-block04-table02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0px 0px;
		display:block;
	}
	.l-block04 .l-block04-table02 > div {
		width: 100%;
		display:block;
		vertical-align:top;
	}
	.l-block04 .l-block04-table02 > .l-calender02 {
		padding:0 10px;
		display:block;
	}
	.l-block04 .l-block04-table02 > .l-calender02 img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-table02 > .l-category02 {
		border-left:none;
		display:none;
		padding-top:30px;
	}
	.l-block04 .l-block04-table02 > .l-category02 .p-title {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:22px;
		line-height:2;
		color:#000000;
		font-weight:bold;
		padding-bottom:10px;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table {
		width:100%;
		margin:0 auto;
		padding:0 0px 0 0px;
		text-align:left;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div {
		width:25%;
		display:inline-block;
		vertical-align:top;
		padding:20px 20px 0;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image {
		width:100%;
		display:block;
		text-align:center;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image img {
		max-width:270px;
		width:100%;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-message {
		font-size:22px;
		color:#afa27d;
	}
	.l-block04 .l-btn a {
		margin-top:80px;
		display:inline-block;
		font-size:24px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:20px 100px;
		background: #897e63;
		background-size:6px auto;
		position:relative;
	}
	.l-block04 .l-btn a:before {
		content: ' ';
		background:url(../../common/img/ico_viewmore2_sp.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 40px;
		left: 30px;
		width: 16px;
		height: 30px;
		background-size: 16px auto;
	}
	.l-block04 .l-btn a span {
		display:block;
		font-size: 18px;
	}
	
	.l-block05 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:80px 0px 140px;
		background-color:#efece4;
	}
	.l-block05 .l-block05-1-table {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:0;
		display:block;
	}
	.l-block05 .l-block05-1-table > div {
		display:block;
		vertical-align:middle;
	}
	.l-block05 .l-block05-1-table .l-block05-1 {
		width: 100%;
		text-align:left;
		padding-right:0;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title {
		width: 100%;
		text-align:center;
		padding-bottom:60px;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title img {
		max-width: 400px;
		width:100%;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-104px;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-message {
		font-size:22px;
		line-height:2;
		color:#000000;
		font-weight:bold;
		padding-bottom:60px;
		letter-spacing:0;
		text-align:justify;
	}
	.l-block05 .l-block05-1 .l-btn a {
		display:none;
	}
	.l-block05 .l-block05-3 .l-btn a {
		display:block;
	}
	.l-block05 .l-btn a {
		font-size:24px;
		line-height:1.7;
		color:#514e47;
		text-align:center;
		text-decoration:none;
		padding:30px 0;
		border:1px solid #514e47;
		position:relative;
	}
	.l-block05 .l-btn a:before {
		content: ' ';
		background:url(../../common/img/ico_viewmore_pc.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 60px;
		left: 40px;
		width: 8px;
		height: 16px;
		background-size: 8px auto;
	}
	.l-block05 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 18px;
	}
	
	.l-block05 .l-block05-1-table .l-block05-2 {
		width: 100%;
		text-align:left;
	}
	.l-block05-2 .l-plan {
		width: 100%;
		display:block;
		margin:0 auto 0;
		padding:0;
		text-align:center;
		background-color:#FFFFFF;
		border:1px solid #897e63;
	}
	/*SPでは3個目以降も表示*/
	.l-block05-2 .l-plan:nth-child(n + 3) {
		display:block;
	}
	.l-block05-2 .l-plan > div {
		display:block;
		vertical-align:top;
	}
	.l-block05-2 .l-plan .l-image {
		width: 100%;
		margin:0 auto;
		padding:0;
		text-align:center;
		position:relative;
		line-height:0;
	}
	.l-block05-2 .l-plan .p-pickup {
		position:absolute;
		top:0;
		left:0;
	}
	.l-block05-2 .l-plan .p-pickup img {
		max-width:140px;
		width:100%;
	}
	.l-block05-2 .l-plan .p-image {
		width:100%;
		background-color:#A8A8A8;
		overflow:hidden;
	}
	.l-block05-2 .l-plan .p-image img {
		max-width:100%;
		width:100%;
	}
	.l-block05-2 .l-plan .l-message {
		width: auto;
		margin:0 auto;
		padding:40px 40px 40px;
	}
	.l-block05-2 .l-plan .l-message .p-title {
		font-size:32px;
		color:#897e63;
		line-height:1.5;
		border-bottom:1px solid #efece4;
		text-align:left;
		padding-bottom:10px;
	}
	.l-block05-2 .l-plan .l-message .p-message {
		font-size:24px;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		color:#000000;
		line-height:1.7;
		text-align:left;
		padding:20px 0;
		font-weight:bold;
	}
	.l-block05-2 .l-plan .l-message .p-kikan {
		font-size:24px;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		color:#afa27d;
		line-height:1.7;
		text-align:left;
		padding:0 0 20px;
	}
	.l-block05-3 {
		padding-top:100px;
	}
	
	.l-block06 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:150px 0px 120px;
	}
	.l-block06 h2 {
		line-height:0;
		padding-bottom:40px;
	}
	.l-block06 h2 img {
		max-width:260px;
		width:100%;
	}
	.l-block06 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-50px;
	}
	.l-block06 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block06 .l-block06-01 {
		width: 100%;
		margin: 0px auto 0px;
		text-align: center;
		padding:0px 0px 0px;
		background:url(../img/img_block06_01_sp.png) center center no-repeat transparent;
		background-size:100% auto;
		height:900px;
		padding-top:136%;	
		position:relative;
	}
	.l-block06 .l-block06-01 a {
		/*上下中央配置*/
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color:rgba(255,255,255,0.8);
		border:none;
		color:#514e47;
		width:390px;
	}	
	.l-block06 .l-block06-02 {
		width: 100%;
		margin: 0px auto;
		text-align: center;
		padding:0px;
	}
	.l-block06 .l-block06-02 > div {
		display:block;
		width: 100%;
		margin: 0px auto;
		text-align: center;
	}
	.l-block06 .l-block06-02 > div:nth-child(1) {
		padding-right:0;
		padding-top:100px;
	}
	.l-block06 .l-block06-02 > div:nth-child(2) {
		padding-left:0;
		padding-right:0;
		padding-top:80px;
	}
	.l-block06 .l-block06-02 > div:nth-child(3) {
		padding-left:0;
		padding-top:80px;
	}
	.l-block06 .l-block06-02 > div .p-title {
		text-align: center;
		padding-bottom:30px;
	}
	.l-block06 .l-block06-02 > div .p-title img {
		max-width:250px;
		width:100%;
	}
	.l-block06 .l-block06-02 > div .p-image {
		text-align: center;
		margin-bottom:30px;
		display: block;
		position: relative;
		width:100%;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block06 .l-block06-02 > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		display: inline-block;
		border: 10px solid rgba(255,255,255,0.70);
	}
	.l-block06 .l-block06-02 > div .p-image img {
		/*max-width:320px;*/
		width:100%;
	}
	.l-block06 .l-block06-02 > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block06 .l-block06-02 > div p .p-common-btn {
		width:400px;
	}
	.l-block07 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:90px 0px 80px;
		background-color:#cdd6bf;
	}
	.l-block07 .l-block07-table{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
		line-height:0;
	}
	.l-block07 .l-message {
		width: 100%;
		background-color:transparent;
		line-height:2;
		padding:0 20px;
	}
	.l-block07 .l-message h2 {
		line-height:0;
		padding:0 20px 40px;
	}
	.l-block07 .l-message h2 img {
		max-width:420px;
		width:100%;
	}
	.l-block07 .l-message h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-60px;
	}
	.l-block07 .l-message h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block07 .l-message .p-message {
		font-size:22px;
		line-height:2;
		text-align:center;
		padding:0px 0 70px 0;
		padding-right:0%;
	}
	.l-block07 .l-message p a {
		display:none;
		border:1px solid #514e47;
		color:#514e47;
	}
	.l-block07 .l-image {
		padding:0 20px 80px;
	}
	.l-block07 .l-image p {
	}
	.l-block07 .l-image {
		width: 100%;
	}
	.l-block07 .l-image img {
		width: 100%;
	}
	.l-block07 > p a {
		width:400px;
		border:1px solid #514e47;
		color:#514e47;
	}
	
	.l-block08 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:70px 0px 70px;
	}
	.l-block08 .l-block08-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		background:url(../img/bg_block08_sp.png) center center no-repeat transparent;
		background-size:100% auto;
		/*height:451px;*/
		padding-top:148.9%;	
		position:relative;
	}
	.l-block08 .l-block08-01 .l-block08-table h2 {
		line-height:0;
		padding-bottom:50px;
	}
	.l-block08 .l-block08-01 .l-block08-table h2 img {
		max-width:258px;
		width:100%;
	}
	.l-block08 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-70px;
	}
	.l-block08 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block08 .l-block08-01 .l-block08-table a {
		display:inline-block;
	}
	.l-block08 .l-block08-01 .l-block08-table a img {
		max-width:208px;
		width:100%;
	}
	.l-block08 .l-block08-01 .l-block08-table {
		width:570px;
		padding:10px 10px;
		/*上下中央配置*/
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color:rgba(255,255,255,1.0);
		border:none;
		color:#514e47;
	}
	.l-block08 .l-block08-01 .l-block08-table > div {
		border:1px solid #cdd6bf;
		padding:90px 20px 60px;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #8c8c8c;
		background:url(../../common/img/ico_viewmore_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}	
	.p-common-btn2 {
		display:block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:12px 0;
		border:1px solid #897e63;
		background:url(../../common/img/ico_viewmore2_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		position:relative;
		z-index:10;
	}
	
	.l-mv{
		width: 100%;
		margin:0 auto;
		text-align:center;
		line-height:0;
		background:url(../img/bg_mv_sp.png) top center no-repeat transparent;
		background-size: cover;
		height:525px;
		display:table;
		position:relative;
	}
	.l-mv > div{
		width:100%;
		display:table-cell;
		vertical-align:middle;
	}
	.l-mv div img{
		max-width:405px;
		width: 100%;
	}
	.l-mv div p{
		width: 100%;
		font-size:18px;
		line-height:3;
		letter-spacing:0.2em;
		color:#FFFFFF;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:50px 0px 0px;
		background-color:#cdd7bf;
	}
	.l-block01 h2 {
		line-height:0;
		padding:0 30px 35px;
	}
	.l-block01 h2 img {
		max-width:469px;
		width:100%;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:13px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-45px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:25px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-table{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
		line-height:0;
	}
	.l-block01 .l-message {
		width: 100%;
		background-color:transparent;
		line-height:2;
		padding:0 30px;
	}
	.l-block01 .l-message p {
		font-size:15px;
		line-height:2;
		text-align:left;
		padding:0px 0 50px 0;
		padding-right:0%;
		position:static;
		top:-25px;
	}
	.l-block01 .l-message p span {
		font-size:21px;
		line-height:2;
		display:block;
		text-align:center;
		padding-bottom:7px;
	}
	.l-block01 .l-image p {
	}
	.l-block01 .l-image {
		width: 100%;
	}
	.l-block01 .l-image img {
		width: 100%;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:56px 0 90px;
	}
	.l-block02:before{
		content: ' ';
		background:url(../img/bg_block02_01_sp.png) right top no-repeat transparent;
		position: absolute;
		top: 13%;
		right: 0;
		width: 277px;
		height: 405px;
		background-size: 277px auto;
	}
	.l-block02:after{
		content: ' ';
		background:url(../img/bg_block02_02_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 67%;
		left: 0;
		width: 235px;
		height: 409px;
		background-size: 235px auto;
		z-index:-1;
	}
	.l-block02 h2 {
		line-height:0;
		padding-bottom:42px;
	}
	.l-block02 h2 img {
		max-width:206px;
		width:100%;
	}
	.l-block02 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-15px;
	}
	.l-block02 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block02 .l-message {
		max-width:100%;
		width:100%;
		margin:0 auto;
	}
	.l-block02 .l-message .p-title{
		font-size: 21px;
		line-height: 2;
		display: block;
		text-align:center;
	}
	.l-block02 .l-message .p-message {
		font-size:15px;
		line-height:2;
		text-align:justify;
		padding:20px 0 88px;
	}
	.l-block02 .p-btn {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #8c8c8c;
		background:url(../../common/img/ico_viewmore_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.l-block02 .l-block02-table{
		width:100%;
		text-align:center;
		margin:0 auto;
		padding:0 0 105px;
	}
	.l-block02 .l-block02-table > div{
		width:50%;
		display:inline-block;
		vertical-align:top;
	}
	.l-block02 .l-block02-table > div:nth-child(1){
		margin-top:0;
		padding-right:13px;
	}
	.l-block02 .l-block02-table > div:nth-child(2){
		padding-top:0;
		padding-left:13px;
		padding-right:0;
		position:relative;
		top:81px;
	}
	.l-block02 .l-block02-table > div:nth-child(3){
		padding-top:35px;
		padding-left:0;
		padding-right:13px;
	}
	.l-block02 .l-block02-table > div:nth-child(4){
		margin-top:116px;
		padding-left:13px;
	}
	.l-block02 .l-block02-table > div p{
		
	}
	.l-block02 .l-block02-table > div p a span{
		font-size:13px;
		width:100px;
	}
	.l-block02 .l-block02-table > div p img{
		max-width:100%;
		width:100%;
	}
	
	.l-block03 {
		width: 100%;
		margin: 140px auto 0;
		text-align: center;
		padding:0px 0px 40px;
		background-color:#cdd6bf;
	}
	.l-block03 h2 {
		line-height:0;
		padding-bottom:35px;
	}
	.l-block03 h2 img {
		max-width:410px;
		width:100%;
		margin-top:-149px;
	}
	.l-block03 h2 img {
		max-width:269px;
		width:100%;
		margin-top:-149px;
		position: relative;
    	top: -30px;
	}
	.l-block03 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-22px;
	}
	.l-block03 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block03 .l-block03-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0px 0px;
		display:table;
	}
	.l-block03 .l-block03-table > p {
		width: 50%;
		display:table-cell;
	}
	.l-block03 .l-block03-table > p:nth-child(1) {
		padding-right:10px;
		text-align:right;
	}
	.l-block03 .l-block03-table > p:nth-child(2) {
		padding-left:10px;
		text-align:left;
	}
	.l-block03 .l-block03-table > p img {
		max-width: 521px;
		width:100%;
	}
	.l-block03 .l-block03-table > p a span{
		position: absolute;
		left:0;
		bottom:0px;
		display:inline-block;
		padding:12px 15px;
		background-color:#FFFFFF;
		color:#514e47;
		width:150px;
		text-align:center;
		z-index:100;
		font-size:11px;
		letter-spacing:0.12em;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:63px 0px 63px;
	}
	.l-block04 h2 {
		line-height:0;
		padding-bottom:42px;
	}
	.l-block04 h2 img {
		max-width:312px;
		width:100%;
	}
	.l-block04 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-52px;
	}
	.l-block04 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block04 .l-block04-table01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0px 0px;
		display:table;
	}
	.l-block04 .l-block04-table01 > div {
		width: 50%;
		display:table-cell;
		vertical-align:top;
		padding:0 0px;
	}
	.l-block04 .l-block04-table01 > .l-calender01 {
		border-right:1px solid #efe4e4;
	}
	.l-block04 .l-block04-table01 > div p {
		font-family: 'Cinzel', serif;
		font-size:25px;
		line-height:1.2;
		color:#514e47;
		padding-bottom:10px;
	}
	.l-block04 .l-block04-table01 > div p:hover {
		cursor:pointer;
	}
	.l-block04 .l-block04-table01 > div p.p-current {
		border-bottom:1px solid #efe4e4;
	}
	.l-block04 .l-block04-table01 > div p span {
		display:block;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:15px;
		line-height:2;
		color:#8f8f8f;
		font-weight:bold;
	}
	.l-block04 .l-block04-table02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0px 0px;
		display:block;
	}
	.l-block04 .l-block04-table02 > div {
		width: 100%;
		display:block;
		vertical-align:top;
	}
	.l-block04 .l-block04-table02 > .l-calender02 {
		padding:0 10px;
		display:block;
	}
	.l-block04 .l-block04-table02 > .l-calender02 img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-table02 > .l-category02 {
		border-left:none;
		display:none;
		padding-top:20px;
	}
	.l-block04 .l-block04-table02 > .l-category02 .p-title {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:15px;
		line-height:2;
		color:#000000;
		font-weight:bold;
		padding-bottom:10px;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table {
		width:100%;
		margin:0 auto;
		padding:0 0px 0 0px;
		text-align:center;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div {
		width:33.3%;
		display:inline-block;
		vertical-align:top;
		padding:15px 15px 0;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image {
		width:100%;
		display:block;
		text-align:center;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image a {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		display: inline-block;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image img {
		max-width:270px;
		width:100%;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-message {
		font-size:15px;
		color:#afa27d;
	}
	.l-block04 .l-btn a {
		margin-top:56px;
		display:inline-block;
		font-size:17px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:20px 100px;
		background: #897e63;
		background-size:6px auto;
		position:relative;
	}
	.l-block04 .l-btn a:before {
		content: ' ';
		background:url(../../common/img/ico_viewmore2_sp.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 35px;
		left: 30px;
		width: 12px;
		height: 21px;
		background-size: 12px auto;
	}
	.l-block04 .l-btn a span {
		display:block;
		font-size: 13px;
	}
	
	.l-block05 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:56px 0px 98px;
		background-color:#efece4;
	}
	.l-block05 .l-block05-1-table {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:0;
		display:block;
	}
	.l-block05 .l-block05-1-table > div {
		display:block;
		vertical-align:middle;
	}
	.l-block05 .l-block05-1-table .l-block05-1 {
		width: 100%;
		text-align:left;
		padding-right:0;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title {
		width: 100%;
		text-align:center;
		padding-bottom:42px;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title img {
		max-width: 280px;
		width:100%;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-73px;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-message {
		font-size:16px;
		line-height:2;
		color:#000000;
		font-weight:bold;
		padding-bottom:42px;
		letter-spacing:0;
		text-align:justify;
	}
	.l-block05 .l-block05-1 .l-btn a {
		display:none;
	}
	.l-block05 .l-block05-3 .l-btn a {
		display:block;
	}
	.l-block05 .l-btn a {
		font-size:16px;
		line-height:1.7;
		color:#514e47;
		text-align:center;
		text-decoration:none;
		padding:20px 0;
		border:1px solid #514e47;
		position:relative;
	}
	.l-block05 .l-btn a:before {
		content: ' ';
		background:url(../../common/img/ico_viewmore_pc.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 42px;
		left: 28px;
		width: 6px;
		height: 12px;
		background-size: 6px auto;
	}
	.l-block05 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 13px;
	}
	
	.l-block05 .l-block05-1-table .l-block05-2 {
		width: 100%;
		text-align:left;
	}
	.l-block05-2 .l-plan {
		width: 100%;
		display:block;
		margin:0 auto 0;
		padding:0;
		text-align:center;
		background-color:#FFFFFF;
		border:1px solid #897e63;
	}
	/*SPでは3個目以降も表示*/
	.l-block05-2 .l-plan:nth-child(n + 3) {
		display:block;
	}
	.l-block05-2 .l-plan > div {
		display:block;
		vertical-align:top;
	}
	.l-block05-2 .l-plan .l-image {
		width: 100%;
		margin:0 auto;
		padding:0;
		text-align:center;
		position:relative;
		line-height:0;
	}
	.l-block05-2 .l-plan .p-pickup {
		position:absolute;
		top:0;
		left:0;
	}
	.l-block05-2 .l-plan .p-pickup img {
		max-width:98px;
		width:100%;
	}
	.l-block05-2 .l-plan .p-image {
		width:100%;
		background-color:#A8A8A8;
		overflow:hidden;
	}
	.l-block05-2 .l-plan .p-image img {
		max-width:100%;
		width:100%;
	}
	.l-block05-2 .l-plan .l-message {
		width: auto;
		margin:0 auto;
		padding:30px 30px 30px;
	}
	.l-block05-2 .l-plan .l-message .p-title {
		font-size:22px;
		color:#897e63;
		line-height:1.5;
		border-bottom:1px solid #efece4;
		text-align:left;
		padding-bottom:7px;
	}
	.l-block05-2 .l-plan .l-message .p-message {
		font-size:18px;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		color:#000000;
		line-height:1.7;
		text-align:left;
		padding:15px 0;
		font-weight:bold;
	}
	.l-block05-2 .l-plan .l-message .p-kikan {
		font-size:18px;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		color:#afa27d;
		line-height:1.7;
		text-align:left;
		padding:0 0 15px;
	}
	.l-block05-3 {
		padding-top:70px;
	}
	
	.l-block06 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:105px 0px 84px;
	}
	.l-block06 h2 {
		line-height:0;
		padding-bottom:30px;
	}
	.l-block06 h2 img {
		max-width:182px;
		width:100%;
	}
	.l-block06 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-35px;
	}
	.l-block06 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block06 .l-block06-01 {
		width: 100%;
		margin: 0px auto 0px;
		text-align: center;
		padding:0px 0px 0px;
		background:url(../img/img_block06_01_sp.png) center center no-repeat transparent;
		background-size:100% auto;
		height:630px;
		padding-top:136%;	
		position:relative;
	}
	.l-block06 .l-block06-01 a {
		/*上下中央配置*/
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color:rgba(255,255,255,0.8);
		border:none;
		color:#514e47;
		width:300px;
	}	
	.l-block06 .l-block06-02 {
		width: 100%;
		margin: 0px auto;
		text-align: center;
		padding:0px;
	}
	.l-block06 .l-block06-02 > div {
		display:block;
		width: 100%;
		margin: 0px auto;
		text-align: center;
	}
	.l-block06 .l-block06-02 > div:nth-child(1) {
		padding-right:0;
		padding-top:70px;
	}
	.l-block06 .l-block06-02 > div:nth-child(2) {
		padding-left:0;
		padding-right:0;
		padding-top:56px;
	}
	.l-block06 .l-block06-02 > div:nth-child(3) {
		padding-left:0;
		padding-top:56px;
	}
	.l-block06 .l-block06-02 > div .p-title {
		text-align: center;
		padding-bottom:20px;
	}
	.l-block06 .l-block06-02 > div .p-title img {
		max-width:175px;
		width:100%;
	}
	.l-block06 .l-block06-02 > div .p-image {
		text-align: center;
		margin-bottom:40px;
		display: block;
		position: relative;
		width:100%;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block06 .l-block06-02 > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		display: inline-block;
		border: 10px solid rgba(255,255,255,0.70);
	}
	.l-block06 .l-block06-02 > div .p-image img {
		/*max-width:320px;*/
		width:100%;
	}
	.l-block06 .l-block06-02 > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block06 .l-block06-02 > div p .p-common-btn {
		width:280px;
	}
	
	.l-block07 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:63px 0px 56px;
		background-color:#cdd6bf;
	}
	.l-block07 .l-block07-table{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
		line-height:0;
	}
	.l-block07 .l-message {
		width: 100%;
		background-color:transparent;
		line-height:2;
		padding:0 15px;
	}
	.l-block07 .l-message h2 {
		line-height:0;
		padding:0 15px 30px;
	}
	.l-block07 .l-message h2 img {
		max-width:294px;
		width:100%;
	}
	.l-block07 .l-message h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-42px;
	}
	.l-block07 .l-message h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block07 .l-message .p-message {
		font-size:15px;
		line-height:2;
		text-align:center;
		padding:0px 0 50px 0;
		padding-right:0%;
	}
	.l-block07 .l-message p a {
		display:none;
		border:1px solid #514e47;
		color:#514e47;
	}
	.l-block07 .l-image {
		padding:0 15px 56px;
	}
	.l-block07 .l-image p {
	}
	.l-block07 .l-image {
		width: 100%;
	}
	.l-block07 .l-image img {
		width: 100%;
	}
	.l-block07 > p a {
		width:280px;
		border:1px solid #514e47;
		color:#514e47;
	}
	
	.l-block08 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:50px 0px 50px;
	}
	.l-block08 .l-block08-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		background:url(../img/bg_block08_sp.png) center center no-repeat transparent;
		background-size:100% auto;
		/*height:451px;*/
		padding-top:148.9%;	
		position:relative;
	}
	.l-block08 .l-block08-01 .l-block08-table h2 {
		line-height:0;
		padding-bottom:35px;
	}
	.l-block08 .l-block08-01 .l-block08-table h2 img {
		max-width:181px;
		width:100%;
	}
	.l-block08 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-50px;
	}
	.l-block08 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block08 .l-block08-01 .l-block08-table a {
		display:inline-block;
	}
	.l-block08 .l-block08-01 .l-block08-table a img {
		max-width:146px;
		width:100%;
	}
	.l-block08 .l-block08-01 .l-block08-table {
		width:399px;
		padding:10px 10px;
		/*上下中央配置*/
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color:rgba(255,255,255,1.0);
		border:none;
		color:#514e47;
	}
	.l-block08 .l-block08-01 .l-block08-table > div {
		border:1px solid #cdd6bf;
		padding:63px 15px 42px;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #8c8c8c;
		background:url(../../common/img/ico_viewmore_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.p-common-btn2 {
		display:block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:8px 0;
		border:1px solid #897e63;
		background:url(../../common/img/ico_viewmore2_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		position:relative;
		z-index:10;
	}
	
	.l-mv{
		width: 100%;
		margin:0 auto;
		text-align:center;
		line-height:0;
		background:url(../img/bg_mv_sp.png) top center no-repeat transparent;
		background-size: cover;
		height:375px;
		display:table;
		position:relative;
	}
	.l-mv > div{
		width:100%;
		display:table-cell;
		vertical-align:middle;
	}
	.l-mv div img{
		max-width:289px;
		width: 100%;
	}
	.l-mv div p{
		width: 100%;
		font-size:13px;
		line-height:3;
		letter-spacing:0.2em;
		color:#FFFFFF;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:35px 0px 0px;
		background-color:#cdd7bf;
	}
	.l-block01 h2 {
		line-height:0;
		padding:0 10px 25px;
	}
	.l-block01 h2 img {
		max-width:335px;
		width:100%;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:9px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-30px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:18px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-table{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
		line-height:0;
	}
	.l-block01 .l-message {
		width: 100%;
		background-color:transparent;
		line-height:2;
		padding:0 10px;
	}
	.l-block01 .l-message p {
		font-size:11px;
		line-height:2;
		text-align:left;
		padding:0px 0 35px 0;
		padding-right:0%;
		position:static;
		top:-25px;
	}
	.l-block01 .l-message p span {
		font-size:15px;
		line-height:2;
		display:block;
		text-align:center;
		padding-bottom:5px;
	}
	.l-block01 .l-image p {
	}
	.l-block01 .l-image {
		width: 100%;
	}
	.l-block01 .l-image img {
		width: 100%;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:40px 0 65px;
	}
	.l-block02:before{
		content: ' ';
		background:url(../img/bg_block02_01_sp.png) right top no-repeat transparent;
		position: absolute;
		top: 15%;
		right: 0;
		width: 198px;
		height: 289px;
		background-size: 198px auto;
	}
	.l-block02:after{
		content: ' ';
		background:url(../img/bg_block02_02_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 67%;
		left: 0;
		width: 168px;
		height: 292px;
		background-size: 168px auto;
		z-index:-1;
	}
	.l-block02 h2 {
		line-height:0;
		padding-bottom:30px;
	}
	.l-block02 h2 img {
		max-width:147px;
		width:100%;
	}
	.l-block02 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-10px;
	}
	.l-block02 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block02 .l-message {
		max-width:100%;
		width:100%;
		margin:0 auto;
	}
	.l-block02 .l-message .p-title{
		font-size: 15px;
		line-height: 2;
		display: block;
		text-align:center;
	}
	.l-block02 .l-message .p-message {
		font-size:11px;
		line-height:2;
		text-align:justify;
		padding:15px 0 62px;
	}
	.l-block02 .p-btn {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #8c8c8c;
		background:url(../../common/img/ico_viewmore_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	.l-block02 .l-block02-table{
		width:100%;
		text-align:center;
		margin:0 auto;
		padding:0 0 75px;
	}
	.l-block02 .l-block02-table > div{
		width:50%;
		display:inline-block;
		vertical-align:top;
	}
	.l-block02 .l-block02-table > div:nth-child(1){
		margin-top:0;
		padding-right:9px;
	}
	.l-block02 .l-block02-table > div:nth-child(2){
		padding-top:0;
		padding-left:9px;
		padding-right:0;
		position:relative;
		top:58px;
	}
	.l-block02 .l-block02-table > div:nth-child(3){
		padding-top:25px;
		padding-left:0;
		padding-right:9px;
	}
	.l-block02 .l-block02-table > div:nth-child(4){
		margin-top:82px;
		padding-left:9px;
	}
	.l-block02 .l-block02-table > div p{
		
	}
	.l-block02 .l-block02-table > div p img{
		max-width:100%;
		width:100%;
	}
	.l-block02 .l-block02-table > div p a span{
		font-size:9px;
		bottom:-4px;
	}
	
	.l-block03 {
		width: 100%;
		margin: 100px auto 0;
		text-align: center;
		padding:0px 0px 28px;
		background-color:#cdd6bf;
	}
	.l-block03 h2 {
		line-height:0;
		padding-bottom:25px;
	}
	.l-block03 h2 img {
		max-width:192px;
		width:100%;
		margin-top:-106px;
		position: relative;
    	top: -20px;
	}
	.l-block03 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-16px;
	}
	.l-block03 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block03 .l-block03-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0px 0px;
		display:block;
	}
	.l-block03 .l-block03-table > p {
		width: 100%;
		display:block;
	}
	.l-block03 .l-block03-table > p:nth-child(1) {
		padding-right:0;
		text-align:center;
	}
	.l-block03 .l-block03-table > p:nth-child(2) {
		padding-left:0;
		padding-top:20px;
		text-align:center;
	}
	.l-block03 .l-block03-table > p img {
		max-width: 521px;
		width:100%;
	}
	.l-block03 .l-block03-table > p a span{
		position: absolute;
		left:0;
		bottom:0px;
		display:inline-block;
		padding:10px 10px;
		background-color:#FFFFFF;
		color:#514e47;
		width:140px;
		text-align:center;
		z-index:100;
		font-size:8px;
		letter-spacing:0.12em;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:45px 0px 45px;
	}
	.l-block04 h2 {
		line-height:0;
		padding-bottom:30px;
	}
	.l-block04 h2 img {
		max-width:223px;
		width:100%;
	}
	.l-block04 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-37px;
	}
	.l-block04 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block04 .l-block04-table01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0px 0px;
		display:table;
	}
	.l-block04 .l-block04-table01 > div {
		width: 50%;
		display:table-cell;
		vertical-align:top;
		padding:0 0px;
	}
	.l-block04 .l-block04-table01 > .l-calender01 {
		border-right:1px solid #efe4e4;
	}
	.l-block04 .l-block04-table01 > div p {
		font-family: 'Cinzel', serif;
		font-size:18px;
		line-height:1.2;
		color:#514e47;
		padding-bottom:10px;
	}
	.l-block04 .l-block04-table01 > div p:hover {
		cursor:pointer;
	}
	.l-block04 .l-block04-table01 > div p.p-current {
		border-bottom:1px solid #efe4e4;
	}
	.l-block04 .l-block04-table01 > div p span {
		display:block;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:11px;
		line-height:2;
		color:#8f8f8f;
		font-weight:bold;
	}
	.l-block04 .l-block04-table02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 0px 0px;
		display:block;
	}
	.l-block04 .l-block04-table02 > div {
		width: 100%;
		display:block;
		vertical-align:top;
	}
	.l-block04 .l-block04-table02 > .l-calender02 {
		padding:0 10px;
		display:block;
	}
	.l-block04 .l-block04-table02 > .l-calender02 img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-table02 > .l-category02 {
		border-left:none;
		display:none;
		padding-top:15px;
	}
	.l-block04 .l-block04-table02 > .l-category02 .p-title {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:11px;
		line-height:2;
		color:#000000;
		font-weight:bold;
		padding-bottom:10px;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table {
		width:100%;
		margin:0 auto;
		padding:0 0px 0 0px;
		text-align:center;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div {
		width:50%;
		display:inline-block;
		vertical-align:top;
		padding:10px 10px 0;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image {
		width:100%;
		display:block;
		text-align:center;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image a {
		width: 135px;
		height: 135px;
		border-radius: 50%;
		display: inline-block;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-image img {
		max-width:270px;
		width:100%;
	}
	.l-block04 .l-block04-table02 > .l-category02 .l-category02-table > div .p-message {
		font-size:11px;
		color:#afa27d;
	}
	.l-block04 .l-btn a {
		margin-top:40px;
		display:block;
		font-size:12px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:20px 80px;
		background: #897e63;
		background-size:6px auto;
		position:relative;
	}
	.l-block04 .l-btn a:before {
		content: ' ';
		background:url(../../common/img/ico_viewmore2_pc.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 35px;
		left: 30px;
		width: 6px;
		height: 11px;
		background-size: 6px auto;
	}
	.l-block04 .l-btn a span {
		display:block;
		font-size: 9px;
	}
	
	.l-block05 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:40px 0px 70px;
		background-color:#efece4;
	}
	.l-block05 .l-block05-1-table {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:0;
		display:block;
	}
	.l-block05 .l-block05-1-table > div {
		display:block;
		vertical-align:middle;
	}
	.l-block05 .l-block05-1-table .l-block05-1 {
		width: 100%;
		text-align:left;
		padding-right:0;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title {
		width: 100%;
		text-align:center;
		padding-bottom:30px;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title img {
		max-width: 200px;
		width:100%;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-52px;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-title > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block05 .l-block05-1-table .l-block05-1 .p-message {
		font-size:11px;
		line-height:2;
		color:#000000;
		font-weight:bold;
		padding-bottom:30px;
		letter-spacing:0;
		text-align:justify;
	}
	.l-block05 .l-block05-1 .l-btn a {
		display:none;
	}
	.l-block05 .l-block05-3 .l-btn a {
		display:block;
	}
	.l-block05 .l-btn a {
		font-size:12px;
		line-height:1.7;
		color:#514e47;
		text-align:center;
		text-decoration:none;
		padding:15px 0;
		border:1px solid #514e47;
		position:relative;
	}
	.l-block05 .l-btn a:before {
		content: ' ';
		background:url(../../common/img/ico_viewmore_pc.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 30px;
		left: 20px;
		width: 4px;
		height: 8px;
		background-size: 4px auto;
	}
	.l-block05 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 9px;
	}
	
	.l-block05 .l-block05-1-table .l-block05-2 {
		width: 100%;
		text-align:left;
	}
	.l-block05-2 .l-plan {
		width: 100%;
		display:block;
		margin:0 auto 0;
		padding:0;
		text-align:center;
		background-color:#FFFFFF;
		border:1px solid #897e63;
	}
	/*SPでは3個目以降も表示*/
	.l-block05-2 .l-plan:nth-child(n + 3) {
		display:block;
	}
	.l-block05-2 .l-plan > div {
		display:block;
		vertical-align:top;
	}
	.l-block05-2 .l-plan .l-image {
		width: 100%;
		margin:0 auto;
		padding:0;
		text-align:center;
		position:relative;
		line-height:0;
	}
	.l-block05-2 .l-plan .p-pickup {
		position:absolute;
		top:0;
		left:0;
	}
	.l-block05-2 .l-plan .p-pickup img {
		max-width:70px;
		width:100%;
	}
	.l-block05-2 .l-plan .p-image {
		width:100%;
		background-color:#A8A8A8;
		overflow:hidden;
	}
	.l-block05-2 .l-plan .p-image img {
		max-width:100%;
		width:100%;
	}
	.l-block05-2 .l-plan .l-message {
		width: auto;
		margin:0 auto;
		padding:20px 20px 20px;
	}
	.l-block05-2 .l-plan .l-message .p-title {
		font-size:16px;
		color:#897e63;
		line-height:1.5;
		border-bottom:1px solid #efece4;
		text-align:left;
		padding-bottom:5px;
	}
	.l-block05-2 .l-plan .l-message .p-message {
		font-size:12px;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		color:#000000;
		line-height:1.7;
		text-align:left;
		padding:10px 0;
		font-weight:bold;
	}
	.l-block05-2 .l-plan .l-message .p-kikan {
		font-size:12px;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		color:#afa27d;
		line-height:1.7;
		text-align:left;
		padding:0 0 10px;
	}
	.l-block05-3 {
		padding-top:0;
	}
		
	.l-block06 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:75px 0px 60px;
	}
	.l-block06 h2 {
		line-height:0;
		padding-bottom:20px;
	}
	.l-block06 h2 img {
		max-width:130px;
		width:100%;
	}
	.l-block06 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-25px;
	}
	.l-block06 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block06 .l-block06-01 {
		width: 100%;
		margin: 0px auto 0px;
		text-align: center;
		padding:0px 0px 0px;
		background:url(../img/img_block06_01_sp.png) center center no-repeat transparent;
		background-size:100% auto;
		height:450px;
		padding-top:136%;	
		position:relative;
	}
	.l-block06 .l-block06-01 a {
		/*上下中央配置*/
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color:rgba(255,255,255,0.8);
		border:none;
		color:#514e47;
		width:260px;
	}	
	.l-block06 .l-block06-02 {
		width: 100%;
		margin: 0px auto;
		text-align: center;
		padding:0px;
	}
	.l-block06 .l-block06-02 > div {
		display:block;
		width: 100%;
		margin: 0px auto;
		text-align: center;
	}
	.l-block06 .l-block06-02 > div:nth-child(1) {
		padding-right:0;
		padding-top:50px;
	}
	.l-block06 .l-block06-02 > div:nth-child(2) {
		padding-left:0;
		padding-right:0;
		padding-top:40px;
	}
	.l-block06 .l-block06-02 > div:nth-child(3) {
		padding-left:0;
		padding-top:40px;
	}
	.l-block06 .l-block06-02 > div .p-title {
		text-align: center;
		padding-bottom:15px;
	}
	.l-block06 .l-block06-02 > div .p-title img {
		max-width:125px;
		width:100%;
	}
	.l-block06 .l-block06-02 > div .p-image {
		text-align: center;
		margin-bottom:15px;
		display: block;
		position: relative;
		width:100%;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block06 .l-block06-02 > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		display: inline-block;
		border: 10px solid rgba(255,255,255,0.70);
	}
	.l-block06 .l-block06-02 > div .p-image img {
		/*max-width:320px;*/
		width:100%;
	}
	.l-block06 .l-block06-02 > div p .p-common-btn {
		width:200px;
	}
	
	.l-block07 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:45px 0px 40px;
		background-color:#cdd6bf;
	}
	.l-block07 .l-block07-table{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
		line-height:0;
	}
	.l-block07 .l-message {
		width: 100%;
		background-color:transparent;
		line-height:2;
		padding:0 10px;
	}
	.l-block07 .l-message h2 {
		line-height:0;
		padding:0 10px 20px;
	}
	.l-block07 .l-message h2 img {
		max-width:210px;
		width:100%;
	}
	.l-block07 .l-message h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-30px;
	}
	.l-block07 .l-message h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block07 .l-message .p-message {
		font-size:11px;
		line-height:2;
		text-align:center;
		padding:0px 0 35px 0;
		padding-right:0%;
	}
	.l-block07 .l-message p a {
		display:none;
		border:1px solid #514e47;
		color:#514e47;
	}
	.l-block07 .l-image {
		padding:0 10px 40px;
	}
	.l-block07 .l-image p {
	}
	.l-block07 .l-image {
		width: 100%;
	}
	.l-block07 .l-image img {
		width: 100%;
	}
	.l-block07 > p a {
		width:200px;
		border:1px solid #514e47;
		color:#514e47;
	}

	.l-block08 {
		width: 100%;
		margin: 0px auto 0;
		text-align: center;
		padding:35px 0px 35px;
	}
	.l-block08 .l-block08-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		background:url(../img/bg_block08_sp.png) center center no-repeat transparent;
		background-size:100% auto;
		/*height:451px;*/
		padding-top:148.9%;	
		position:relative;
	}
	.l-block08 .l-block08-01 .l-block08-table h2 {
		line-height:0;
		padding-bottom:25px;
	}
	.l-block08 .l-block08-01 .l-block08-table h2 img {
		max-width:129px;
		width:100%;
	}
	.l-block08 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-35px;
	}
	.l-block08 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block08 .l-block08-01 .l-block08-table a {
		display:inline-block;
	}
	.l-block08 .l-block08-01 .l-block08-table a img {
		max-width:104px;
		width:100%;
	}
	.l-block08 .l-block08-01 .l-block08-table {
		width:285px;
		padding:10px 10px;
		/*上下中央配置*/
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color:rgba(255,255,255,1.0);
		border:none;
		color:#514e47;
	}
	.l-block08 .l-block08-01 .l-block08-table > div {
		border:1px solid #cdd6bf;
		padding:45px 10px 30px;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #8c8c8c;
		background:url(../../common/img/ico_viewmore_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	.p-common-btn2 {
		display:block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:6px 0px;
		border:1px solid #897e63;
		background:url(../../common/img/ico_viewmore2_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/