@charset "utf-8";
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928


*/
/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	
}
body{	
	color:#000200;
	/*font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;*/
	font-family: "游明朝体", "Yu Mincho", YuMincho,"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
	font-size:14px;
	line-height:1.7;
	/*font-weight:500;*/
	/*letter-spacing:0.25em;*/
	background-color:#FFFFFF;
	-webkit-text-size-adjust: none;
}

.Midashi{
	/*font-family: 'Work Sans', sans-serif;*/
}
.Cinzel{
	font-family: 'Cinzel', serif;
}
.Josefin{
	font-family: 'Josefin Sans', sans-serif;
}
.Gothic{
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#222222;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:underline;
}
a:hover{
	color:#999999;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;
}

.border{
	border:1px solid #000000;	
}

header{
	width:100%;
	margin:0 auto;	
	padding:0;
	background-color:#897d63;	
	position:absolute;
	top:0;
	z-index:10000;
	height:100px;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	letter-spacing:0.1em;
}
header.is-fix{
	position:fixed;
	animation: fadeIn 0.3s ease 0s 1 normal;
    -webkit-animation: fadeIn 0.3s ease 0s 1 normal;
}

.l-header{
	width: 100%;
}
.l-header-table{
	width:100%;
	margin: 0 auto 0;
	display:table;
	padding:0;
}
.l-header-left0{
	display:none;
}
.l-header-left{
	display:table-cell;		
	width:190px;
	vertical-align:middle;
	line-height:0;
	padding:0;
}
.l-header-left a{
	display:inline-block;
	padding:30px 0 30px 30px;
	line-height:0;
}
.l-header-left img{
	max-width:188px;
	width:100%;
}
.l-header-center{
	display:table-cell;		
	width:auto;
	vertical-align:top;
	padding:0;
}
.l-header-center .l-menu{
	display:table;		
	width:auto;
	text-align:center;
	margin:0 auto;
	padding-top:0px;
	line-height:0;
	position:relative;
}
.l-header-center .l-menu > div{
	display:table-cell;		
	width:auto;
	vertical-align:top;
	line-height:0;
	color:#FFFFFF;
}
.l-header-center .l-menu > div a{
	line-height:1;
	padding:30px 11px 12px;
	text-decoration:none;
	display:block;
	border-bottom:1px solid #a1957b;
	font-family: 'Cinzel', serif;
	color:#FFFFFF;
	font-size:10px;
	letter-spacing:0.12em;
}
.l-header-center .l-menu > div:nth-last-child(2) a{
	padding:30px 8px 12px 14px;
}
.l-header-center .l-menu > div:last-of-type a{
	padding:30px 14px 12px 0;
}
.l-header-center .l-menu > div:last-of-type a:before{
	content:"｜";
	color:#FFFFFF;
	display:inline-block;
	padding-right:5px;
}
.l-header-center .l-menu > div a.p-current{
	padding:30px 14px 10px;
	border-bottom:3px solid #c7c2ac;
}

.l-hover_menu{
	width:100%;
	margin:0 auto;
	text-align:center;
	position:relative;
}
.l-hover_menu > div{
	position:absolute;
	visibility: hidden;
	opacity: 0;
	/*visibility: visible;
	opacity: 1;*/
	
	transition: 0.5s;
	width:100%;
	font-family: 'Josefin Sans Light', sans-serif;
	color:#FFFFFF;
	font-size:10px;
	padding:14px 0 10px;
	letter-spacing:0.22em;
}
.l-hover_menu > div a{
	line-height:1;
	display:inline-block;
	text-decoration:none;
	
	padding:0 1em 0px;
	color:#FFFFFF;
}
.l-hover_menu > div.on_hover{
	visibility: visible;
	opacity: 1;
	transition: 0.3s;
}


.l-header-right{
	display:table-cell;
	width:250px;
	padding-left:0px;
	text-align:right;
	vertical-align:top;
	position:relative;
}
.l-header-right div.p-contact{
	width:250px;
	display:table;
	vertical-align:middle;
}
.l-header-right div.p-contact .p-tel{
	width:100%;
	height:50px;
	text-align:center;
	padding-top:15px;
	color:#cfc7b4;
	font-family: 'Cinzel', serif;
	font-size:12px;
	letter-spacing:0.12em;
}
.l-header-right div.p-contact .p-tel a{
	text-decoration:none;
}
.l-header-right div.p-contact .p-tel span{
	color:#FFFFFF;
	padding-left:10px;
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
	letter-spacing:0.28em;
}
.l-header-right div.p-contact a{
	width:100%;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	padding:0 0;
	line-height:0;
}
.l-header-right div.p-contact a:hover{
	
}
.l-header-right div.p-contact a img{
	max-width:250px;
	width:100%;
}

#wrapper{
	width:100%;
	margin:0 auto;
	/*padding:0;*/
	/*letter-spacing:0.1em;*/
	position:relative;
}

.l-wrapper{
	width:100%;
	margin:0px auto;
}

.l-container{
	width:100%;
	margin:0px auto;
}

.l-pickup {
	background: #cdd6bf;
	margin-top: 0px;
	padding: 47px 0 75px;
}
.l-pickup-inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
}
.l-pickup-ttl {
	color: #514e47;
	text-align: center;
	letter-spacing: 0.12em;
}
.l-pickup-ttl-en,
.l-pickup-ttl-jp {
	display: block;
}
.l-pickup-ttl-en {
	color: #514e47;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
}
.l-pickup-ttl-jp {
	font-size: 11px;
}
.l-pickup-list {
	margin-top: 55px;
}
.l-pickup-list:after {
	content: "";
	display: block;
	clear: both;
}
.l-pickup-item {
	width: 28.35%;
	float: left;
}
.l-pickup-item + .l-pickup-item {
	margin-left: 7.45%;
}
.l-pickup-item-img img {
	max-width: 100%;
	height: auto;
}
.l-pickup-item-txtarea {
	padding: 20px 3.275% 0;
	letter-spacing: 0.1em;
}
.l-pickup-item-ttl {
	color: #897e63;
	line-height: 1.57;
}
.l-pickup-item-txt {
	font-size: 12px;
	line-height: 1.66;
	margin-top: 8px;
}
.l-pickup-item-btn {
	display: block;
	position: relative;
	color: #fff;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
	background: #aea27d;
	padding: 9px 10px 8px;
	margin-top: 13px;
}
.l-pickup-item-btn:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 23px;
	bottom: 0;
	width: 6px;
	height: 12px;
	background: url(../img/ico_pickup_pc.png) no-repeat;
	background-size: contain;
	margin: auto;
}
.l-pickup-item-btn:hover {
	color: #fff;
}

.l-mv-line {
	position: relative;
	color: #514e47;
	text-align: center;
	letter-spacing: 0.12em;
	margin: 64px 0 30px;
}
.l-mv-line:before {
	content: "";
	display: block;
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	width: 689px;
	height: 1px;
	background: #afa27d;
	margin: auto;
}
.l-mv-line-inner {
	position: relative;
	width: 285px;
	height: 137px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 0 auto;
	padding-top: 80px;
}
.l-mv-line-en {
	font-size: 24px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	line-height: 1;
	letter-spacing: 0.12em;
}
.l-mv-line-jp {
	font-size: 11px;
	letter-spacing: 0.12em;
	margin-top: 5px;
}

.l-image-slide + .l-image-slide {
	margin-top: 70px;
}
.l-image-slide-mv-img img {
	width: 100%;
}
.l-image-slide-mv-ttl {
	position: relative;
	width: 299px;
	color: #514e47;
	text-align: center;
	background: #fff;
	margin: -36px auto 0;
	padding-top: 17px;
}
.l-image-slide-mv-ttl-en,
.l-image-slide-mv-ttl-jp {
	display: block;
	line-height: 1;
	letter-spacing: 0.12em;
}
.l-image-slide-mv-ttl-en {
	font-size: 24px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
}
.l-image-slide-mv-ttl-jp {
	font-size: 11px;
	margin-top: 8px;
}
.l-image-slide-under {
	text-align: center;
	margin-top: 50px;
}
.l-image-slide-under-ttl {
	color: #cdd6bf;
	font-family: 'Cinzel', serif;
	letter-spacing: 0.12em;
}
.l-image-slide-under-spec {
	display: inline-block;
	font-size: 12px;
	margin-top: 26px;
}
.l-image-slide-under-spec table {
	width: 100%;
	text-align: left;
}
.l-image-slide-under-spec td,
.l-image-slide-under-spec th {
	width: 50%;
	font-weight: 500;
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	letter-spacing: 0.08em;
	padding-top: 6px;
	padding-bottom: 6px;
}
.l-image-slide-under-spec th {
	padding-right: 30px;
}
.l-image-slide-under-spec td {
	border-left: solid 1px #cdd6bf;
	padding-left: 30px;
}
.l-image-slide-photo-wrap {
	padding-left: 90px;
	margin-top: 75px;
	overflow: hidden;
}
.l-image-slide-photo-wrap .bx-viewport {
	overflow: visible !important;
}
.l-image-slide-photo-wrap .bx-controls {
	font-size: 0;
	text-align: center;
	margin-top: 40px;
	padding-right: 90px;
}
.l-image-slide-photo-wrap .bx-pager-item {
	display: inline-block;
	position: relative;
	width: 35px;
	height: 1px;
}
.l-image-slide-photo-wrap .bx-pager-item + .bx-pager-item {
	margin-left: 15px;
}
.l-image-slide-photo-wrap .bx-pager-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-indent: -9999px;
	background: #afa27d;
	opacity: 0.3;
}
.l-image-slide-photo-wrap .bx-pager-link.active {
	opacity: 1;
}

.l-footer {
	width:100%;
	margin:0px auto 0;
	padding:60px 100px 65px 100px;
	background-color:#e1e5d6;
	letter-spacing:0.1em;
}

.l-footer .l-footerBlock01{
	width:50%;
	display:inline-block;
	vertical-align:top;
	margin:0px auto 0;
	padding:0px 50px 40px 30px;
	letter-spacing:0.25em;
	border-right:1px solid #FFFFFF;
}
.l-footer .l-footerBlock01 .l-title{
	width:100%;
	text-align:left;
}
.l-footer .l-footerBlock01 .l-title p{
	color:#514e47;
	font-family: 'Cinzel', serif;
	font-size:24px;
	line-height:1.5;
	letter-spacing:0.12em;
}
.l-footer .l-footerBlock01 .l-title p span{
	color:#514e47;
	font-size:12px;
	font-weight:bold;
	display:block;
	letter-spacing:0.12em;
}
.l-footer .l-footerBlock01 .l-adress{
	width:100%;
	text-align:left;
	padding-top:30px;
}
.l-footer .l-footerBlock01 .l-adress p{
	font-size:12px;
	line-height:2;
	font-weight:normal !important;
	letter-spacing:0.12em;
}
.l-footer .l-footerBlock01 .l-access p{
	display:inline-block;
	vertical-align:top;
	font-size:12px;
	line-height:2;
	font-weight:normal !important;
	letter-spacing:0.12em;
}
.l-footer .l-footerBlock01 .l-access p:nth-child(odd){
	width:100px;
	padding-right:20px;
}
.l-footer .l-footerBlock01 .l-access p:nth-child(even){
	width:calc(100% - 100px);
	padding-bottom:25px;
}
.l-footer .l-footerBlock01 .l-access p:nth-child(5){
	width:135px;
	padding-right:20px;
}
.l-footer .l-footerBlock01 .l-access p:nth-child(6){
	width:calc(100% - 135px);
}
.l-footer .l-footerBlock01 .l-btn {
	padding:0px 0 0;
	width:100%;
	margin:0 auto;		
}
.l-footer .l-footerBlock01 .l-btn {
	padding:0px 0 0;
	width:100%;
	margin:0 auto;		
}
.l-footer .l-footerBlock01 .l-btn p {
	display:inline-block;
	width:50%;	
	vertical-align:top;
}
.l-footer .l-footerBlock01 .l-btn p:nth-child(1) {
	padding-right:5px;
}
.l-footer .l-footerBlock01 .l-btn p:nth-child(2) {
	padding-left:5px;
}
.l-footer .l-footerBlock01 .l-btn a {
	display:block;
	font-size:11px;
	font-weight:normal !important;
	line-height:2;
	color:#514e47;
	border:1px solid #514e47;
	text-align:center;
	text-decoration:none;
	padding:20px 20px;
	position:relative;
}
.l-footer .l-footerBlock01 .l-btn a:before {
	content: ' ';
	background:url(../img/ico_viewmore3_pc.png) 0 0 no-repeat transparent;
	position: absolute;
	top: 26px;
	left: 30px;
	width: 6px;
	height: 11px;
	background-size: 6px auto;
}
.l-footer .l-footerBlock01 .l-btn a span {
	display:block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 9px;
}

.l-footer .l-footerBlock02{
	width:50%;
	display:inline-block;
	vertical-align:top;
	margin:0px auto 0;
	padding:0px 0px 40px 100px;
	letter-spacing:0.25em;
}
.l-footer .l-footerBlock02 .l-title{
	width:100%;
	text-align:left;
}
.l-footer .l-footerBlock02 .l-title p{
	color:#514e47;
	font-family: 'Cinzel', serif;
	font-size:24px;
	line-height:1.5;
	letter-spacing:0.12em;
}
.l-footer .l-footerBlock02 .l-title p span{
	color:#514e47;
	font-size:12px;
	font-weight:bold;
	display:block;
	letter-spacing:0.12em;
}
.l-footer .l-footerBlock02 .l-tel{
	width:100%;
	text-align:center;
	margin-top:50px;
	padding:30px 20px;
	border: 2px solid #c6c9af;
}
.l-footer .l-footerBlock02 .l-tel p:nth-child(1) {
	font-size:18px;
	color:#514e47;
	letter-spacing:0.12em;
}
.l-footer .l-footerBlock02 .l-tel p:nth-child(2) {
	font-family: 'Cinzel', serif;
	font-size: 12px;
	color:#514e47;
	letter-spacing:0.12em;
}
.l-footer .l-footerBlock02 .l-tel p:nth-child(2) span {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	position:relative;
	top:3px;
	padding-left:10px;
	letter-spacing:0.28em;
	/*font-weight:bold;*/
}
.l-footer .l-footerBlock02 .l-tel p:nth-child(3) {
	font-size: 12px;
	color:#514e47;
	line-height:2;
	font-weight:normal !important;
	letter-spacing:0.12em;
}
.l-footer .l-footerBlock02 .l-tel a{
	text-decoration:none;
}
.l-footer .l-footerBlock02 .l-btn {
	padding:0px 0 0;
	width:100%;
	margin:0 auto;		
}
.l-footer .l-footerBlock02 .l-btn a {
	margin-top:10px;
	display:block;
	font-size:14px;
	line-height:1.7;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	padding:25px 20px;
	background: #897e63;
	background-size:6px auto;
	position:relative;
	letter-spacing:0.05em;
}
.l-footer .l-footerBlock02 .l-btn a:before {
	content: ' ';
	background:url(../img/ico_viewmore2_pc.png) 0 0 no-repeat transparent;
	position: absolute;
	top: 40px;
	left: 30px;
	width: 6px;
	height: 11px;
	background-size: 6px auto;
}
.l-footer .l-footerBlock02 .l-btn a span {
	display:block;
	font-family: 'Josefin Sans Light', sans-serif;
	font-size: 9px;
	letter-spacing:0.16em;
}

.l-footerMenu{
	width:100%;
	display:block;
	margin:0px auto 0;
	padding:80px 20px 80px;
	/*letter-spacing:0.25em;*/
	background-color:#897e63;
	text-align:center;
}
.l-footerMenu .p-logo{
	padding-bottom:50px;
}
.l-footerMenu .p-logo img{
	max-width:181px;
	width:100%;
}
.l-footerMenu .l-footerMenu01{
	max-width:925px;
	width:100%;
	display:block;
	margin:0px auto 0;
}
.l-footerMenu .l-footerMenu01 ul{
	width:100%;
}
.l-footerMenu .l-footerMenu01 ul li{
	width:14.28%;
	float:left;
	text-align:left;
	padding:10px 18px 0 18px;
}
.l-footerMenu .l-footerMenu01 ul li:nth-child(7n+1){
	width:100px;
}
.l-footerMenu .l-footerMenu01 ul li:nth-child(7n+2){
	width:122px;
}
.l-footerMenu .l-footerMenu01 ul li:nth-child(7n+3){
	width:162px;
}
.l-footerMenu .l-footerMenu01 ul li:nth-child(7n+4){
	width:87px;
}
.l-footerMenu .l-footerMenu01 ul li:nth-child(7n+5){
	width:150px;
}
.l-footerMenu .l-footerMenu01 ul li:nth-child(7n+6){
	width:152px;
}
.l-footerMenu .l-footerMenu01 ul li:nth-child(7n){
	width:152px;
}
.l-footerMenu .l-footerMenu01 ul li a{
	display:block;
	font-size:12px;
	color:#FFFFFF;
	text-decoration:none;
	letter-spacing:0.05em;
}

.l-copy {
	width:100%;
	margin:0 auto;
	padding:20px 20px;
	background-color:#efece4;
}
.l-copy p {
	text-align:center;
	font-family: 'Cinzel', serif;
	font-size: 11px;
	font-weight:normal !important;
	color:#514e47;
	letter-spacing:0.12em;
}

.l-inner{
	max-width:1120px;
	width:100%;
	margin:0 auto;
	padding:0 10px;
}
.l-inner1060{
	max-width:1080px;
	width:100%;
	margin:0 auto;
	padding:0 10px;
}
.l-inner1160{
	max-width:1180px;
	width:100%;
	margin: 0px auto;
	padding:0 10px;
}

.pconly{
	display:block !important;
}
.pconly2{
	display:block !important;
}
.sponly1200{
	display:none !important;
}
.sponly1000{
	display:none !important;
}
.sponly768{
	display:none !important;
}
.sponly480{
	display:none !important;
}

.pb20{
	padding-bottom:20px;	
}

.w100{
	width:100%;	
}

.disnone{
	display:none !important;
}

.p-link{
	text-decoration:underline;	
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1200px){
	header{
		position:fixed;
		top:0;
		z-index:10000;
		height: 140px;
	}
	.l-header {
		width: 100%;
		height:100%;
	}
	.l-header-table {
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0;
		height:100%;
	}
	.l-header-left0{
		display:table-cell;
		vertical-align:middle;
		line-height:0;
		padding:0;
		width:140px;
	}
	.l-header-left{
		display:table-cell;		
		width:auto;
		vertical-align:middle;
		line-height:0;
		padding:0;
		text-align:center;
	}
	.l-header-left a{
		display:block;
		padding:0 36px 0 0;
		line-height:0;
	}
	.l-header-left img{
		max-width:270px;
		/*height:20px;*/
	}
	
	.l-header-center {
		display: none;
	}
	
	.l-header-right {
		display: table-cell;
		width: 140px;
		height: 140px;
		padding-left: 0px;
		text-align: right;
		vertical-align: middle;
		position: relative;
		background-color:#cdd7bf;
	}
	.l-header-right div.p-contact {
		display: none;
	}
	
	.l-header nav{
		display:block;	
	}
	
	#toggle {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 140px;
		width: 140px;
		background-color:#897d63;
	}
	#toggle.show {
		background-color:#cdd7bf;
	}
	#toggle-btn {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		position:relative;
		top:-8px;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		right:0;
		bottom:0;
		width: 70px;
		height: 4px;
		margin: auto;
		background: #c7bead;
		transition: .2s;
	}
	#toggle-btn p{
		color: #c7bead;
    	padding-top: 110px;
		font-family: 'Cinzel', serif;
		font-size:14px;
		letter-spacing:0.18em;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 70px;
		height: 4px;
		background: #c7bead;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -20px;
	}
	#toggle-btn-icon:after {
		margin-top: 20px;
	}
	#toggle.show #toggle-btn p {
		color:#FFFFFF;
	}
	#toggle-btn .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn .close {
		background: transparent;
	}
	#toggle-btn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		background: #FFFFFF;
	}
	#toggle-btn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		background: #FFFFFF;
	}
	
	/* --- nav ---*/
	#global-nav-area {
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10001;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		/*height:100% !important;*/
		background-color:#cdd7bf;
	}
	#global-nav {
		padding:0 0;
	}
	
	#global-nav > li {
		text-align:left;
	}
	#global-nav > li.js-underlayer {
		padding:0 40px;
	}
	#global-nav > li.js-underlayer:hover {
		cursor:pointer;
	}
	#global-nav > li:first-child {
		padding-top:40px;
	}
	#global-nav > li.p-last {
		padding-bottom:60px;
	}
	#global-nav > li > p {
		width:100%;
		text-align:left;
		display:block;
		padding:0 40px;
	}
	#global-nav > li.js-underlayer > p {
		width:100%;
		text-align:left;
		display:block;
		padding:40px 50px 40px;
		border-bottom:2px solid #c6c9af;
		font-size:24px;
		font-weight:normal !important;
		line-height:1;
		font-family: 'Cinzel', serif;
		color:#514e47;
		letter-spacing:0.12em;
	}
	#global-nav > li > p a {
		color:#514e47;
		text-align:left;
		display:block;
		padding:40px 50px 40px;
		border-bottom:2px solid #c6c9af;
		position:relative;
		text-decoration:none;
		font-size:24px;
		font-weight:normal !important;
		line-height:1;
		font-family: 'Cinzel', serif;
		letter-spacing:0.12em;
	}
	#global-nav > li > p a span.p-main {
		display:inline-block;
		width:310px;
	}
	#global-nav > li.js-underlayer > p span.p-main {
		display:inline-block;
		width:310px;
	}
	#global-nav > li > p a span.p-sub {
		font-family: "游明朝体", "Yu Mincho", YuMincho,"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
		font-size:18px;
		display:inline-block;
		vertical-align:bottom;
		padding-left:0px;
		position:relative;
		letter-spacing: 0.05em;
	}
	#global-nav > li.js-underlayer > p span.p-sub {
		font-family: "游明朝体", "Yu Mincho", YuMincho,"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
		font-size:24px;
		width:calc(100% - 310px);
		text-align:right;
		display:inline-block;
		vertical-align:bottom;
		padding-left:30px;
		position:relative;
	}
	/*#global-nav > li > p a:after {
		content:"";
		background:url(../img/btn_arrow_sp.png) right center no-repeat transparent;	
		position: absolute;
		top: 74px;
		right: 84px;
		width:20px;
		height:34px;
		background-size: 20px 34px;
	}
	#global-nav > li > p a.p-icon:after {
		content:"";
		background:url(../../images/common/ico_recruit_sp.png) right center no-repeat transparent;	
		position: absolute;
		top: 74px;
		right: 78px;
		width:40px;
		height:40px;
		background-size: 40px 40px;
	}*/
	#global-nav .js-global-nav-detail {
		padding:0 40px;
	}
	#global-nav .js-global-nav-detail li {
		background-color:#FFFFFF;
		border-bottom:2px solid #c6c9af;
		line-height:1;
	}
	#global-nav .js-global-nav-detail a {
		padding:40px 50px;
		display:block;
		text-decoration:none;
		font-size:24px;
		font-weight:normal !important;
		line-height:1;
		font-family: 'Cinzel', serif;
		letter-spacing:0.12em;
	}
	
	#toggle2 {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 140px;
		width: 140px;
		
	}
	#toggle-btn2 {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		line-height: 0;
		position:relative;
		top: -16px;
	}
	#toggle-btn2 img {
		position:absolute;
		top:16px;
		left:0;
		z-index:2;
	}
	#toggle-btn2 p {
		color: #FFFFFF;
		padding-top: 130px;
		font-family: 'Cinzel', serif;
		font-size: 14px;
	}
	#toggle-btn2 img {
		max-width:196px;
		width:100%;
	}
	#toggle-btn-icon2 {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0px;
		bottom:0;
		width: 70px;
		height: 4px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
		z-index:1;
	}
	#toggle-btn-icon2:before, #toggle-btn-icon2:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 70px;
		height: 4px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon2:before {
		margin-top: -14px;
	}
	#toggle-btn-icon2:after {
		margin-top: 0px;
	}
	#toggle-btn2 .close {
		background: transparent !important;
		top: 0px;
	}
	#toggle-btn2 .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn2 .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	#toggle-btn2 .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	#global-nav-area2{
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10000;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		background-color:#cdd7bf;
	}
	#global-nav2 {
		padding:0 40px;
	}
	
	#global-nav2 > li {
		text-align:center;
	}
	#global-nav2 > li.p-title {
		padding-top:120px;
		padding-bottom:48px;
		text-align:left;
	}
	#global-nav2 > li.p-title > p {
		text-align:left;
		display:inline-block;
		font-family: 'Cinzel', serif;
		font-size: 42px;
		color:#514e47;
		font-weight:normal !important;
		letter-spacing:0.12em;
		line-height:1.5;
	}
	#global-nav2 > li.p-title > p span {
		width:100%;
		text-align:left;
		display:block;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 24px;
		font-weight:normal !important;
	}
	#global-nav2 > li.l-tel {
		padding:60px 80px;
		border: 2px solid #c6c9af;
	}
	#global-nav2 > li.l-tel p:nth-child(1) {
		font-size:28px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	#global-nav2 > li.l-tel p:nth-child(2) {
		font-family: 'Cinzel', serif;
		font-size: 24px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	#global-nav2 > li.l-tel p:nth-child(2) span a {
		text-decoration:none;
	}
	#global-nav2 > li.l-tel p:nth-child(2) span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 48px;
		position:relative;
		top:6px;
		padding-left:20px;
		letter-spacing:0.28em;
		/*font-weight:bold;*/
	}
	#global-nav2 > li.l-tel p:nth-child(3) {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 24px;
		color:#514e47;
		font-weight:normal !important;
		letter-spacing:0.12em;
	}
	#global-nav2 .l-btn {
		padding:20px 0 60px;
		width:100%;
		margin:0 auto;		
	}
	#global-nav2 .l-btn a {
		margin-top:40px;
		display:block;
		font-size:28px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:30px 20px;
		background: #897e63;
		background-size:12px auto;
		position:relative;
		letter-spacing:0.05em;
	}
	#global-nav2 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore2_pc.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 56px;
		left: 60px;
		width: 12px;
		height: 22px;
		background-size: 12px auto;
	}
	#global-nav2 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans Light', sans-serif;
		font-size: 18px;
		letter-spacing:0.16em;
	}
	
	.l-footer {
		width:100%;
		margin:0px auto 0;
		padding:120px 40px 0px;
		background-color:#e1e5d6;
	}
	
	.l-footer .l-footerBlock00{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column-reverse;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
	}
	.l-footer .l-footerBlock01{
		width:100%;
		display:block;
		vertical-align:top;
		margin:0px auto 0;
		padding:80px 0px 100px;
		border-right:none;
		border-top:2px solid #FFFFFF;
	}
	.l-footer .l-footerBlock01 .l-title{
		width:100%;
		text-align:left;
	}
	.l-footer .l-footerBlock01 .l-title p{
		color:#514e47;
		font-family: 'Cinzel', serif;
		font-size:42px;
		line-height:1.5;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock01 .l-title p span{
		color:#514e47;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:24px;
		font-weight:normal;
		display:block;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock01 .l-adress{
		width:100%;
		text-align:left;
		padding-top:60px;
	}
	.l-footer .l-footerBlock01 .l-adress p{
		font-size:24px;
		line-height:1.75;
		font-weight:bold;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;	
	}
	.l-footer .l-footerBlock01 .l-access p{
		display:inline-block;
		vertical-align:top;
		line-height:2;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(odd){
		width:100%;
		padding-right:0;
		display:block;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(even){
		width:100%;
		padding-bottom:30px;
		display:block;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(5){
		width:100%;
		padding-right:20px;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(6){
		width:100%;
	}
	.l-footer .l-footerBlock01 .l-btn {
		padding:0px 0 0;
		width:100%;
		margin:0 auto;		
	}
	.l-footer .l-footerBlock01 .l-btn {
		padding:0px 0 0;
		width:100%;
		margin:0 auto;		
	}
	.l-footer .l-footerBlock01 .l-btn p {
		display:block;
		width:100%;	
		vertical-align:top;
	}
	.l-footer .l-footerBlock01 .l-btn p:nth-child(1) {
		padding-right:0px;
	}
	.l-footer .l-footerBlock01 .l-btn p:nth-child(2) {
		padding-left:0px;
		margin-top:20px;
	}
	.l-footer .l-footerBlock01 .l-btn a {
		display:block;
		font-size:22px;
		font-weight:bold;
		line-height:2;
		color:#514e47;
		border:1px solid #514e47;
		text-align:center;
		text-decoration:none;
		padding:20px 20px;
		position:relative;
	}
	.l-footer .l-footerBlock01 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore3_sp.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 34px;
		left: 30px;
		width: 6px;
		height: 12px;
		background-size: 6px auto;
	}
	.l-footer .l-footerBlock01 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 18px;
	}
	
	.l-footer .l-footerBlock02{
		width:100%;
		display:block;
		vertical-align:top;
		margin:0px auto 0;
		padding:0px 0px 100px;
	}
	.l-footer .l-footerBlock02 .l-title{
		width:100%;
		text-align:left;
	}
	.l-footer .l-footerBlock02 .l-title p{
		color:#514e47;
		font-family: 'Cinzel', serif;
		font-size:36px;
		line-height:1.5;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-title p span{
		color:#514e47;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:24px;
		font-weight:normal;
		display:block;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-tel{
		width:100%;
		text-align:center;
		margin-top:40px;
		padding:60px 24px;
		border: 2px solid #c6c9af;
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(1) {
		font-size:28px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(2) {
		font-family: 'Cinzel', serif;
		font-size: 24px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(2) span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 48px;
		position:relative;
		top:6px;
		padding-left:20px;
		/*font-weight:bold;*/
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(3) {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 24px;
		color:#514e47;
		line-height:2;
		font-weight:normal;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-btn {
		padding:20px 0 0;
		width:100%;
		margin:0 auto;		
	}
	.l-footer .l-footerBlock02 .l-btn a {
		margin-top:20px;
		display:block;
		font-size:28px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:30px 20px;
		background: #897e63;
		background-size:12px auto;
		position:relative;
		letter-spacing:0.05em;
	}
	.l-footer .l-footerBlock02 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore2_sp.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 60px;
		left: 30px;
		width: 8px;
		height: 16px;
		background-size: 8px auto;
	}
	.l-footer .l-footerBlock02 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans Light', sans-serif;
		font-size: 18px;
		letter-spacing:0.16em;
	}
	
	.l-footerMenu{
		width:100%;
		display:block;
		margin:0px auto 0;
		padding:90px 40px 80px;
		/*letter-spacing:0.25em;*/
		background-color:#897e63;
		text-align:center;
	}
	.l-footerMenu .p-logo{
		padding-bottom:80px;
	}
	.l-footerMenu .p-logo img{
		max-width:450px;
		width:100%;
	}
	.l-footerMenu .l-footerMenu01{
		max-width:100%;
		width:100%;
		display:block;
		margin:0px auto 0;
	}
	.l-footerMenu .l-footerMenu01{
		max-width:100%;
		width:100%;
		display:block;
		margin:0px auto 0;
	}
	.l-footerMenu .l-footerMenu01 ul{
		width:100%;
	}
	/*.l-footerMenu .l-footerMenu01 ul.flexbox{
		display:-webkit-box;
	　　display: -webkit-flex;
	　　display:-ms-flexbox;
	　　display: flex;
	　　-webkit-flex-wrap:wrap;
	　　-ms-flex-wrap:wrap;
	　　flex-wrap:wrap;
	}*/
	.l-footerMenu .l-footerMenu01 ul li{
		width:50% !important;
		float:left;
		text-align:center;
		padding:0px 10px;
	}
	/*.l-footerMenu .l-footerMenu01 ul li:nth-child(1){
		-webkit-box-ordinal-group:1;
	　　-ms-flex-order:1;
	　　-webkit-order:1;
	　　order:1;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(2){
		-webkit-box-ordinal-group:3;
	　　-ms-flex-order:3;
	　　-webkit-order:3;
	　　order:3;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(3){
		-webkit-box-ordinal-group:5;
	　　-ms-flex-order:5;
	　　-webkit-order:5;
	　　order:5;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(4){
		-webkit-box-ordinal-group:7;
	　　-ms-flex-order:7;
	　　-webkit-order:7;
	　　order:7;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(5){
		-webkit-box-ordinal-group:9;
	　　-ms-flex-order:9;
	　　-webkit-order:9;
	　　order:9;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(6){
		-webkit-box-ordinal-group:11;
	　　-ms-flex-order:11;
	　　-webkit-order:11;
	　　order:11;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(7){
		-webkit-box-ordinal-group:12;
	　　-ms-flex-order:13;
	　　-webkit-order:13;
	　　order:13;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(8){
		-webkit-box-ordinal-group:2;
	　　-ms-flex-order:2;
	　　-webkit-order:2;
	　　order:2;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(9){
		-webkit-box-ordinal-group:4;
	　　-ms-flex-order:4;
	　　-webkit-order:4;
	　　order:4;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(10){
		-webkit-box-ordinal-group:6;
	　　-ms-flex-order:6;
	　　-webkit-order:6;
	　　order:6;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(11){
		-webkit-box-ordinal-group:8;
	　　-ms-flex-order:8;
	　　-webkit-order:8;
	　　order:8;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(12){
		-webkit-box-ordinal-group:10;
	　　-ms-flex-order:10;
	　　-webkit-order:10;
	　　order:10;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(13){
		-webkit-box-ordinal-group:12;
	　　-ms-flex-order:12;
	　　-webkit-order:12;
	　　order:12;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(14){
		-webkit-box-ordinal-group:14;
	　　-ms-flex-order:14;
	　　-webkit-order:14;
	　　order:14;
	}*/
	.l-footerMenu .l-footerMenu01 ul li a{
		display:block;
		font-size:24px;
		line-height:1.75;
		color:#FFFFFF;
		text-decoration:none;
		border-bottom:1px solid #FFFFFF;
		padding:20px 0;
		letter-spacing:0.05em;
	}
	.l-footerMenu .l-footerMenu01 ul li:nth-child(13) a,
	.l-footerMenu .l-footerMenu01 ul li:nth-child(14) a{
		border-bottom:none;
	}

	.l-copy {
		width:100%;
		margin:0 auto;
		padding:40px 20px;
		background-color:#e1e5d6;
	}
	.l-copy p {
		text-align:center;
		font-family: 'Cinzel', serif;
		font-size: 16px;
		font-weight:bold;
		color:#514e47;
		letter-spacing:0.12em;
	}
	
	.pconly{
		display:none !important;
	}
	.pconly2{
		display:block !important;
	}
	.sponly1200{
		display:block !important;
	}
	.sponly1000{
		display:none !important;
	}
	.sponly768{
		display:none !important;
	}
	.sponly480{
		display:none !important;
	}
}
@media screen and (max-width:1000px){	
	
	header{
		position:fixed;
		top:0;
		z-index:10000;
		height: 140px;
	}
	.l-header {
		width: 100%;
		height:100%;
	}
	.l-header-table {
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0;
		height:100%;
	}
	.l-header-left0{
		display:table-cell;
		vertical-align:middle;
		line-height:0;
		padding:0;
		width:140px;
	}
	.l-header-left{
		display:table-cell;		
		width:auto;
		vertical-align:middle;
		line-height:0;
		padding:0;
		text-align:center;
	}
	.l-header-left a{
		display:block;
		padding:0 36px 0 0;
		line-height:0;
	}
	.l-header-left img{
		max-width:270px;
		/*height:20px;*/
	}
	
	.l-header-center {
		display: none;
	}
	
	.l-header-right {
		display: table-cell;
		width: 140px;
		height: 140px;
		padding-left: 0px;
		text-align: right;
		vertical-align: middle;
		position: relative;
		background-color:#cdd7bf;
	}
	.l-header-right div.p-contact {
		display: none;
	}
	
	.l-header nav{
		display:block;	
	}
	
	#toggle {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 140px;
		width: 140px;
		background-color:#897d63;
	}
	#toggle.show {
		background-color:#cdd7bf;
	}
	#toggle-btn {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		position:relative;
		top:-8px;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		right:0;
		bottom:0;
		width: 70px;
		height: 4px;
		margin: auto;
		background: #c7bead;
		transition: .2s;
	}
	#toggle-btn p{
		color: #c7bead;
    	padding-top: 110px;
		font-family: 'Cinzel', serif;
		font-size:14px;
		letter-spacing:0.18em;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 70px;
		height: 4px;
		background: #c7bead;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -20px;
	}
	#toggle-btn-icon:after {
		margin-top: 20px;
	}
	#toggle.show #toggle-btn p {
		color:#FFFFFF;
	}
	#toggle-btn .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn .close {
		background: transparent;
	}
	#toggle-btn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		background: #FFFFFF;
	}
	#toggle-btn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		background: #FFFFFF;
	}
	
	/* --- nav ---*/
	#global-nav-area {
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10001;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		/*height:100% !important;*/
		background-color:#cdd7bf;
	}
	#global-nav {
		padding:0 0;
	}
	
	#global-nav > li {
		text-align:left;
	}
	#global-nav > li.js-underlayer {
		padding:0 40px;
	}
	#global-nav > li.js-underlayer:hover {
		cursor:pointer;
	}
	#global-nav > li:first-child {
		padding-top:40px;
	}
	#global-nav > li.p-last {
		padding-bottom:60px;
	}
	#global-nav > li > p {
		width:100%;
		text-align:left;
		display:block;
		padding:0 40px;
	}
	#global-nav > li.js-underlayer > p {
		width:100%;
		text-align:left;
		display:block;
		padding:40px 50px 40px;
		border-bottom:2px solid #c6c9af;
		font-size:24px;
		font-weight:normal !important;
		line-height:1;
		font-family: 'Cinzel', serif;
		color:#514e47;
		letter-spacing:0.12em;
	}
	#global-nav > li > p a {
		color:#514e47;
		text-align:left;
		display:block;
		padding:40px 50px 40px;
		border-bottom:2px solid #c6c9af;
		position:relative;
		text-decoration:none;
		font-size:24px;
		font-weight:normal !important;
		line-height:1;
		font-family: 'Cinzel', serif;
		letter-spacing:0.12em;
	}
	#global-nav > li > p a span.p-main {
		display:inline-block;
		width:310px;
	}
	#global-nav > li.js-underlayer > p span.p-main {
		display:inline-block;
		width:310px;
	}
	#global-nav > li > p a span.p-sub {
		font-family: "游明朝体", "Yu Mincho", YuMincho,"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
		font-size:18px;
		display:inline-block;
		vertical-align:bottom;
		padding-left:0px;
		position:relative;
		letter-spacing: 0.05em;
	}
	#global-nav > li.js-underlayer > p span.p-sub {
		font-family: "游明朝体", "Yu Mincho", YuMincho,"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
		font-size:24px;
		width:calc(100% - 310px);
		text-align:right;
		display:inline-block;
		vertical-align:bottom;
		padding-left:30px;
		position:relative;
	}
	/*#global-nav > li > p a:after {
		content:"";
		background:url(../img/btn_arrow_sp.png) right center no-repeat transparent;	
		position: absolute;
		top: 74px;
		right: 84px;
		width:20px;
		height:34px;
		background-size: 20px 34px;
	}
	#global-nav > li > p a.p-icon:after {
		content:"";
		background:url(../../images/common/ico_recruit_sp.png) right center no-repeat transparent;	
		position: absolute;
		top: 74px;
		right: 78px;
		width:40px;
		height:40px;
		background-size: 40px 40px;
	}*/
	#global-nav .js-global-nav-detail {
		padding:0 40px;
	}
	#global-nav .js-global-nav-detail li {
		background-color:#FFFFFF;
		border-bottom:2px solid #c6c9af;
		line-height:1;
	}
	#global-nav .js-global-nav-detail a {
		padding:40px 50px;
		display:block;
		text-decoration:none;
		font-size:24px;
		font-weight:normal !important;
		line-height:1;
		font-family: 'Cinzel', serif;
		letter-spacing:0.12em;
	}
	
	#toggle2 {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 140px;
		width: 140px;
		
	}
	#toggle-btn2 {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		line-height: 0;
		position:relative;
		top: -16px;
	}
	#toggle-btn2 img {
		position:absolute;
		top:16px;
		left:0;
		z-index:2;
	}
	#toggle-btn2 p {
		color: #FFFFFF;
		padding-top: 130px;
		font-family: 'Cinzel', serif;
		font-size: 14px;
	}
	#toggle-btn2 img {
		max-width:196px;
		width:100%;
	}
	#toggle-btn-icon2 {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0px;
		bottom:0;
		width: 70px;
		height: 4px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
		z-index:1;
	}
	#toggle-btn-icon2:before, #toggle-btn-icon2:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 70px;
		height: 4px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon2:before {
		margin-top: -14px;
	}
	#toggle-btn-icon2:after {
		margin-top: 0px;
	}
	#toggle-btn2 .close {
		background: transparent !important;
		top: 0px;
	}
	#toggle-btn2 .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn2 .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	#toggle-btn2 .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	#global-nav-area2{
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10000;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		background-color:#cdd7bf;
	}
	#global-nav2 {
		padding:0 40px;
	}
	
	#global-nav2 > li {
		text-align:center;
	}
	#global-nav2 > li.p-title {
		padding-top:120px;
		padding-bottom:48px;
		text-align:left;
	}
	#global-nav2 > li.p-title > p {
		text-align:left;
		display:inline-block;
		font-family: 'Cinzel', serif;
		font-size: 42px;
		color:#514e47;
		font-weight:normal !important;
		letter-spacing:0.12em;
		line-height:1.5;
	}
	#global-nav2 > li.p-title > p span {
		width:100%;
		text-align:left;
		display:block;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 24px;
		font-weight:normal !important;
	}
	#global-nav2 > li.l-tel {
		padding:60px 80px;
		border: 2px solid #c6c9af;
	}
	#global-nav2 > li.l-tel p:nth-child(1) {
		font-size:28px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	#global-nav2 > li.l-tel p:nth-child(2) {
		font-family: 'Cinzel', serif;
		font-size: 24px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	#global-nav2 > li.l-tel p:nth-child(2) span a {
		text-decoration:none;
	}
	#global-nav2 > li.l-tel p:nth-child(2) span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 48px;
		position:relative;
		top:6px;
		padding-left:20px;
		letter-spacing:0.28em;
		/*font-weight:bold;*/
	}
	#global-nav2 > li.l-tel p:nth-child(3) {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 24px;
		color:#514e47;
		font-weight:normal !important;
		letter-spacing:0.12em;
	}
	#global-nav2 .l-btn {
		padding:20px 0 60px;
		width:100%;
		margin:0 auto;		
	}
	#global-nav2 .l-btn a {
		margin-top:40px;
		display:block;
		font-size:28px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:30px 20px;
		background: #897e63;
		background-size:12px auto;
		position:relative;
		letter-spacing:0.05em;
	}
	#global-nav2 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore2_pc.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 56px;
		left: 60px;
		width: 12px;
		height: 22px;
		background-size: 12px auto;
	}
	#global-nav2 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans Light', sans-serif;
		font-size: 18px;
		letter-spacing:0.16em;
	}
	
	.l-pickup {
		margin-top: 0%;
		padding: 10.66% 40px 17.66%;
	}
	.l-pickup-ttl-en {
		font-size: 40px;
	}
	.l-pickup-ttl-jp {
		font-size: 22px;
	}
	.l-pickup-list {
		width: 100%;
		margin-top: 8%;
	}
	.l-pickup-list {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.l-pickup-list-inner {
		width: 154.66%;
	}
	.l-pickup-item {
		width: 29.52%;
	}
	.l-pickup-item + .l-pickup-item {
		margin-left: 5.72%;
	}
	.l-pickup-item-txtarea {
		padding: 6.66% 0 0;
	}
	.l-pickup-item-img img {
		width: 100%;
	}
	.l-pickup-item-ttl {
		font-size: 22px;
	}
	.l-pickup-item-txt {
		font-size: 18px;
	}
	.l-pickup-item-btn {
		font-size: 18px;
		padding: 10px;
	}
	.l-pickup-item-btn:before {
		width: 9px;
		height: 16px;
		background: url(../img/ico_pickup_sp.png) no-repeat;
	}
	
	.l-mv-line {
		margin: 13.86% 0 8%;
	}
	.l-mv-line:before {
		top: 50%;
		width: 676px;
		height: 2px;
	}
	.l-mv-line-inner {
		width: 432px;
		height: 274px;
		padding-top: 155px;
	}
	.l-mv-line-en {
		font-size: 48px;
	}
	.l-mv-line-jp {
		font-size: 22px;
	}

	.l-image-slide + .l-image-slide {
		margin-top: 160px;
	}
	.l-image-slide-mv {
		position: relative;
	}
	.l-image-slide-mv-ttl {
		position: absolute;
		top: -52px;
		left: 0;
		right: 0;
		width: 598px;
		margin-top: 0;
		/* padding-top: 20px; */
		padding: 20px 0 32px;
	}
	.l-image-slide-mv-ttl:before {
		content: "";
		display: block;
		position: absolute;
		top: -16px;
		left: 0;
		right: 0;
		width: 60px;
		height: 2px;
		background: #afa27d;
		margin: auto;
	}
	.l-image-slide-mv-ttl-en {
		font-size: 48px;
	}
	.l-image-slide-mv-ttl-jp {
		font-size: 22px;
		margin-top: 0.6em;
	}
	.l-image-slide-under-ttl {
		font-size: 24px;
	}
	
	.l-image-slide-under {
		margin-top: 9.6%;
	}
	.l-image-slide-under-spec {
		font-size: 22px;
		margin-top: 5.33%;
	}
	.l-image-slide-under-spec th {
		padding-right: 72px;
	}
	.l-image-slide-under-spec td {
		padding-left: 72px;
	}
	.l-image-slide-photo-wrap {
		margin-top: 12.53%;
		padding-left: 0;
	}
	.l-image-slide-photo-wrap img {
		width: 100%;
	}
	.l-image-slide-photo-wrap li + li {
		margin-top: 2.66%;
	}
	
	.l-inner{
		padding:0 40px;
	}
	.l-inner1060{
		padding:0 40px;
	}
	.l-inner1160{
		padding:0 40px;
	}
	
	.pconly{
		display:none !important;
	}
	.pconly2{
		display:none !important;
	}
	.sponly1200{
		display:block !important;
	}
	.sponly1000{
		display:block !important;
	}
	.sponly768{
		display:none !important;
	}
	.sponly480{
		display:none !important;
	}
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){
	
	header{
		position:fixed;
		top:0;
		z-index:10000;
		height: 98px;
	}
	.l-header {
		width: 100%;
		height:100%;
	}
	.l-header-table {
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0;
		height:100%;
	}
	.l-header-left0{
		display:table-cell;
		vertical-align:middle;
		line-height:0;
		padding:0;
		width:98px;
	}
	.l-header-left{
		display:table-cell;		
		width:auto;
		vertical-align:middle;
		line-height:0;
		padding:0;
		text-align:center;
	}
	.l-header-left a{
		display:block;
		padding:0 25px 0 0;
		line-height:0;
	}
	.l-header-left img{
		max-width:190px;
		/*height:20px;*/
	}
	
	.l-header-center {
		display: none;
	}
	
	.l-header-right {
		display: table-cell;
		width: 98px;
		height: 98px;
		padding-left: 0px;
		text-align: right;
		vertical-align: middle;
		position: relative;
		background-color:#cdd7bf;
	}
	.l-header-right div.p-contact {
		display: none;
	}
	
	.l-header nav{
		display:block;	
	}
	
	#toggle {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 98px;
		width: 98px;
		background-color:#897d63;
	}
	#toggle.show {
		background-color:#cdd7bf;
	}
	#toggle-btn {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		position:relative;
		top:-8px;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		right:0;
		bottom:0;
		width: 50px;
		height: 3px;
		margin: auto;
		background: #c7bead;
		transition: .2s;
	}
	#toggle-btn p{
		color: #c7bead;
    	padding-top: 130px;
		font-family: 'Cinzel', serif;
		font-size:10px;
	}
	#toggle-btn p{
		color: #c7bead;
    	padding-top: 77px;
		font-family: 'Cinzel', serif;
		font-size:10px;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 50px;
		height: 3px;
		background: #c7bead;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -14px;
	}
	#toggle-btn-icon:after {
		margin-top: 14px;
	}
	#toggle #toggle-btn p {
		color:#c7bead;
	}
	#toggle.show #toggle-btn p {
		color:#FFFFFF;
	}
	#toggle-btn .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn .close {
		background: transparent;
	}
	#toggle-btn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		background: #FFFFFF;
	}
	#toggle-btn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		background: #FFFFFF;
	}
	
	/* --- nav ---*/
	#global-nav-area {
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10001;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		/*height:100% !important;*/
		background-color:#cdd7bf;
	}
	#global-nav {
		padding:0 0;
	}
	
	#global-nav > li {
		text-align:left;
	}
	#global-nav > li.js-underlayer {
		padding:0 14px;
	}
	#global-nav > li.js-underlayer:hover {
		cursor:pointer;
	}
	#global-nav > li:first-child {
		padding-top:26px;
	}
	#global-nav > li.p-last {
		padding-bottom:56px;
	}
	#global-nav > li > p {
		width:100%;
		text-align:left;
		display:block;
		padding:0 14px;
	}
	#global-nav > li.js-underlayer > p {
		width:100%;
		text-align:left;
		display:block;
		padding:30px 35px 30px;
		border-bottom:2px solid #c6c9af;
		font-size:18px;
		font-weight:bold;
		line-height:1;
		font-family: 'Cinzel', serif;
		color:#514e47;
	}
	#global-nav > li > p a {
		color:#514e47;
		text-align:left;
		display:block;
		padding:30px 35px 30px;
		border-bottom:2px solid #c6c9af;
		position:relative;
		text-decoration:none;
		font-size:18px;
		font-weight:bold;
		line-height:1;
		font-family: 'Cinzel', serif;
	}
	#global-nav > li > p a span.p-main {
		display:inline-block;
		width:217px;
	}
	#global-nav > li.js-underlayer > p span.p-main {
		display:inline-block;
		width:217px;
	}
	#global-nav > li > p a span.p-sub {
		font-family: "游明朝体", "Yu Mincho", YuMincho,"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
		font-size:13px;
		display:inline-block;
		vertical-align:bottom;
		padding-left:0px;
		position:relative;
		letter-spacing: 0;
	}
	#global-nav > li.js-underlayer > p span.p-sub {
		font-family: "游明朝体", "Yu Mincho", YuMincho,"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
		font-size:13px;
		width:calc(100% - 217px);
		text-align:right;
		display:inline-block;
		vertical-align:bottom;
		padding-left:20px;
		position:relative;
	}
	/*#global-nav > li > p a:after {
		content:"";
		background:url(../../images/common/btn_arrow_sp.png) right center no-repeat transparent;	
		position: absolute;
		top: 52px;
		right: 59px;
		width:14px;
		height:24px;
		background-size: 14px 24px;
	}
	#global-nav > li > p a.p-icon:after {
		content:"";
		background:url(../../images/common/ico_recruit_sp.png) right center no-repeat transparent;	
		position: absolute;
		top: 52px;
		right: 55px;
		width:28px;
		height:28px;
		background-size: 28px 28px;
	}*/
	#global-nav .js-global-nav-detail {
		padding:0 14px;
	}
	#global-nav .js-global-nav-detail li {
		background-color:#FFFFFF;
		border-bottom:2px solid #c6c9af;
		line-height:1;
	}
	#global-nav .js-global-nav-detail a {
		padding:30px 35px;
		display:block;
		text-decoration:none;
		font-size:18px;
		font-weight:bold;
		line-height:1;
		font-family: 'Cinzel', serif;
	}
	
	#toggle2 {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 98px;
		width: 98px;
		
	}
	#toggle-btn2 {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		line-height: 0;
		position:relative;
		top: -11px;
	}
	#toggle-btn2 img {
		position:absolute;
		top:11px;
		left:0;
		z-index:2;
	}
	#toggle-btn2 p {
		color: #FFFFFF;
		padding-top: 91px;
		font-family: 'Cinzel', serif;
		font-size: 10px;
	}
	#toggle-btn2 img {
		max-width:137px;
		width:100%;
	}
	#toggle-btn-icon2 {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0px;
		bottom:0;
		width: 50px;
		height: 3px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
		z-index:1;
	}
	#toggle-btn-icon2:before, #toggle-btn-icon2:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 50px;
		height: 3px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon2:before {
		margin-top: -10px;
	}
	#toggle-btn-icon2:after {
		margin-top: 0px;
	}
	#toggle-btn2 .close {
		background: transparent !important;
		top: 0px;
	}
	#toggle-btn2 .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn2 .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	#toggle-btn2 .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	#global-nav-area2{
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10000;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		background-color:#cdd7bf;
	}
	#global-nav2 {
		padding:0 30px;
	}
	
	#global-nav2 > li {
		text-align:center;
	}
	#global-nav2 > li.p-title {
		padding-top:84px;
		padding-bottom:34px;
	}
	#global-nav2 > li.p-title > p {
		text-align:center;
		display:inline-block;
		font-family: 'Cinzel', serif;
		font-size: 30px;
		color:#514e47;
		font-weight:bold;
	}
	#global-nav2 > li.p-title > p span {
		width:100%;
		text-align:left;
		display:block;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 17px;
		font-weight:bold;
	}
	#global-nav2 > li.l-tel {
		padding:42px 56px;
		border: 2px solid #c6c9af;
	}
	#global-nav2 > li.l-tel p:nth-child(1) {
		font-size:20px;
		color:#514e47;
	}
	#global-nav2 > li.l-tel p:nth-child(2) {
		font-family: 'Cinzel', serif;
		font-size: 17px;
		color:#514e47;
	}
	#global-nav2 > li.l-tel p:nth-child(2) span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 34px;
		position:relative;
		top:6px;
		padding-left:14px;
		/*font-weight:bold;*/
	}
	#global-nav2 > li.l-tel p:nth-child(3) {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 17px;
		color:#514e47;
		font-weight:bold;
	}
	#global-nav2 .l-btn {
		padding:15px 0 30px;
		width:100%;
		margin:0 auto;		
	}
	#global-nav2 .l-btn a {
		margin-top:15px;
		display:block;
		font-size:20px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:20px 14px;
		background: #897e63;
		background-size:8px auto;
		position:relative;
	}
	#global-nav2 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore2_pc.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 39px;
		left: 42px;
		width: 8px;
		height: 15px;
		background-size: 8px auto;
	}
	#global-nav2 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 13px;
	}
	
	.l-pickup {
		padding: 10.66% 28px 17.66%;
	}
	.l-pickup-ttl-en {
		font-size: 28px;
	}
	.l-pickup-ttl-jp {
		font-size: 15px;
	}
	.l-pickup-item-ttl {
		font-size: 15px;
	}
	.l-pickup-item-txt {
		font-size: 13px;
	}
	.l-pickup-item-btn {
		font-size: 13px;
		padding: 6px 10px 7px;
	}
	
	.l-mv-line:before {
		left: 24px;
		right: 24px;
		width: auto;
		max-width: 521px;
		height: 2px;
	}
	.l-mv-line-inner {
		width: 302px;
		height: 192px;
		padding-top: 113px;
	}
	.l-mv-line-en {
		font-size: 34px;
	}
	.l-mv-line-jp {
		font-size: 15px;
	}
	
	.l-image-slide + .l-image-slide {
		margin-top: 112px;
	}
	.l-image-slide-mv-ttl {
		top: -36px;
		width: 419px;
		padding: 14px 0 22px;
	}
	.l-image-slide-mv-ttl:before {
		top: -11px;
		width: 42px;
	}
	.l-image-slide-mv-ttl-en {
		font-size: 34px;
	}
	.l-image-slide-mv-ttl-jp {
		font-size: 15px;
	}
	.l-image-slide-under-ttl {
		font-size: 17px;
	}
	.l-image-slide-under-spec {
		font-size: 15px;
	}
	.l-image-slide-under-spec th {
		padding-right: 50px;
	}
	.l-image-slide-under-spec td {
		padding-left: 50px;
	}
	
	.l-footer {
		width:100%;
		margin:0px auto 0;
		padding:84px 30px 0px;
		background-color:#e1e5d6;
	}
	
	.l-footer .l-footerBlock00{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column-reverse;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
	}
	.l-footer .l-footerBlock01{
		width:100%;
		display:block;
		vertical-align:top;
		margin:0px auto 0;
		padding:56px 0px 70px;
		border-right:none;
		border-top:2px solid #FFFFFF;
	}
	.l-footer .l-footerBlock01 .l-title{
		width:100%;
		text-align:left;
	}
	.l-footer .l-footerBlock01 .l-title p{
		color:#514e47;
		font-family: 'Cinzel', serif;
		font-size:29px;
		line-height:1.5;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock01 .l-title p span{
		color:#514e47;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:17px;
		font-weight:normal;
		display:block;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock01 .l-adress{
		width:100%;
		text-align:left;
		padding-top:60px;
	}
	.l-footer .l-footerBlock01 .l-adress p{
		font-size:17px;
		line-height:1.75;
		font-weight:bold;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;	
	}
	.l-footer .l-footerBlock01 .l-access p{
		display:inline-block;
		vertical-align:top;
		line-height:2;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(odd){
		width:100%;
		padding-right:0;
		display:block;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(even){
		width:100%;
		padding-bottom:20px;
		display:block;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(5){
		width:100%;
		padding-right:15px;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(6){
		width:100%;
	}
	.l-footer .l-footerBlock01 .l-btn {
		padding:0px 0 0;
		width:100%;
		margin:0 auto;		
	}
	.l-footer .l-footerBlock01 .l-btn {
		padding:0px 0 0;
		width:100%;
		margin:0 auto;		
	}
	.l-footer .l-footerBlock01 .l-btn p {
		display:block;
		width:100%;	
		vertical-align:top;
	}
	.l-footer .l-footerBlock01 .l-btn p:nth-child(1) {
		padding-right:0px;
	}
	.l-footer .l-footerBlock01 .l-btn p:nth-child(2) {
		padding-left:0px;
		margin-top:15px;
	}
	.l-footer .l-footerBlock01 .l-btn a {
		display:block;
		font-size:15px;
		font-weight:bold;
		line-height:2;
		color:#514e47;
		border:1px solid #514e47;
		text-align:center;
		text-decoration:none;
		padding:15px 15px;
		position:relative;
	}
	.l-footer .l-footerBlock01 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore3_sp.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 24px;
		left: 21px;
		width: 5px;
		height: 9px;
		background-size: 5px auto;
	}
	.l-footer .l-footerBlock01 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 13px;
	}
	
	.l-footer .l-footerBlock02{
		width:100%;
		display:block;
		vertical-align:top;
		margin:0px auto 0;
		padding:0px 0px 70px;
	}
	.l-footer .l-footerBlock02 .l-title{
		width:100%;
		text-align:left;
	}
	.l-footer .l-footerBlock02 .l-title p{
		color:#514e47;
		font-family: 'Cinzel', serif;
		font-size:25px;
		line-height:1.5;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-title p span{
		color:#514e47;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:17px;
		font-weight:normal;
		display:block;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-tel{
		width:100%;
		text-align:center;
		margin-top:30px;
		padding:42px 17px;
		border: 2px solid #c6c9af;
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(1) {
		font-size:20px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(2) {
		font-family: 'Cinzel', serif;
		font-size: 17px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(2) span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 34px;
		position:relative;
		top:6px;
		padding-left:15px;
		/*font-weight:bold;*/
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(3) {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 17px;
		color:#514e47;
		line-height:2;
		font-weight:normal;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-btn {
		padding:15px 0 0;
		width:100%;
		margin:0 auto;		
	}
	.l-footer .l-footerBlock02 .l-btn a {
		margin-top:15px;
		display:block;
		font-size:20px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:20px 15px;
		background: #897e63;
		background-size:9px auto;
		position:relative;
		letter-spacing:0.05em;
	}
	.l-footer .l-footerBlock02 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore2_sp.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 42px;
		left: 21px;
		width: 6px;
		height: 11px;
		background-size: 6px auto;
	}
	.l-footer .l-footerBlock02 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans Light', sans-serif;
		font-size: 13px;
		letter-spacing:0.16em;
	}
	
	.l-footerMenu{
		width:100%;
		display:block;
		margin:0px auto 0;
		padding:63px 30px 56px;
		/*letter-spacing:0.25em;*/
		background-color:#897e63;
		text-align:center;
	}
	.l-footerMenu .p-logo{
		padding-bottom:56px;
	}
	.l-footerMenu .p-logo img{
		max-width:315px;
		width:100%;
	}
	.l-footerMenu .l-footerMenu01{
		max-width:100%;
		width:100%;
		display:block;
		margin:0px auto 0;
	}
	.l-footerMenu .l-footerMenu01 ul{
		width:100%;
	}
	.l-footerMenu .l-footerMenu01 ul li{
		width:50% !important;
		float:left;
		text-align:center;
		padding:0px 7px;
	}
	.l-footerMenu .l-footerMenu01 ul li a{
		display:block;
		font-size:17px;
		line-height:1.75;
		color:#FFFFFF;
		text-decoration:none;
		border-bottom:1px solid #FFFFFF;
		padding:15px 0;
		letter-spacing:0.05em;
	}

	.l-copy {
		width:100%;
		margin:0 auto;
		padding:30px 15px;
		background-color:#e1e5d6;
	}
	.l-copy p {
		text-align:center;
		font-family: 'Cinzel', serif;
		font-size: 11px;
		font-weight:bold;
		color:#514e47;
		letter-spacing:0.12em;
	}
	
	.l-inner{
		padding:0 30px;
	}
	.l-inner1060{
		padding:0 30px;
	}
	.l-inner1160{
		padding:0 30px;
	}
	
	.l-globalMenu{
		display:none;
	}
	
	.pconly{
		display:none !important;
	}
	.sponly1200{
		display:block !important;
	}
	.sponly1000{
		display:block !important;
	}
	.sponly768{
		display:block !important;
	}
	.sponly480{
		display:none !important;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:768px) and (min-width:320px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	header{
		position:fixed;
		top:0;
		z-index:10000;
		height: 70px;
	}
	.l-header {
		width: 100%;
		height:100%;
	}
	.l-header-table {
		width: 100%;
		margin: 0 auto 0;
		display: table;
		padding: 0;
		height:100%;
	}
	.l-header-left0{
		display:table-cell;
		vertical-align:middle;
		line-height:0;
		padding:0;
		width:70px;
	}
	.l-header-left{
		display:table-cell;		
		width:auto;
		vertical-align:middle;
		line-height:0;
		padding:0;
		text-align:center;
	}
	.l-header-left a{
		display:block;
		padding:0 18px 0 0;
		line-height:0;
	}
	.l-header-left img{
		max-width:135px;
		/*height:20px;*/
	}
	
	.l-header-center {
		display: none;
	}
	
	.l-header-right {
		display: table-cell;
		width: 70px;
		height: 70px;
		padding-left: 0px;
		text-align: right;
		vertical-align: middle;
		position: relative;
		background-color:#cdd7bf;
	}
	.l-header-right div.p-contact {
		display: none;
	}
	
	.l-header nav{
		display:block;	
	}
	
	#toggle {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 70px;
		width: 70px;
		background-color:#897d63;
	}
	#toggle.show {
		background-color:#cdd7bf;
	}
	#toggle-btn {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		position:relative;
		top:-8px;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		right:0;
		bottom:0;
		width: 35px;
		height: 2px;
		margin: auto;
		background: #c7bead;
		transition: .2s;
	}
	#toggle-btn p{
		color: #c7bead;
    	padding-top: 65px;
		font-family: 'Cinzel', serif;
		font-size:7px;
	}
	#toggle-btn p{
		color: #c7bead;
    	padding-top: 55px;
		font-family: 'Cinzel', serif;
		font-size:7px;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 35px;
		height: 2px;
		background: #c7bead;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -10px;
	}
	#toggle-btn-icon:after {
		margin-top: 10px;
	}
	#toggle #toggle-btn p {
		color:#c7bead;
	}
	#toggle.show #toggle-btn p {
		color:#FFFFFF;
	}
	#toggle-btn .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn .close {
		background: transparent;
	}
	#toggle-btn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		background: #FFFFFF;
	}
	#toggle-btn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		background: #FFFFFF;
	}
	
	/* --- nav ---*/
	#global-nav-area {
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10001;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		/*height:100% !important;*/
		background-color:#cdd7bf;
	}
	#global-nav {
		padding:0 0;
	}
	
	#global-nav > li {
		text-align:left;
	}
	#global-nav > li.js-underlayer {
		padding:0 20px;
	}
	#global-nav > li.js-underlayer:hover {
		cursor:pointer;
	}
	#global-nav > li:first-child {
		padding-top:20px;
	}
	#global-nav > li.p-last {
		padding-bottom:40px;
	}
	#global-nav > li > p {
		width:100%;
		text-align:left;
		display:block;
		padding:0 20px;
	}
	#global-nav > li.js-underlayer > p {
		width:100%;
		text-align:left;
		display:block;
		padding:20px 25px 20px;
		border-bottom:2px solid #c6c9af;
		font-size:12px;
		font-weight:bold;
		line-height:1;
		font-family: 'Cinzel', serif;
		color:#514e47;
	}
	#global-nav > li > p a {
		color:#514e47;
		text-align:left;
		display:block;
		padding:20px 25px 20px;
		border-bottom:2px solid #c6c9af;
		position:relative;
		text-decoration:none;
		font-size:12px;
		font-weight:bold;
		line-height:1;
		font-family: 'Cinzel', serif;
	}
	#global-nav > li > p a span.p-main {
		display:inline-block;
		width:120px;
	}
	#global-nav > li.js-underlayer > p span.p-main {
		display:inline-block;
		width:120px;
	}
	#global-nav > li > p a span.p-sub {
		font-family: "游明朝体", "Yu Mincho", YuMincho,"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
		font-size:9px;
		display:inline-block;
		vertical-align:bottom;
		padding-left:0px;
		position:relative;
		letter-spacing: 0;
	}
	#global-nav > li.js-underlayer > p span.p-sub {
		font-family: "游明朝体", "Yu Mincho", YuMincho,"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
		font-size:12px;
		width:calc(100% - 125px);
		text-align:right;
		display:inline-block;
		vertical-align:bottom;
		padding-left:15px;
		position:relative;
	}
	/*#global-nav > li > p a:after {
		content:"";
		background:url(../../images/common/btn_arrow_sp.png) right center no-repeat transparent;	
		position: absolute;
		top: 37px;
		right: 42px;
		width:10px;
		height:17px;
		background-size: 10px 17px;
	}
	#global-nav > li > p a.p-icon:after {
		content:"";
		background:url(../../images/common/ico_recruit_sp.png) right center no-repeat transparent;	
		position: absolute;
		top: 37px;
		right: 39px;
		width:20px;
		height:20px;
		background-size: 20px 20px;
	}*/
	#global-nav .js-global-nav-detail {
		padding:0 20px;
	}
	#global-nav .js-global-nav-detail li {
		background-color:#FFFFFF;
		border-bottom:2px solid #c6c9af;
		line-height:1;
	}
	#global-nav .js-global-nav-detail a {
		padding:20px 25px;
		display:block;
		text-decoration:none;
		font-size:12px;
		font-weight:bold;
		line-height:1;
		font-family: 'Cinzel', serif;
	}
	
	#toggle2 {
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 70px;
		width: 70px;
		
	}
	#toggle-btn2 {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		line-height: 0;
		position:relative;
		top: -8px;
	}
	#toggle-btn2 img {
		position:absolute;
		top:8px;
		left:0;
		z-index:2;
	}
	#toggle-btn2 p {
		color: #FFFFFF;
		padding-top: 65px;
		font-family: 'Cinzel', serif;
		font-size: 7px;
	}
	#toggle-btn2 img {
		max-width:98px;
		width:100%;
	}
	#toggle-btn-icon2 {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0px;
		bottom:0;
		width: 35px;
		height: 2px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
		z-index:1;
	}
	#toggle-btn-icon2:before, #toggle-btn-icon2:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 35px;
		height: 2px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon2:before {
		margin-top: -7px;
	}
	#toggle-btn-icon2:after {
		margin-top: 0px;
	}
	#toggle-btn2 .close {
		background: transparent !important;
		top: 0px;
	}
	#toggle-btn2 .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn2 .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	#toggle-btn2 .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	#global-nav-area2{
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10000;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		background-color:#cdd7bf;
	}
	#global-nav2 {
		padding:0 15px;
	}
	
	#global-nav2 > li {
		text-align:center;
	}
	#global-nav2 > li.p-title {
		padding-top:60px;
		padding-bottom:24px;
		text-align:left;
	}
	#global-nav2 > li.p-title > p {
		text-align:center;
		display:inline-block;
		font-family: 'Cinzel', serif;
		font-size: 18px;
		color:#514e47;
		font-weight:bold;
	}
	#global-nav2 > li.p-title > p span {
		width:100%;
		text-align:left;
		display:block;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 12px;
		font-weight:bold;
	}
	#global-nav2 > li.l-tel {
		padding:30px 20px;
		border: 2px solid #c6c9af;
	}
	#global-nav2 > li.l-tel p:nth-child(1) {
		font-size:14px;
		color:#514e47;
	}
	#global-nav2 > li.l-tel p:nth-child(2) {
		font-family: 'Cinzel', serif;
		font-size: 12px;
		color:#514e47;
	}
	#global-nav2 > li.l-tel p:nth-child(2) span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 24px;
		position:relative;
		top:3px;
		padding-left:10px;
		/*font-weight:bold;*/
	}
	#global-nav2 > li.l-tel p:nth-child(3) {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 12px;
		color:#514e47;
		font-weight:bold;
	}
	#global-nav2 .l-btn {
		padding:10px 0 20px;
		width:100%;
		margin:0 auto;		
	}
	#global-nav2 .l-btn a {
		margin-top:10px;
		display:block;
		font-size:14px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:15px 10px;
		background: #897e63;
		background-size:6px auto;
		position:relative;
	}
	#global-nav2 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore2_pc.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 28px;
		left: 30px;
		width: 6px;
		height: 11px;
		background-size: 6px auto;
	}
	#global-nav2 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 9px;
	}
	
	.l-pickup {
		padding: 10.66% 20px 17.66%;
	}
	.l-pickup-ttl-en {
		font-size: 20px;
	}
	.l-pickup-ttl-jp {
		font-size: 11px;
	}
	.l-pickup-item-ttl {
		font-size: 11px;
	}
	.l-pickup-item-txt {
		font-size: 9px;
	}
	.l-pickup-item-btn {
		font-size: 9px;
		padding: 4px;
	}
	.l-pickup-item-btn:before {
		width: 4px;
		height: 7px;
		background-size: contain;
	}
	
	.l-mv-line:before {
		height: 1px;
		left: 20px;
		right: 20px;
	}
	.l-mv-line-inner {
		width: 216px;
		height: 137px;
		padding-top: 80px;
	}
	.l-mv-line-en {
		font-size: 24px;
	}
	.l-mv-line-jp {
		font-size: 11px;
	}
	
	.l-image-slide + .l-image-slide {
		margin-top: 80px;
	}
	.l-image-slide-mv-ttl {
		width: 299px;
		padding: 10px 0 16px;
	}
	.l-image-slide-mv-ttl:before {
		width: 30px;
		height: 1px;
		top: -8px;
	}
	.l-image-slide-mv-ttl-en {
		font-size: 24px;
	}
	.l-image-slide-mv-ttl-jp {
		font-size: 11px;
	}
	.l-image-slide-under-ttl {
		font-size: 12px;
	}
	.l-image-slide-under-spec {
		font-size: 11px;
	}
	.l-image-slide-under-spec th {
		padding-right: 36px;
	}
	.l-image-slide-under-spec td {
		padding-left: 36px;
	}
	
	.l-footer {
		width:100%;
		margin:0px auto 0;
		padding:60px 20px 0px;
		background-color:#e1e5d6;
	}
	
	.l-footer .l-footerBlock00{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column-reverse;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
	}
	.l-footer .l-footerBlock01{
		width:100%;
		display:block;
		vertical-align:top;
		margin:0px auto 0;
		padding:40px 0px 50px;
		border-right:none;
		border-top:2px solid #FFFFFF;
	}
	.l-footer .l-footerBlock01 .l-title{
		width:100%;
		text-align:left;
	}
	.l-footer .l-footerBlock01 .l-title p{
		color:#514e47;
		font-family: 'Cinzel', serif;
		font-size:21px;
		line-height:1.5;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock01 .l-title p span{
		color:#514e47;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:12px;
		font-weight:normal;
		display:block;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock01 .l-adress{
		width:100%;
		text-align:left;
		padding-top:30px;
	}
	.l-footer .l-footerBlock01 .l-adress p{
		font-size:12px;
		line-height:1.75;
		font-weight:bold;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;	
	}
	.l-footer .l-footerBlock01 .l-access p{
		display:inline-block;
		vertical-align:top;
		line-height:2;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(odd){
		width:100%;
		padding-right:0;
		display:block;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(even){
		width:100%;
		padding-bottom:15px;
		display:block;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(5){
		width:100%;
		padding-right:10px;
	}
	.l-footer .l-footerBlock01 .l-access p:nth-child(6){
		width:100%;
	}
	.l-footer .l-footerBlock01 .l-btn {
		padding:0px 0 0;
		width:100%;
		margin:0 auto;		
	}
	.l-footer .l-footerBlock01 .l-btn {
		padding:0px 0 0;
		width:100%;
		margin:0 auto;		
	}
	.l-footer .l-footerBlock01 .l-btn p {
		display:block;
		width:100%;	
		vertical-align:top;
	}
	.l-footer .l-footerBlock01 .l-btn p:nth-child(1) {
		padding-right:0px;
	}
	.l-footer .l-footerBlock01 .l-btn p:nth-child(2) {
		padding-left:0px;
		margin-top:10px;
	}
	.l-footer .l-footerBlock01 .l-btn a {
		display:block;
		font-size:11px;
		font-weight:bold;
		line-height:2;
		color:#514e47;
		border:1px solid #514e47;
		text-align:center;
		text-decoration:none;
		padding:10px 10px;
		position:relative;
	}
	.l-footer .l-footerBlock01 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore3_sp.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 17px;
		left: 15px;
		width: 3px;
		height: 6px;
		background-size: 3px auto;
	}
	.l-footer .l-footerBlock01 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 9px;
	}
	
	.l-footer .l-footerBlock02{
		width:100%;
		display:block;
		vertical-align:top;
		margin:0px auto 0;
		padding:0px 0px 50px;
	}
	.l-footer .l-footerBlock02 .l-title{
		width:100%;
		text-align:left;
	}
	.l-footer .l-footerBlock02 .l-title p{
		color:#514e47;
		font-family: 'Cinzel', serif;
		font-size:18px;
		line-height:1.5;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-title p span{
		color:#514e47;
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size:12px;
		font-weight:normal;
		display:block;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-tel{
		width:100%;
		text-align:center;
		margin-top:20px;
		padding:30px 12px;
		border: 2px solid #c6c9af;
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(1) {
		font-size:14px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(2) {
		font-family: 'Cinzel', serif;
		font-size: 12px;
		color:#514e47;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(2) span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 24px;
		position:relative;
		top:3px;
		padding-left:10px;
		/*font-weight:bold;*/
	}
	.l-footer .l-footerBlock02 .l-tel p:nth-child(3) {
		font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
		font-size: 12px;
		color:#514e47;
		line-height:2;
		font-weight:normal;
		letter-spacing:0.12em;
	}
	.l-footer .l-footerBlock02 .l-btn {
		padding:10px 0 0;
		width:100%;
		margin:0 auto;		
	}
	.l-footer .l-footerBlock02 .l-btn a {
		margin-top:10px;
		display:block;
		font-size:14px;
		line-height:1.7;
		color:#FFFFFF;
		text-align:center;
		text-decoration:none;
		padding:15px 10px;
		background: #897e63;
		background-size:6px auto;
		position:relative;
		letter-spacing:0.05em;
	}
	.l-footer .l-footerBlock02 .l-btn a:before {
		content: ' ';
		background:url(../img/ico_viewmore2_sp.png) 0 0 no-repeat transparent;
		position: absolute;
		top: 30px;
		left: 15px;
		width: 4px;
		height: 8px;
		background-size: 4px auto;
	}
	.l-footer .l-footerBlock02 .l-btn a span {
		display:block;
		font-family: 'Josefin Sans Light', sans-serif;
		font-size: 9px;
		letter-spacing:0.16em;
	}
	
	.l-footerMenu{
		width:100%;
		display:block;
		margin:0px auto 0;
		padding:45px 20px 40px;
		/*letter-spacing:0.25em;*/
		background-color:#897e63;
		text-align:center;
	}
	.l-footerMenu .p-logo{
		padding-bottom:40px;
	}
	.l-footerMenu .p-logo img{
		max-width:225px;
		width:100%;
	}
	.l-footerMenu .l-footerMenu01{
		max-width:100%;
		width:100%;
		display:block;
		margin:0px auto 0;
	}
	.l-footerMenu .l-footerMenu01 ul{
		width:100%;
	}
	.l-footerMenu .l-footerMenu01 ul li{
		width:50% !important;
		float:left;
		text-align:center;
		padding:0px 5px;
	}
	.l-footerMenu .l-footerMenu01 ul li a{
		display:block;
		font-size:12px;
		line-height:1.75;
		color:#FFFFFF;
		text-decoration:none;
		border-bottom:1px solid #FFFFFF;
		padding:10px 0;
		letter-spacing:0.05em;
	}

	.l-copy {
		width:100%;
		margin:0 auto;
		padding:20px 10px;
		background-color:#e1e5d6;
	}
	.l-copy p {
		text-align:center;
		font-family: 'Cinzel', serif;
		font-size: 8px;
		font-weight:bold;
		color:#514e47;
		letter-spacing:0.12em;
	}
	
	.l-inner{
		padding:0 10px;
	}
	.l-inner1060{
		padding:0 10px;
	}
	.l-inner1160{
		padding:0 10px;
	}
	
	.pconly{
		display:none !important;
	}
	.sponly1200{
		display:block !important;
	}
	.sponly1000{
		display:block !important;
	}
	.sponly768{
		display:block !important;
	}
	.sponly480{
		display:block !important;
	}
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
