@charset "utf-8";


/*----------------------------------------
	Calender (SP)
------------------------------------------*/
.faircalender {

}
.faircalender .month{
	width: 100%;
}
.faircalender h6{
	margin-bottom: 2rem;
	text-align: center;
	font-family: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "source-han-serif-japanese", serif;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1;
	letter-spacing: .1em;
}
.faircalender h6 span{
	display: block;
	font-size: 4rem;
}

/* Calender List----------------*/
.faircalender .callist {
	width: 100%;
	height: 21rem;
	table-layout:fixed;
}
.faircalender .callist th,
.faircalender .callist td{
	text-align: center;
	line-height: 1;
}
.faircalender .callist tr td:nth-last-of-type(2),
.faircalender .callist tr td:last-of-type,
.faircalender .callist td.holiday{
	font-size: 1.6rem;
}
.faircalender .callist tr th:last-of-type,
.faircalender .callist tr td:last-of-type,
.faircalender .callist tr td:last-of-type a,
.faircalender .callist td.holiday{
	color: #BE0000;
}
.faircalender .callist th{
	font-weight: normal;
	font-family: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "source-han-serif-japanese", serif;
font-weight: 400;
	letter-spacing: .1em;
}
.faircalender .callist td{
	font-size: 1.5rem;
	font-family: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "source-han-serif-japanese", serif;
	font-weight: 400;
}
.faircalender .callist td a,
.faircalender .callist td span{
	display: inline-block;
	padding-bottom: .2rem;
	line-height: 1;
	font-size: 1.5rem;
}
.faircalender .callist td a{
	/* background-color: #f3ecd7;
    border-radius: 3em;
    width: 25px;
    height: 25px;
	line-height: 1.3; */
	text-decoration: underline;
    text-decoration-color: #85C5B7;
}


/*----------------------------------------
	Prev & Next Month
------------------------------------------*/
.faircalender .monthnav {
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 2rem;
	margin-left: 2px;
	margin-right: 2px;
	position: relative;
}
.faircalender .monthnav li{
	width: 1.5rem;
	font-family: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "source-han-serif-japanese", serif;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1;
	position: relative;
}
.faircalender .monthnav li:hover{
	cursor: pointer;
}
.faircalender .monthnav li::before{
	content: "";
	display: block;
	width: 5rem;
	border-bottom: 1px solid  #85C5B7;
	position: absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
}
	.faircalender .monthnav li.prev::before{
		left: 0;
	}
	.faircalender .monthnav li.next::before{
		right: 0;
	}
.faircalender .monthnav li::after{
	content:"";
	display:block;
	width:1rem;height:1rem;
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%) rotate(45deg) ;
	-moz-transform:translateY(-50%) rotate(45deg) ;
	transform:translateY(-50%) rotate(45deg) ;
}
	.faircalender .monthnav li.prev::after{
		border-left:1px solid  #85C5B7;
		left: .2rem;
	}
	.faircalender .monthnav li.next::after{
		border-top:1px solid  #85C5B7;
		right: .2rem;
	}
.faircalender .monthnav li.prev{
	float: left;
	padding-left: 6rem;
}
.faircalender .monthnav li.next{
	float: right;
	text-align: right;
	padding-right: 6rem;
}
.faircalender .monthnav li span{
	display: inline-block;
	width: 3rem;
	text-align: center;
	position: relative;
}
.faircalender .monthnav li.next span{
	left: -1rem;
}
.faircalender .monthnav li.prev span{
	roight: -1rem;
}
.faircalender .monthnav li em{
	display: block;
	margin-bottom: .3rem;
	font-size: 2rem;
}
