@charset "utf-8";
/* CSS Document */

#wrapper{
	/*letter-spacing:0.1em;*/	
}

.l-mv {
	width: 285px;
	color: #514e47;
	text-align: center;
	line-height: 1.4;
	letter-spacing: 0.12em;
	margin: 88px auto 25px;
	padding-top: 88px;
	background: url(../img/img_mv_pc.png) no-repeat;
	background-size: contain;
}
.l-mv-ttl-en {
	font-size: 24px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	position:relative;
	top:-25px;
}
.l-mv-ttl-jp {
	font-size: 11px;
	font-weight: 500;
	position:relative;
	top:-25px;
}

.l-block01 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:1px 0px 170px;
	background:url(../img/bg_block01_pc.png) center center no-repeat transparent;
	background-size:cover;
	position:relative;
	z-index:1;
}
/*.l-block01 h2 {
	line-height:0;
	padding-bottom:50px;
}
.l-block01 h2 img {
	max-width:189px;
	width:100%;
}*/
.l-block01 .l-message {
	max-width:435px;
	width:100%;
	margin:0 auto;
}
.l-block01 .l-message .p-title{
	font-size: 20px;
    line-height: 2;
    display: block;
    color: #514e47;
	text-align:center;
	font-weight:normal !important;
	letter-spacing:0.2em;
}
.l-block01 .l-message .p-message {
	font-size:12px;
	line-height:2;
	font-weight:normal !important;
	text-align:center;
	padding:20px 0 0px;
	letter-spacing:0.12em;
}

.l-block02 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:100px 0px 0px;
	position:relative;
	z-index:2;
}
.l-block02.p-spring {
	margin: -7.5% auto 0;
	padding:0px 0px 0px;
}
.l-spring {
	background-color:#f4efed;
}
.l-summer {
	background-color:#edefea;
}
.l-autumn {
	background-color:#eae3da;
}
.l-winter {
	background-color:#f0f2f2;
}
.l-block02 > .p-title {
	display:inline-block;
	margin: 0 auto 0;
	text-align: center;
	padding:5px 100px 10px;
	line-height:1;
	background-color:#f4d3c6;
	font-size: 11px;
    color: #514e47;
	font-weight:normal !important;
	letter-spacing:0.12em;
}
.l-block02.l-summer > .p-title {
	background-color:#afd3d2;
}
.l-block02.l-autumn > .p-title {
	background-color:#c68d77;
	color:#FFFFFF;
}
.l-block02.l-winter > .p-title {
	background-color:#808da0;
	color:#FFFFFF;
}
.l-block02 > .p-title > span {
	display:block;
	font-size: 24px;
    line-height: 2;
    color: #514e47;
	text-align:center;
	font-weight:normal !important;
	letter-spacing:0.12em;
}
.l-block02.l-autumn > .p-title > span {
	color:#FFFFFF;
}
.l-block02.l-winter > .p-title > span {
	color:#FFFFFF;
}
.l-block02 > .p-image {
	line-height:0;
}
.l-block02 > p img {
	width: 100%;
	border-top:2px solid #f4d3c6;
}
.l-block02.l-summer > p img {
	width: 100%;
	border-top:2px solid #afd3d2;
}
.l-block02.l-autumn > p img {
	width: 100%;
	border-top:2px solid #c68d77;
}
.l-block02.l-winter > p img {
	width: 100%;
	border-top:2px solid #808da0;
}
.l-block02 .l-block02-table {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:0px 0px 0px;
	position:relative;
	z-index:3;
}
.l-block02 .l-block02-table > div > div {
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
.l-block02 .l-block02-table > div > .l-image {
	width: 54.1%;
	margin-top:-100px;
	line-height:0;
}
.l-block02.l-autumn .l-block02-table > div > .l-image,
.l-block02.l-winter .l-block02-table > div > .l-image {
	margin-top:-50px;
}
.l-block02 .l-block02-table > div > .l-image img {
	max-width: 625px;
	width:100%;
}
.l-block02 .l-block02-table > div > .l-message {
	width: 45.9%;
	padding-left:10px;
	margin-top:-130px;
}
.l-block02.l-summer .l-block02-table > div > .l-message {
	margin-top:-100px;
}
.l-block02.l-autumn .l-block02-table > div > .l-message {
	margin-top:-50px;
}
.l-block02.l-winter .l-block02-table > div > .l-message {
	margin-top:-84px;
}
.l-block02 .l-block02-table > div > .l-message h3 {
	line-height:0;
	display:inline-block;
}
.l-block02.l-autumn .l-block02-table > div > .l-message h3 span {
	margin-top: -5px;
}
.l-block02.l-winter .l-block02-table > div > .l-message h3 span {
	margin-top: -45px;
}
.l-block02 .l-block02-table > div > .l-message h3 span {
	display:block;
	font-size:10px;
	text-align:center;
	margin-top: -28px;
}
.l-block02 .l-block02-table > div > .l-message h3 img {
	max-width:281px;
	width:100%;
}
.l-block02 .l-block02-table > div > .l-message > div {
	padding-left:40px;
	text-align:justify;
}
.l-block02 .l-block02-table > div > .l-message .p-title {
	font-size:20px;
	font-weight:normal !important;
	color:#514e47;
	letter-spacing:0.2em;
}
.l-block02 .l-block02-table > div > .l-message .p-message {
	font-size:12px;
	line-height:1.8;
	font-weight:normal !important;
	text-align:left;
	padding:20px 0 0px;
	letter-spacing:0.12em;
}

.l-block03 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:0px 0px 0px;
	position:relative;
	z-index:2;
}
.l-block03 .l-block03-table {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:0px 0px 0px;
	position:relative;
	z-index:3;
}
.l-block03 .l-block03-table > div > div {
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
.l-block03 .l-block03-table > div > .l-message {
	width: 48%;
	padding-right:40px;
	text-align:justify;
	margin-top:145px;
}
.l-block03 .l-block03-table > div > .l-message h4 {
	line-height:0;
	display:inline-block;
}
.l-block03 .l-block03-table > div > .l-message h4 img {
	max-width:257px;
	width:100%;
}
.l-block03 .l-block03-table > div > .l-message h4 > span {
	display:block;
	font-size:10px;
	text-align:left;
	padding-left:25px;
	margin-top: 0;
	letter-spacing:0.2em;
	position:relative;
	top:-4px;
}
.l-block03 .l-block03-table > div > .l-message h4 > span span {
	font-size:24px;
	font-weight:normal !important;
	color:#514e47;
	padding-right:15px;
	position:relative;
	top:4px;
}
.l-block03 .l-block03-table > div > .l-message > div {
	padding-left:25px;
}
.l-block03 .l-block03-table > div > .l-message .p-title {
	font-size:20px;
	font-weight:normal !important;
	color:#514e47;
	padding-top:5px;
	letter-spacing:0.2em;
}
.l-block03 .l-block03-table > div > .l-message .p-message {
	font-size:12px;
	line-height:1.8;
	font-weight:normal !important;
	text-align:left;
	padding:20px 0 0px;
	letter-spacing:0.12em;
}
.l-block03 .l-block03-table .p-btn {
	padding-top:40px;
}
.l-block03 .l-block03-table .p-btn a {
	display:inline-block;
	padding:7px 50px;
	border:1px solid #f4d3c6;
	font-size:12px;
	font-weight:normal !important;
	text-decoration:none;
	background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	letter-spacing:0.12em;
}
.l-block03.l-summer .l-block03-table .p-btn a {
	border:1px solid #afa27d;
	background:url(../img/ico_block07_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
}
.l-block03.l-autumn .l-block03-table .p-btn a {
	border:1px solid #c68d77;
	background:url(../img/ico_block10_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
}
.l-block03.l-winter .l-block03-table .p-btn a {
	border:1px solid #808da0;
	background:url(../img/ico_block13_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
}
.l-block03 .l-block03-table > div > .l-image {
	width: 52%;
	margin-top:0;
	line-height:0;
	text-align:right;
}
.l-block03 .l-block03-table > div > .l-image img {
	max-width: 596px;
	width:100%;
}

.l-block04 {
	width: 100%;
	margin: 0 auto 5px;
	text-align: center;
	padding:60px 0px 80px;
	position:relative;
	z-index:1;
}
.l-block04 .l-block04-01 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:120px 0px 0px;
	position:relative;
	background:url(../img/h4_block04_pc.png) top center no-repeat transparent;
	background-size:contain;
}
.l-block04.l-summer .l-block04-01 {
	background:url(../img/h4_block07_pc.png) top center no-repeat transparent;
	background-size:contain;
}
.l-block04.l-autumn .l-block04-01 {
	background:url(../img/h4_block10_pc.png) top center no-repeat transparent;
	background-size:contain;
}
.l-block04.l-winter .l-block04-01 {
	background:url(../img/h4_block13_pc.png) top center no-repeat transparent;
	background-size:contain;
}
.l-block04 .l-block04-01 h4 {
	display:block;
	font-size:10px;
	text-align:center;
	margin-top: -69px;
	letter-spacing:0.12em;
	line-height:1.5;
	padding-bottom:10px;
}
.l-block04.l-autumn .l-block04-01 h4,
.l-block04.l-winter .l-block04-01 h4 {
	color:#FFFFFF;
}
.l-block04 .l-block04-01 h4 span {
	display:block;
	font-size:22px;
	font-weight:normal !important;
	color:#514e47;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block04.l-autumn .l-block04-01 h4 span,
.l-block04.l-winter .l-block04-01 h4 span {
	color:#FFFFFF;
}
.l-block04 .l-block04-01 .p-label {
	display: block;
    /*position: absolute;
    top: 175px;
    left: 0;
    right: 0;*/
}
.l-block04 .l-block04-01 .p-label label {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#514e47;
	text-decoration:none;
	padding:10px 35px;
	border-bottom:1px solid #f4d3c6;
	background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	letter-spacing:0.12em;
}
.l-block04 .l-block04-01 label:hover {
	cursor:pointer;
}
.l-block04 .l-block04-01 .l-block04-table {
	width: 100%;
	margin: 0 auto;
	padding-top:65px;
	/*margin: -150px auto 0;*/
   /* position: absolute;
	top:265px;
	text-align: center;
	padding:0px 0px 0px;*/
}
.l-block04 .l-block04-01 .l-block04-table > div {
	width: 33.3%;
	display:inline-block;
	vertical-align:top;
	padding:0 33px;
}
.l-block04 .l-block04-01 .l-block04-table > div .p-image {
	text-align: center;
	margin-bottom:0;
	display: block;
	position: relative;
	width:100%;
	height:100%;
	text-decoration:none;
	line-height:0;
}
.l-block04 .l-block04-01 .l-block04-table > div .p-image:after{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	display: inline-block;
	border: 5px solid rgba(255,255,255,0.70);
}
.l-block04 .l-block04-01 .l-block04-table > div .p-image img {
	max-width:320px;
	width:100%;
}
.l-block04 .l-block04-01 .l-block04-table > div .p-message {
	font-size:14px;
	line-height:1.8;
	font-weight:normal !important;
	text-align:center;
	padding:10px 0 20px;
	letter-spacing:0.1em;
}
.l-block04 .l-block04-01 .p-btn {
	text-align:center;
}
.l-block04 .l-block04-01 .p-btn a {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#514e47;
	text-decoration:none;
	padding:7px 35px;
	border:1px solid #f4d3c6;
	background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	font-weight:normal !important;
	letter-spacing:0.12em;
}

.p-common-btn {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#8c8c8c;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #8c8c8c;
	background:url(../../common/img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
}
.p-common-btn2 {
	display:block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#897e63;
	text-decoration:none;
	padding:10px 0;
	border:1px solid #897e63;
	background:url(../../common/img/ico_viewmore2_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mv {
		width: 298px;
		color: #514e47;
		text-align: center;
		line-height: 1.4;
		letter-spacing: 0.12em;
		margin: 0px auto 50px;
		padding-top: 150px;
		background: url(../img/img_mv_sp.png) no-repeat;
		background-size: contain;
	}
	.l-mv-ttl-en {
		font-size: 48px;
		font-weight: 400;
		font-family: 'Cinzel', serif;
		position:relative;
		top:0;
	}
	.l-mv-ttl-jp {
		font-size: 22px;
		font-weight: 500;
		position:relative;
		top:10px;
	}
		
	.l-block01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:100px 0px 240px;
		background:url(../img/bg_block01_sp.png) left top no-repeat transparent;
		background-size:100% auto;
	}
	.l-block01 h2 {
		line-height:1;
		padding-bottom:0px;
	}
	.l-block01 .l-message {
		max-width:100%;
		width:100%;
		margin:0 auto;
	}
	.l-block01 .l-message .p-title{
		font-size: 30px;
		line-height: 2;
		display: block;
		color: #514e47;
		text-align:center;
		font-weight:bold;
		letter-spacing: 0.1em;
	}
	.l-block01 .l-message .p-message {
		font-size:22px;
		line-height:2;
		font-weight:bold;
		text-align:center;
		padding:40px 0 0px;
		letter-spacing: 0.12em;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:120px 0px 0px;
		position:relative;
		z-index:2;
	}
	.l-block02.l-spring {
		margin: 0 auto 0;
		padding:0px 0px 0px;
		background-color:transparent;
	}
	.l-block02 > .p-title {
		display:inline-block;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 120px 10px;
		line-height:1;
		font-size: 18px;
		color: #514e47;
		font-weight:normal !important;
		letter-spacing:0.12em;
	}
	.l-block02 > .p-title > span {
		display:block;
		font-size: 40px;
		line-height: 1.8;
		color: #514e47;
		text-align:center;
		font-weight:normal !important;
		letter-spacing:0.12em;
	}
	.l-block02 > p img {
		width: 100%;
		border-top:2px solid #f4d3c6;
	}
	.l-block02 > p {
		width: auto;
		margin: 0% auto 0;
		text-align: center;
		padding:0px 0px 0px;
		line-height:0;
	}
	/*.l-block02 > p img {
		width: 100%;
	}*/
	.l-block02 .l-block02-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		position:relative;
		z-index:3;
	}
	.l-block02.l-spring .l-block02-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		position:relative;
		z-index:3;
		background-color:#f4efed;
	}
	.l-block02 .l-block02-table > div {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column-reverse;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
		line-height:0;		
	}
	
	.l-block02 .l-block02-table > div > div {
		display:block;
		vertical-align:top;
		text-align:center;
	}
	.l-block02 .l-block02-table > div > .l-image,
	.l-block02.l-summer .l-block02-table > div > .l-image,
	.l-block02.l-autumn .l-block02-table > div > .l-image,
	.l-block02.l-winter .l-block02-table > div > .l-image {
		width: 100%;
		margin-top:0px;
		line-height:0;
	}
	.l-block02 .l-block02-table > div > .l-image img {
		max-width: 960px;
		width:100%;
	}
	.l-block02 .l-block02-table > div > .l-message,
	.l-block02.l-summer .l-block02-table > div > .l-message,
	.l-block02.l-autumn .l-block02-table > div > .l-message,
	.l-block02.l-winter .l-block02-table > div > .l-message {
		width: 100%;
		padding-left:0;
		margin-top:-180px;
	}
	.l-block02 .l-block02-table > div > .l-message h3 {
		line-height:0;
	}
	.l-block05 .l-block05-table > div > .l-message h3 {
		line-height:0;
		padding-bottom:0;
	}
	.l-block02 .l-block02-table > div > .l-message h3 span,
	.l-block02.l-summer .l-block02-table > div > .l-message h3 span,
	.l-block02.l-autumn .l-block02-table > div > .l-message h3 span,
	.l-block02.l-winter .l-block02-table > div > .l-message h3 span {
		display:block;
		font-size:20px;
		text-align:center;
		margin-top: -80px;
	}
	.l-block02 .l-block02-table > div > .l-message h3 img {
		max-width:562px;
		width:100%;
	}
	.l-block02 .l-block02-table > div > .l-message > div {
		padding-left:0;
	}
	.l-block02 .l-block02-table > div > .l-message .p-title {
		font-size:30px;
		font-weight:normal !important;
		color:#514e47;
		padding:80px 0 0px;
		margin-top:0px;
		text-align:center;
		letter-spacing:0.1em;
	}
	.l-block02 .l-block02-table > div > .l-message .p-message,
	.l-block02.l-summer .l-block02-table > div > .l-message .p-message,
	.l-block02.l-autumn .l-block02-table > div > .l-message .p-message,
	.l-block02.l-winter .l-block02-table > div > .l-message .p-message {
		font-size:22px;
		line-height:1.8;
		font-weight:normal !important;
		text-align:center;
		padding:60px 0 100px;
		letter-spacing:0.12em;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:70px 0px 80px;
		position:relative;
		z-index:2;
	}
	.l-block03 .l-block03-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		position:relative;
		z-index:3;
	}
	.l-block03 .l-block03-table > div > div {
		display:block;
		vertical-align:top;
		text-align:left;
	}
	.l-block03 .l-block03-table > div > .l-message {
		width: 100%;
		padding-right:0;
		text-align:justify;
		margin-top:0;
	}
	.l-block03 .l-block03-table > div > .l-message h4 {
		line-height:0;
		text-align:center;
		width:100%;
	}	
	.l-block03 .l-block03-table > div > .l-message h4 {
		line-height:0;
		display:inline-block;
	}
	.l-block03 .l-block03-table > div > .l-message h4 img {
		max-width:500px;
		width:100%;
	}
	.l-block03 .l-block03-table > div > .l-message h4 > span {
		display:block;
		font-size:20px;
		text-align:center;
		padding-left:0;
		margin-top: 0;
		letter-spacing:0.2em;
		position:relative;
		top:0;
		line-height:1.5;
	}
	.l-block03 .l-block03-table > div > .l-message h4 > span span {
		display:block;
		font-size:48px;
		font-weight:normal !important;
		color:#514e47;
		padding-right:0;
		position:relative;
		top:0;
	}
	.l-block03 .l-block03-table > div > .l-message > div {
		padding-left:0;
	}
	.l-block03 .l-block03-table > div > .l-message .p-title {
		font-size:30px;
		font-weight:normal !important;
		color:#514e47;
		padding:40px 0 0px;
		margin-top:0px;
		text-align:center;
		letter-spacing:0.1em;
	}
	.l-block03 .l-block03-table > div > .l-message .p-message {
		font-size:22px;
		line-height:1.8;
		font-weight:normal !important;
		text-align:center;
		padding:60px 0 0px;
		letter-spacing:0.12em;
	}
	.l-block03 .l-block03-table .p-btn {
		padding-top:40px;
	}
	.l-block03 .l-block03-table .p-btn a {
		display:inline-block;
		padding:30px 100px;
		border:1px solid #f4d3c6;
		font-size:24px;
		text-decoration:none;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:12px auto;
		font-weight:bold;
	}
	.l-block03 .l-block03-table > div > .l-image {
		width: 100%;
		margin-top:0;
		line-height:0;
		text-align:center;
		padding-top:70px;
	}
	.l-block03 .l-block03-table > div > .l-image img {
		max-width: 960px;
		width:100%;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0 auto 10px;
		text-align: center;
		padding:0px 0px 100px;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:120px 0px 0px;
		position:relative;
		background:url(../img/h4_block04_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04.l-summer .l-block04-01 {
		background:url(../img/h4_block07_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04.l-autumn .l-block04-01 {
		background:url(../img/h4_block10_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04.l-winter .l-block04-01 {
		background:url(../img/h4_block13_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04 .l-block04-01 .p-label {
		display: block;
		padding-top:5%;
		/*position: absolute;
		top: 20%;
		left: 0;
		right: 0;*/
	}
	.l-block04 .l-block04-01 h4 {
		display:block;
		font-size:20px;
		text-align:center;
		margin-top: 0;
		letter-spacing:0.12em;
		line-height:1.5;
		padding-bottom:20px;
		position: absolute;
		left: 0;
		right: 0;
		top: 5%;
	}
	.l-block04 .l-block04-01 h4 span {
		display:block;
		font-size:36px;
		font-weight:normal !important;
		color:#514e47;
		line-height:1;
	}
	.l-block04 .l-block04-01 .p-label label {
		display:inline-block;
		font-size:24px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:20px 70px;
		border-bottom:1px solid #f4d3c6;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:12px auto;
	}
	.l-block04 .l-block04-01 label:hover {
		cursor:pointer;
	}
	.l-block04 .l-block04-01 .l-block04-table {
		width: 100%;
		margin: 0% auto 0;
		text-align: center;
		padding:25% 0px 0px;
	}
	.l-block04 .l-block04-01 .l-block04-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding:0 0;
	}
	.l-block04 .l-block04-01 .l-block04-table > div:nth-child(n + 2) {
		padding-top:0px;
		display:block;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image {
		width:100%;
		text-align:center;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-message {
		font-size:24px;
		line-height:1.8;
		font-weight:bold;
		text-align:center;
		padding:20px 0 50px;
	}
	.l-block04 .l-block04-01 .p-btn {
		text-align:center;
	}
	.l-block04 .l-block04-01 .p-btn a {
		display:inline-block;
		font-size:24px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:14px 70px;
		border:1px solid #f4d3c6;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:12px auto;
		font-weight:bold;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #8c8c8c;
		background:url(../../common/img/ico_viewmore_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}	
	.p-common-btn2 {
		display:block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:12px 0;
		border:1px solid #897e63;
		background:url(../../common/img/ico_viewmore2_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mv {
		width: 209px;
		color: #514e47;
		text-align: center;
		line-height: 1.4;
		letter-spacing: 0.12em;
		margin: 0px auto 35px;
		padding-top: 105px;
		background: url(../img/img_mv_sp.png) no-repeat;
		background-size: contain;
	}
	.l-mv-ttl-en {
		font-size: 34px;
		font-weight: 400;
		font-family: 'Cinzel', serif;
		position:relative;
		top:0;
	}
	.l-mv-ttl-jp {
		font-size: 15px;
		font-weight: 500;
		position:relative;
		top:10px;
	}
		
	.l-block01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:70px 0px 168px;
		background:url(../img/bg_block01_sp.png) left top no-repeat transparent;
		background-size:100% auto;
	}
	.l-block01 h2 {
		line-height:1;
		padding-bottom:0px;
	}
	.l-block01 .l-message {
		max-width:100%;
		width:100%;
		margin:0 auto;
	}
	.l-block01 .l-message .p-title{
		font-size: 20px;
		line-height: 2;
		display: block;
		color: #514e47;
		text-align:center;
		font-weight:bold;
		letter-spacing: 0.1em;
	}
	.l-block01 .l-message .p-message {
		font-size:15px;
		line-height:2;
		font-weight:bold;
		text-align:center;
		padding:35px 0 0px;
		letter-spacing: 0.12em;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:84px 0px 0px;
		position:relative;
		z-index:2;
	}
	.l-block02.l-spring {
		margin: 0 auto 0;
		padding:0px 0px 0px;
		background-color:transparent;
	}
	.l-block02 > .p-title {
		display:inline-block;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 84px 10px;
		line-height:1;
		font-size: 13px;
		color: #514e47;
		font-weight:normal !important;
		letter-spacing:0.12em;
	}
	.l-block02 > .p-title > span {
		display:block;
		font-size: 28px;
		line-height: 1.8;
		color: #514e47;
		text-align:center;
		font-weight:normal !important;
		letter-spacing:0.12em;
	}
	.l-block02 > p img {
		width: 100%;
		border-top:2px solid #f4d3c6;
	}
	.l-block02 > p {
		width: auto;
		margin: 0% auto 0;
		text-align: center;
		padding:0px 0px 0px;
		line-height:0;
	}
	/*.l-block02 > p img {
		width: 100%;
	}*/
	.l-block02 .l-block02-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		position:relative;
		z-index:3;
	}
	.l-block02.l-spring .l-block02-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		position:relative;
		z-index:3;
		background-color:#f4efed;
	}
	.l-block02 .l-block02-table > div {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column-reverse;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
		line-height:0;		
	}
	
	.l-block02 .l-block02-table > div > div {
		display:block;
		vertical-align:top;
		text-align:center;
	}
	.l-block02 .l-block02-table > div > .l-image,
	.l-block02.l-summer .l-block02-table > div > .l-image,
	.l-block02.l-autumn .l-block02-table > div > .l-image,
	.l-block02.l-winter .l-block02-table > div > .l-image {
		width: 100%;
		margin-top:0px;
		line-height:0;
	}
	.l-block02 .l-block02-table > div > .l-image img {
		max-width: 672px;
		width:100%;
	}
	.l-block02 .l-block02-table > div > .l-message,
	.l-block02.l-summer .l-block02-table > div > .l-message,
	.l-block02.l-autumn .l-block02-table > div > .l-message,
	.l-block02.l-winter .l-block02-table > div > .l-message {
		width: 100%;
		padding-left:0;
		margin-top:-126px;
	}
	.l-block02 .l-block02-table > div > .l-message h3 {
		line-height:0;
	}
	.l-block05 .l-block05-table > div > .l-message h3 {
		line-height:0;
		padding-bottom:0;
	}
	.l-block02 .l-block02-table > div > .l-message h3 span,
	.l-block02.l-summer .l-block02-table > div > .l-message h3 span,
	.l-block02.l-autumn .l-block02-table > div > .l-message h3 span,
	.l-block02.l-winter .l-block02-table > div > .l-message h3 span {
		display:block;
		font-size:14px;
		text-align:center;
		margin-top: -56px;
	}
	.l-block02 .l-block02-table > div > .l-message h3 img {
		max-width:393px;
		width:100%;
	}
	.l-block02 .l-block02-table > div > .l-message > div {
		padding-left:0;
	}
	.l-block02 .l-block02-table > div > .l-message .p-title {
		font-size:21px;
		font-weight:normal !important;
		color:#514e47;
		padding:56px 0 0px;
		margin-top:0px;
		text-align:center;
		letter-spacing:0.1em;
	}
	.l-block02 .l-block02-table > div > .l-message .p-message,
	.l-block02.l-summer .l-block02-table > div > .l-message .p-message,
	.l-block02.l-autumn .l-block02-table > div > .l-message .p-message,
	.l-block02.l-winter .l-block02-table > div > .l-message .p-message {
		font-size:15px;
		line-height:1.8;
		font-weight:normal !important;
		text-align:center;
		padding:42px 0 70px;
		letter-spacing:0.12em;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:50px 0px 56px;
		position:relative;
		z-index:2;
	}
	.l-block03 .l-block03-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		position:relative;
		z-index:3;
	}
	.l-block03 .l-block03-table > div > div {
		display:block;
		vertical-align:top;
		text-align:left;
	}
	.l-block03 .l-block03-table > div > .l-message {
		width: 100%;
		padding-right:0;
		text-align:justify;
		margin-top:0;
	}
	.l-block03 .l-block03-table > div > .l-message h4 {
		line-height:0;
		text-align:center;
		width:100%;
	}	
	.l-block03 .l-block03-table > div > .l-message h4 {
		line-height:0;
		display:inline-block;
	}
	.l-block03 .l-block03-table > div > .l-message h4 img {
		max-width:350px;
		width:100%;
	}
	.l-block03 .l-block03-table > div > .l-message h4 > span {
		display:block;
		font-size:14px;
		text-align:center;
		padding-left:0;
		margin-top: 0;
		letter-spacing:0.2em;
		position:relative;
		top:0;
		line-height:1.5;
	}
	.l-block03 .l-block03-table > div > .l-message h4 > span span {
		display:block;
		font-size:34px;
		font-weight:normal !important;
		color:#514e47;
		padding-right:0;
		position:relative;
		top:0;
	}
	.l-block03 .l-block03-table > div > .l-message > div {
		padding-left:0;
	}
	.l-block03 .l-block03-table > div > .l-message .p-title {
		font-size:21px;
		font-weight:normal !important;
		color:#514e47;
		padding:30px 0 0px;
		margin-top:0px;
		text-align:center;
		letter-spacing:0.1em;
	}
	.l-block03 .l-block03-table > div > .l-message .p-message {
		font-size:15px;
		line-height:1.8;
		font-weight:normal !important;
		text-align:center;
		padding:42px 0 0px;
		letter-spacing:0.12em;
	}
	.l-block03 .l-block03-table .p-btn {
		padding-top:30px;
	}
	.l-block03 .l-block03-table .p-btn a {
		display:inline-block;
		padding:20px 70px;
		border:1px solid #f4d3c6;
		font-size:16px;
		text-decoration:none;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:12px auto;
		font-weight:bold;
	}
	.l-block03 .l-block03-table > div > .l-image {
		width: 100%;
		margin-top:0;
		line-height:0;
		text-align:center;
		padding-top:50px;
	}
	.l-block03 .l-block03-table > div > .l-image img {
		max-width: 672px;
		width:100%;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0 auto 7px;
		text-align: center;
		padding:0px 0px 70px;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:84px 0px 0px;
		position:relative;
		background:url(../img/h4_block04_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04.l-summer .l-block04-01 {
		background:url(../img/h4_block07_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04.l-autumn .l-block04-01 {
		background:url(../img/h4_block10_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04.l-winter .l-block04-01 {
		background:url(../img/h4_block13_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04 .l-block04-01 .p-label {
		display: block;
		padding-top:5%;
		/*position: absolute;
		top: 20%;
		left: 0;
		right: 0;*/
	}
	.l-block04 .l-block04-01 h4 {
		display:block;
		font-size:14px;
		text-align:center;
		margin-top: 0;
		letter-spacing:0.12em;
		line-height:1.5;
		padding-bottom:15px;
		position: absolute;
		left: 0;
		right: 0;
		top: 4.8%;
	}
	.l-block04.l-spring .l-block04-01 h4 {
		margin-top: 5px;
	}
	.l-block04 .l-block04-01 h4 span {
		display:block;
		font-size:25px;
		font-weight:normal !important;
		color:#514e47;
		line-height:1;
	}
	.l-block04 .l-block04-01 .p-label label {
		display:inline-block;
		font-size:16px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:15px 50px;
		border-bottom:1px solid #f4d3c6;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:9px auto;
	}
	.l-block04 .l-block04-01 label:hover {
		cursor:pointer;
	}
	.l-block04 .l-block04-01 .l-block04-table {
		width: 100%;
		margin: 0% auto 0;
		text-align: center;
		padding:25% 0px 0px;
	}
	.l-block04 .l-block04-01 .l-block04-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding:0 0;
	}
	.l-block04 .l-block04-01 .l-block04-table > div:nth-child(n + 2) {
		padding-top:0px;
		display:block;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image {
		width:100%;
		text-align:center;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-message {
		font-size:16px;
		line-height:1.8;
		font-weight:bold;
		text-align:center;
		padding:15px 0 35px;
	}
	.l-block04 .l-block04-01 .p-btn {
		text-align:center;
	}
	.l-block04 .l-block04-01 .p-btn a {
		display:inline-block;
		font-size:16px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:10px 50px;
		border:1px solid #f4d3c6;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:9px auto;
		font-weight:bold;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #8c8c8c;
		background:url(../../common/img/ico_viewmore_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.p-common-btn2 {
		display:block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:8px 0;
		border:1px solid #897e63;
		background:url(../../common/img/ico_viewmore2_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-mv {
		width: 147px;
		color: #514e47;
		text-align: center;
		line-height: 1.4;
		letter-spacing: 0.12em;
		margin: 0px auto 25px;
		padding-top: 75px;
		background: url(../img/img_mv_sp.png) no-repeat;
		background-size: contain;
	}
	.l-mv-ttl-en {
		font-size: 24px;
		font-weight: 400;
		font-family: 'Cinzel', serif;
		position:relative;
		top:0;
	}
	.l-mv-ttl-jp {
		font-size: 11px;
		font-weight: 500;
		position:relative;
		top:5px;
	}
		
	.l-block01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:50px 0px 60px;
		background:url(../img/bg_block01_sp.png) left top no-repeat transparent;
		background-size:100% auto;
	}
	.l-block01 h2 {
		line-height:1;
		padding-bottom:0px;
	}
	.l-block01 .l-message {
		max-width:100%;
		width:100%;
		margin:0 auto;
	}
	.l-block01 .l-message .p-title{
		font-size: 15px;
		line-height: 2;
		display: block;
		color: #514e47;
		text-align:center;
		font-weight:bold;
		letter-spacing: 0.1em;
	}
	.l-block01 .l-message .p-message {
		font-size:11px;
		line-height:2;
		font-weight:bold;
		text-align:center;
		padding:20px 0 0px;
		letter-spacing: 0.12em;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:60px 0px 0px;
		position:relative;
		z-index:2;
	}
	.l-block02.l-spring {
		margin: 0 auto 0;
		padding:0px 0px 0px;
		background-color:transparent;
	}
	.l-block02 > .p-title {
		display:inline-block;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 60px 5px;
		line-height:1;
		font-size: 9px;
		color: #514e47;
		font-weight:normal !important;
		letter-spacing:0.12em;
	}
	.l-block02 > .p-title > span {
		display:block;
		font-size: 20px;
		line-height: 1.8;
		color: #514e47;
		text-align:center;
		font-weight:normal !important;
		letter-spacing:0.12em;
	}
	.l-block02 > p img {
		width: 100%;
		border-top:2px solid #f4d3c6;
	}
	.l-block02 > p {
		width: auto;
		margin: 0% auto 0;
		text-align: center;
		padding:0px 0px 0px;
		line-height:0;
	}
	/*.l-block02 > p img {
		width: 100%;
	}*/
	.l-block02 .l-block02-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		position:relative;
		z-index:3;
	}
	.l-block02.l-spring .l-block02-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		position:relative;
		z-index:3;
		background-color:#f4efed;
	}
	.l-block02 .l-block02-table > div {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		flex-direction: column-reverse;
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		align-items: center;  /* 子要素をflexboxにより中央に配置する */
		line-height:0;		
	}
	
	.l-block02 .l-block02-table > div > div {
		display:block;
		vertical-align:top;
		text-align:center;
	}
	.l-block02 .l-block02-table > div > .l-image,
	.l-block02.l-summer .l-block02-table > div > .l-image,
	.l-block02.l-autumn .l-block02-table > div > .l-image,
	.l-block02.l-winter .l-block02-table > div > .l-image {
		width: 100%;
		margin-top:0px;
		line-height:0;
	}
	.l-block02 .l-block02-table > div > .l-image img {
		max-width: 480px;
		width:100%;
	}
	.l-block02 .l-block02-table > div > .l-message,
	.l-block02.l-summer .l-block02-table > div > .l-message,
	.l-block02.l-autumn .l-block02-table > div > .l-message,
	.l-block02.l-winter .l-block02-table > div > .l-message {
		width: 100%;
		padding-left:0;
		margin-top:-90px;
	}
	.l-block02 .l-block02-table > div > .l-message h3 {
		line-height:0;
	}
	.l-block05 .l-block05-table > div > .l-message h3 {
		line-height:0;
		padding-bottom:0;
	}
	.l-block02 .l-block02-table > div > .l-message h3 span,
	.l-block02.l-summer .l-block02-table > div > .l-message h3 span,
	.l-block02.l-autumn .l-block02-table > div > .l-message h3 span,
	.l-block02.l-winter .l-block02-table > div > .l-message h3 span {
		display:block;
		font-size:10px;
		text-align:center;
		margin-top: -40px;
	}
	.l-block02 .l-block02-table > div > .l-message h3 img {
		max-width:281px;
		width:100%;
	}
	.l-block02 .l-block02-table > div > .l-message > div {
		padding-left:0;
	}
	.l-block02 .l-block02-table > div > .l-message .p-title {
		font-size:15px;
		font-weight:normal !important;
		color:#514e47;
		padding:40px 0 0px;
		margin-top:0px;
		text-align:center;
		letter-spacing:0.1em;
	}
	.l-block02 .l-block02-table > div > .l-message .p-message,
	.l-block02.l-summer .l-block02-table > div > .l-message .p-message,
	.l-block02.l-autumn .l-block02-table > div > .l-message .p-message,
	.l-block02.l-winter .l-block02-table > div > .l-message .p-message {
		font-size:11px;
		line-height:1.8;
		font-weight:normal !important;
		text-align:center;
		padding:30px 0 50px;
		letter-spacing:0.12em;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:35px 0px 40px;
		position:relative;
		z-index:2;
	}
	.l-block03 .l-block03-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:0px 0px 0px;
		position:relative;
		z-index:3;
	}
	.l-block03 .l-block03-table > div > div {
		display:block;
		vertical-align:top;
		text-align:left;
	}
	.l-block03 .l-block03-table > div > .l-message {
		width: 100%;
		padding-right:0;
		text-align:justify;
		margin-top:0;
	}
	.l-block03 .l-block03-table > div > .l-message h4 {
		line-height:0;
		text-align:center;
		width:100%;
	}	
	.l-block03 .l-block03-table > div > .l-message h4 {
		line-height:0;
		display:inline-block;
	}
	.l-block03 .l-block03-table > div > .l-message h4 img {
		max-width:250px;
		width:100%;
	}
	.l-block03 .l-block03-table > div > .l-message h4 > span {
		display:block;
		font-size:10px;
		text-align:center;
		padding-left:0;
		margin-top: 0;
		letter-spacing:0.2em;
		position:relative;
		top:0;
		line-height:1.5;
	}
	.l-block03 .l-block03-table > div > .l-message h4 > span span {
		display:block;
		font-size:24px;
		font-weight:normal !important;
		color:#514e47;
		padding-right:0;
		position:relative;
		top:0;
	}
	.l-block03 .l-block03-table > div > .l-message > div {
		padding-left:0;
	}
	.l-block03 .l-block03-table > div > .l-message .p-title {
		font-size:15px;
		font-weight:normal !important;
		color:#514e47;
		padding:20px 0 0px;
		margin-top:0px;
		text-align:center;
		letter-spacing:0.1em;
	}
	.l-block03 .l-block03-table > div > .l-message .p-message {
		font-size:11px;
		line-height:1.8;
		font-weight:normal !important;
		text-align:center;
		padding:30px 0 0px;
		letter-spacing:0.12em;
	}
	.l-block03 .l-block03-table .p-btn {
		padding-top:20px;
	}
	.l-block03 .l-block03-table .p-btn a {
		display:inline-block;
		padding:15px 50px;
		border:1px solid #f4d3c6;
		font-size:12px;
		text-decoration:none;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:6px auto;
		font-weight:bold;
	}
	.l-block03 .l-block03-table > div > .l-image {
		width: 100%;
		margin-top:0;
		line-height:0;
		text-align:center;
		padding-top:35px;
	}
	.l-block03 .l-block03-table > div > .l-image img {
		max-width: 480px;
		width:100%;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0 auto 5px;
		text-align: center;
		padding:0px 0px 50px;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:60px 0px 0px;
		position:relative;
		background:url(../img/h4_block04_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04.l-summer .l-block04-01 {
		background:url(../img/h4_block07_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04.l-autumn .l-block04-01 {
		background:url(../img/h4_block10_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04.l-winter .l-block04-01 {
		background:url(../img/h4_block13_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04 .l-block04-01 .p-label {
		display: block;
		padding-top:5%;
		/*position: absolute;
		top: 20%;
		left: 0;
		right: 0;*/
	}
	.l-block04 .l-block04-01 h4 {
		display:block;
		font-size:10px;
		text-align:center;
		margin-top: 0;
		letter-spacing:0.12em;
		line-height:1.5;
		padding-bottom:10px;
		position: absolute;
		left: 0;
		right: 0;
		top: 4.5%;
	}
	.l-block04.l-spring .l-block04-01 h4 {
		margin-top: 8px;
	}
	.l-block04 .l-block04-01 h4 span {
		display:block;
		font-size:18px;
		font-weight:normal !important;
		color:#514e47;
		line-height:1;
	}
	.l-block04 .l-block04-01 .p-label label {
		display:inline-block;
		font-size:12px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:10px 35px;
		border-bottom:1px solid #f4d3c6;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.l-block04 .l-block04-01 label:hover {
		cursor:pointer;
	}
	.l-block04 .l-block04-01 .l-block04-table {
		width: 100%;
		margin: 0% auto 0;
		text-align: center;
		padding:23% 0px 0px;
	}
	.l-block04 .l-block04-01 .l-block04-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding:0 0;
	}
	.l-block04 .l-block04-01 .l-block04-table > div:nth-child(n + 2) {
		padding-top:0px;
		display:block;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image {
		width:100%;
		text-align:center;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-message {
		font-size:12px;
		line-height:1.8;
		font-weight:bold;
		text-align:center;
		padding:10px 0 25px;
	}
	.l-block04 .l-block04-01 .p-btn {
		text-align:center;
	}
	.l-block04 .l-block04-01 .p-btn a {
		display:inline-block;
		font-size:12px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:7px 35px;
		border:1px solid #f4d3c6;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:6px auto;
		font-weight:bold;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #8c8c8c;
		background:url(../../common/img/ico_viewmore_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	.p-common-btn2 {
		display:block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:6px 0px;
		border:1px solid #897e63;
		background:url(../../common/img/ico_viewmore2_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/