@charset "utf-8";
/* CSS Document */

#wrapper{
	letter-spacing:0.1em;	
}

.l-mvBlock{
	position:relative;
	z-index:1;
}

.l-mv{
	width: 100%;
	margin:0px auto 0;
	text-align:center;
	line-height:0;
	height:550px;
	background:url(../img/bg_mv_pc.png) center center no-repeat transparent;
	background-size:cover;
}

.l-block01 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0 90px;
	background-color:#FFFFFF;
}
.l-block01 > div {
	background-color:#FFFFFF;
	margin: -135px auto 0;
	position:relative;
	z-index:2;	
}
.l-block01 h2 {
	line-height:0;
	padding:90px 0 75px;
}
.l-block01 h2 img {
	max-width:689px;
	width:100%;
	margin-top:0px;
}
.l-block01 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-48px;
}
.l-block01 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block01 > div > .p-title{
	font-size:20px;
	line-height:1.7;
	font-weight:normal !important;
	text-align:center;
	color:#514e47;
	letter-spacing:0.2em;
}
.l-block01 > div > .p-message{
	font-size:14px;
	line-height:1.7;
	font-weight:normal !important;
	text-align:center;
	padding-top:20px;
	letter-spacing:0.12em;
}
.l-block01 .l-block01-table {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:60px 0 0px;
}
.l-block01 .l-block01-table {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:60px 0 0px;
}
.l-block01 .l-block01-table  > div{
	width: 33.3%;
	display:inline-block;
	vertical-align:top;
}
.l-block01 .l-block01-table  > div:nth-child(3n+1){
	padding-right:40px;
}
.l-block01 .l-block01-table  > div:nth-child(3n+2){
	padding-left:20px;
	padding-right:20px;
}
.l-block01 .l-block01-table  > div:nth-child(3n){
	padding-left:40px;
}
.l-block01 .l-block01-table  > div .p-image{
	text-align: center;
	margin-bottom:15px;
	display: block;
	position: relative;
	width:100%;
	height:100%;
	text-decoration:none;
	line-height:0;
}
.l-block01 .l-block01-table > div .p-image:after{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	border: 10px solid rgba(255,255,255,0.70);
}
.l-block01 .l-block01-table  > div .p-image img{
	max-width: 321px;
	width:100%;
}
.l-block06 .l-block06-02 > div .p-image img {
	/*max-width:320px;*/
	width:100%;
}


.l-block01 .l-block01-table  > div .p-message{
	font-size:11px;
	line-height:2;
	font-weight:normal !important;
	text-align:left;
	color:#514e47;
	padding-top:0;
	letter-spacing:0.1em;
}

.l-block02 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0 100px;
}
.l-block02 h3 {
	padding:0px 0 0px;
	font-size:11px;
	line-height:1.5;
	font-weight:normal !important;
	letter-spacing:0.12em;
	color:#514e47;
}
.l-block02 h3 span {
	display:block;
	font-size:24px;
	font-weight:normal !important;
	letter-spacing:0.12em;
}

.l-block-photo-wrap {
	padding-left: 90px;
	margin-top: 75px;
	overflow: hidden;
}
.l-block-photo {
	
}
.l-block-photo li p {
	font-size:11px;
	line-height:2;
	font-weight:bold;
	color:#000000;
	padding-top:15px;
}
.l-block-photo img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
.l-block-photo li p span {
	display:block;
	padding-top:15px;
	font-size:12px;
	font-weight:normal !important;
	letter-spacing:0.08em;
}
.l-block-photo-wrap .bx-viewport {
	overflow: visible !important;
	padding-left: 90px;
}
.l-block-photo-wrap .bx-controls {
	font-size: 0;
	text-align: center;
	margin-top: 40px;
	padding-right: 0;
}
.l-block-photo-wrap .bx-pager-item {
	display: inline-block;
	position: relative;
	width: 35px;
	height: 1px;
}
.l-block-photo-wrap .bx-pager-item + .bx-pager-item {
	margin-left: 15px;
}
.l-block-photo-wrap .bx-pager-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-indent: -9999px;
	background: #afa27d;
	opacity: 0.3;
}
.l-block-photo-wrap .bx-pager-link.active {
	opacity: 1;
}

.l-block03 {
	width: 100%;
	margin: 0 auto 0px;
	text-align: center;
	padding:0px 0 110px;
	background-color:#FFFFFF;
}
.l-block03 > div > div {
	width: 50%;
	display:inline-block;
	vertical-align:middle;
}
.l-block03 .l-image {
	line-height:0;
}
.l-block03 .l-image img {
	max-width: 100%;
	width:100%;
}
.l-block03 .l-message {
	padding:0 10px 0 50px;
	text-align:left;
}
.l-block03 .l-message .p-title {
	font-size:12px;
	line-height:1.8;
	font-weight:normal !important;
	color:#514e47;
	text-align:left;
	padding:0px 5px 5px;
	border-bottom:1px solid #ccc5b2;
	letter-spacing:0.12em;
}
.l-block03 .l-message .p-title span {
	font-size:18px;
	font-weight:400;
	color:#514e47;
	text-align:left;
	letter-spacing:0.12em;
}
.l-block03 .l-message .p-adress {
	font-size:11px;
	line-height:2;
	font-weight:normal !important;
	color:#000000;
	text-align:left;
	padding:15px 5px 20px;
	letter-spacing:0.08em;
}

.l-block04 {
	width: 100%;
	margin: 0 auto 5px;
	text-align: center;
	padding:0px 0px 110px;
	position:relative;
	z-index:1;
}
.l-block04 .l-block04-01 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:120px 0px 0px;
	position:relative;
	background:url(../img/h4_block04_pc.png) top center no-repeat transparent;
	background-size:contain;
}
.l-block04 .l-block04-01 h4 {
	line-height:0;
	display:block;
}
.l-block04 .l-block04-01 h4 img {
	max-width:837px;
	width:100%;
}
.l-block04 .l-block04-01 .p-label {
	display: block;
    /*position: absolute;
    top: 115px;
    left: 0;
    right: 0;*/
}
.l-block04 .l-block04-01 .p-label label {
	display:inline-block;
	font-size:11px;
	line-height:2;
	text-align:center;
	color:#514e47;
	text-decoration:none;
	padding:10px 35px;
	border-bottom:1px solid #afa27d;
	background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	letter-spacing:0.12em;
}
.l-block04 .l-block04-01 label:hover {
	cursor:pointer;
}
.l-block04 .l-block04-01 .l-block04-table {
	width: 100%;
	margin: 0 auto;
	padding-top:40px;
	/*width: 100%;
	margin: -150px auto 0;
	text-align: center;
	padding:0px 0px 0px;*/
}
.l-block04 .l-block04-01 .l-block04-table > div {
	width: 33.3%;
	display:inline-block;
	vertical-align:top;
	padding:0 33px;
}
.l-block04 .l-block04-01 .l-block04-table > div .p-image {
	width:100%;
	text-align:center;
}
.l-block04 .l-block04-01 .l-block04-table > div .p-image img {
	max-width:320px;
	width:100%;
}
.l-block04 .l-block04-01 .l-block04-table > div .p-message {
	font-size:11px;
	line-height:2;
	font-weight:bold;
	text-align:left;
	padding:15px 0 20px;
	letter-spacing:0.1em;
}
.l-block04 .l-block04-01 .p-btn {
	text-align:center;
}
.l-block04 .l-block04-01 .p-btn a {
	display:inline-block;
	font-size:11px;
	line-height:2;
	text-align:center;
	color:#514e47;
	text-decoration:none;
	padding:7px 35px;
	border:1px solid #afa27d;
	background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	font-weight:normal !important;
	letter-spacing:0.12em;
}

.l-block10 .l-block10-01 h4 {
	display:block;
	font-size:10px;
	text-align:center;
	margin-top: -55px;
	letter-spacing:0.2em;
	line-height:1.5;
	padding-bottom:10px;
}
.l-block10 .l-block10-01 h4 span {
	display:block;
	font-size:24px;
	font-weight:normal !important;
	color:#514e47;
	line-height:1;
}
.l-block10 {
	width: 100%;
	margin: 0 auto 5px;
	text-align: center;
	padding:0px 0px 110px;
	position:relative;
	z-index:1;
}
.l-block10 .l-block10-01 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:120px 0px 0px;
	position:relative;
	background:url(../img/h4_block07_pc.png) top center no-repeat transparent;
	background-size:contain;
}
.l-block10 .l-block10-01 .p-label {
	display: block;
    /*position: absolute;
    top: 115px;
    left: 0;
    right: 0;*/
}
.l-block10 .l-block10-01 .p-label label {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#514e47;
	text-decoration:none;
	padding:10px 35px;
	border-bottom:1px solid #afa27d !important;
	background:url(../img/ico_block07_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	letter-spacing:0.12em;
}
.l-block10 .l-block10-01 label:hover {
	cursor:pointer;
}
.l-block10 .l-block10-01 .l-block10-table {
	width: 100%;
	margin: 0 auto;
	padding-top:40px;
	/*width: 100%;
	margin: -150px auto 0;
	text-align: center;
	padding:0px 0px 0px;*/
}
.l-block10 .l-block10-01 .l-block10-table > div {
	width: 33.3%;
	display:inline-block;
	vertical-align:top;
	padding:0 33px;
}
.l-block10 .l-block10-01 .l-block10-table > div .p-image {
	text-align: center;
	margin-bottom:0;
	display: block;
	position: relative;
	width:100%;
	height:100%;
	text-decoration:none;
	line-height:0;
}
.l-block10 .l-block10-table > div .p-image:after{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	display: inline-block;
	border: 5px solid rgba(255,255,255,0.70);
}
.l-block10 .l-block10-01 .l-block10-table > div .p-image img {
	max-width:320px;
	width:100%;
}

.l-block10 .l-block10-01 .l-block10-table > div .p-message {
	font-size:11px;
	line-height:1.8;
	font-weight:normal !important;
	text-align:justify;
	padding:15px 0 20px;
	letter-spacing:0.12em;
}
.l-block10 .l-block10-01 .p-btn {
	text-align:center;
}
.l-block10 .l-block10-01 .p-btn a {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#514e47;
	text-decoration:none;
	padding:7px 35px;
	border:1px solid #afa27d !important;
	background:url(../img/ico_block07_1_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	font-weight:normal !important;
	letter-spacing:0.12em;
}

.p-common-btn {
	display:inline-block;
	font-size:11px;
	line-height:1.7;
	text-align:center;
	color:#8c8c8c;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #8c8c8c;
	background:url(../../../common/img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	margin-left:5px;
	letter-spacing:0.12em;
}
.p-common-btn2 {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#897e63;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #897e63;
	background:url(../../../common/img/ico_viewmore2_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
	margin-top:20px;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		position:relative;
		z-index:1;
	}

	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:750px;
		background:url(../img/bg_mv_sp.png) center center no-repeat transparent;
		background-size:cover;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 20px 0px;
		background-color:transparent;
		position:relative;
		z-index:2;	
	}
	.l-block01 > div:before {
		content:"";
		display:block;
		height:70px;
		width:calc(100% - 80px);
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:absolute;
		top:-70px;
		left:0;
		right:0;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 > .l-inner {
		width:100%;
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 h2 {
		line-height:0;
		padding:0px 0 80px;
	}
	.l-block01 h2 img {
		max-width:676px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-48px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 > div > .p-title{
		font-size:30px;
		line-height:1.7;
		font-weight:bold;
		text-align:center;
		color:#514e47;
		letter-spacing:0.1em;
	}
	.l-block01 > div > .p-message{
		font-size:24px;
		line-height:1.7;
		font-weight:bold;
		text-align:center;
		padding-top:20px;
	}
	.l-block01 .l-block01-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:60px 0 0px;
	}
	.l-block01 .l-block01-table  > div{
		width: 100%;
		display:block;
		vertical-align:top;
	}
	.l-block01 .l-block01-table  > div:nth-child(3n+1){
		padding-right:0;
	}
	.l-block01 .l-block01-table  > div:nth-child(3n+2){
		padding-left:0;
		padding-right:0;
	}
	.l-block01 .l-block01-table  > div:nth-child(3n){
		padding-left:0;
	}
	.l-block01 .l-block01-table  > div .p-image{
		text-align: center;
		margin-bottom:30px;
		display: inline-block;
		position: relative;
		width:auto;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block01 .l-block01-table > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		display: inline-block;
		border: 10px solid rgba(255,255,255,0.70);
	}
	.l-block01 .l-block01-table  > div .p-image img{
		max-width: 642px;
		width:100%;
	}
	.l-block01 .l-block01-table  > div .p-message{
		font-size:22px;
		line-height:2;
		font-weight:normal !important;
		text-align:left;
		color:#514e47;
		padding:0px 0 80px;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding: 0px 0 80px;
	}
	.l-block02 h3 {
		padding:0px 0 0px;
		font-size:22px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block02 h3 span {
		display:block;
		font-size:48px;
		font-weight:normal;
	}
	
	.l-block-photo-wrap {
		padding-left: 0px;
		margin-top: 0;
		overflow: hidden;
	}
	.l-block-photo {
		
	}
	.l-block-photo img {
		/*max-width: 320px;
		width:100%;
		height: auto;
		vertical-align: bottom;*/
	}
	.l-block-photo-wrap .bx-viewport {
		overflow: visible !important;
		padding-left: 0;
	}
	.l-block-photo-wrap .bx-controls {
		font-size: 0;
		text-align: center;
		margin-top: 40px;
		padding-right: 0;
	}
	
	/*.l-block-photo-wrap {
		margin-top: 12.53%;
		padding-left: 0;
	}
	.l-block-photo-wrap img {
		width: 100%;
	}
	.l-block-photo-wrap li + li {
		margin-top: 2.66%;
	}*/
	
	.l-block03 {
		width: 100%;
		margin: 0 auto 0px;
		text-align: center;
		padding:0px 0 120px;
		background-color:#FFFFFF;
	}
	.l-block03 > div {
		padding:0;
	}
	.l-block03 > div > div {
		width: 100%;
		display:block;
		vertical-align:middle;
	}
	.l-block03 .l-image {
		line-height:0;
	}
	.l-block03 .l-image img {
		max-width: 100%;
		width:100%;
	}
	.l-block03 .l-message {
		padding:50px 20px 0 20px;
		text-align:center;
	}
	.l-block03 .l-message .p-title {
		font-size:24px;
		line-height:1.8;
		font-weight:bold;
		color:#514e47;
		text-align:left;
		padding:0px 10px 10px;
		border-bottom:1px solid #ccc5b2;
	}
	.l-block03 .l-message .p-title span {
		font-size:36px;
		font-weight:400;
		color:#514e47;
		text-align:left;
	}
	.l-block03 .l-message .p-adress {
		font-size:22px;
		line-height:2;
		font-weight:bold;
		color:#000000;
		text-align:left;
		padding:30px 10px 40px;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0 auto 10px;
		text-align: center;
		padding:0px 0px 100px;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:120px 0px 0px;
		position:relative;
		background:url(../img/h4_block04_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04 .l-block04-01 h4 {
		line-height:0;
		display:block;
		padding:0 70px;
	}
	.l-block04 .l-block04-01 h4 img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-01 .p-label {
		display: block;
		padding-top:12%;
		/*position: absolute;
		top: 20%;
		left: 0;
		right: 0;*/
	}
	.l-block04 .l-block04-01 .p-label label {
		display:inline-block;
		font-size:24px;
		line-height:1.7;
		text-align:center;
		text-decoration:none;
		padding:20px 70px;
		background-size:10px auto;
	}
	.l-block04 .l-block04-01 label:hover {
		cursor:pointer;
	}
	.l-block04 .l-block04-01 .l-block04-table {
		width: 100%;
		margin: 0% auto 0;
		text-align: center;
		padding:5% 0px 0px;
	}
	.l-block04 .l-block04-01 .l-block04-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding:0 0;
	}
	/*SPでは2個目以降を表示しない*/
	.l-block04 .l-block04-01 .l-block04-table > div:nth-child(n + 2) {
		padding-top:80px;
		display:block;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image {
		width:100%;
		text-align:center;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-message {
		font-size:22px;
		line-height:1.8;
		font-weight:bold;
		text-align:justify;
		padding:20px 0 50px;
	}
	.l-block04 .l-block04-01 .p-btn {
		text-align:center;
	}
	.l-block04 .l-block04-01 .p-btn a {
		display:inline-block;
		font-size:24px;
		line-height:1.7;
		text-align:center;
		text-decoration:none;
		padding:14px 70px;
		background-size:12px auto;
		font-weight:bold;
	}
	
	
	.l-block10 .l-block10-01 h4 {
		display:block;
		font-size:20px;
		text-align:center;
		margin-top: 13px;
		letter-spacing:0.2em;
		line-height:1.5;
		padding-bottom:20px;
	}
	.l-block10 .l-block10-01 h4 span {
		display:block;
		font-size:32px;
		font-weight:normal !important;
		color:#514e47;
		line-height:1;
	}
	.l-block10 {
		width: 100%;
		margin: 0 auto 10px;
		text-align: center;
		padding:0px 0px 100px;
		position:relative;
		z-index:1;
	}
	.l-block10 .l-block10-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:120px 0px 0px;
		position:relative;
		background:url(../img/h4_block07_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block10 .l-block10-01 .p-label {
		display: block;
		padding-top:0%;
		/*position: absolute;
		top: 20%;
		left: 0;
		right: 0;*/
	}
	.l-block10 .l-block10-01 .p-label label {
		display:inline-block;
		font-size:24px;
		line-height:1.7;
		text-align:center;
		text-decoration:none;
		padding:20px 70px;
		background-size:10px auto;
	}
	.l-block10 .l-block10-01 label:hover {
		cursor:pointer;
	}
	.l-block10 .l-block10-01 .l-block10-table {
		width: 100%;
		margin: 0% auto 0;
		text-align: center;
		padding:5% 0px 0px;
	}
	.l-block10 .l-block10-01 .l-block10-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding:0 0;
	}
	/*SPでは2個目以降を表示しない*/
	.l-block10 .l-block10-01 .l-block10-table > div:nth-child(n + 2) {
		padding-top:80px;
		display:block;
	}		
	.l-block10 .l-block10-01 .l-block10-table > div .p-image {
		text-align: center;
		margin-bottom:0;
		display: block;
		position: relative;
		width:100%;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block10 .l-block10-table > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		display: inline-block;
		border: 5px solid rgba(255,255,255,0.70);
	}
	.l-block10 .l-block10-01 .l-block10-table > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block10 .l-block10-01 .l-block10-table > div .p-message {
		font-size:22px;
		line-height:1.8;
		font-weight:bold;
		text-align:justify;
		padding:20px 0 50px;
	}
	.l-block10 .l-block10-01 .p-btn {
		text-align:center;
	}
	.l-block10 .l-block10-01 .p-btn a {
		display:inline-block;
		font-size:24px;
		line-height:1.7;
		text-align:center;
		text-decoration:none;
		padding:14px 70px;
		background-size:12px auto;
		font-weight:bold;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}	
	.p-common-btn2 {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
		margin-top:40px;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		position:relative;
		z-index:1;
	}

	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:525px;
		background:url(../img/bg_mv_sp.png) center center no-repeat transparent;
		background-size:cover;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 15px 0px;
		background-color:transparent;
		position:relative;
		z-index:2;	
	}
	.l-block01 > div:before {
		content:"";
		display:block;
		height:50px;
		width:calc(100% - 55px);
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:absolute;
		top:-50px;
		left:0;
		right:0;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 > .l-inner {
		width:100%;
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 h2 {
		line-height:0;
		padding:0px 0 55px;
	}
	.l-block01 h2 img {
		max-width:473px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-34px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 > div > .p-title{
		font-size:21px;
		line-height:1.7;
		font-weight:bold;
		text-align:center;
		color:#514e47;
		letter-spacing:0.1em;
	}
	.l-block01 > div > .p-message{
		font-size:18px;
		line-height:1.7;
		font-weight:bold;
		text-align:center;
		padding-top:15px;
	}
	.l-block01 .l-block01-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:42px 0 0px;
	}
	.l-block01 .l-block01-table  > div{
		width: 100%;
		display:block;
		vertical-align:top;
	}
	.l-block01 .l-block01-table  > div:nth-child(3n+1){
		padding-right:0;
	}
	.l-block01 .l-block01-table  > div:nth-child(3n+2){
		padding-left:0;
		padding-right:0;
	}
	.l-block01 .l-block01-table  > div:nth-child(3n){
		padding-left:0;
	}
	.l-block01 .l-block01-table  > div .p-image{
		text-align: center;
		margin-bottom:30px;
		display: inline-block;
		position: relative;
		width:auto;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block01 .l-block01-table > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		display: inline-block;
		border: 10px solid rgba(255,255,255,0.70);
	}
	.l-block01 .l-block01-table  > div .p-image img{
		max-width: 450px;
		width:100%;
	}
	.l-block01 .l-block01-table  > div .p-message{
		font-size:15px;
		line-height:2;
		font-weight:normal !important;
		text-align:left;
		color:#514e47;
		padding:0px 0 56px;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding: 0px 0 55px;
	}
	.l-block02 h3 {
		padding:0px 0 0px;
		font-size:15px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block02 h3 span {
		display:block;
		font-size:34px;
		font-weight:normal;
	}
	
	.l-block-photo-wrap {
		padding-left: 0px;
		margin-top: 0;
		overflow: hidden;
	}
	.l-block-photo {
		
	}
	.l-block-photo li p {
		margin-right:0 !important;	
		display:table-cell;
		vertical-align:middle;
		padding-top:63px;
	}
	.l-block-photo img {
		/*max-width: 320px;
		width:100%;
		height: auto;
		vertical-align: bottom;*/
	}
	.l-block-photo-wrap .bx-controls {
		font-size: 0;
		text-align: center;
		margin-top: 30px;
		padding-right: 0;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto 0px;
		text-align: center;
		padding:0px 0 84px;
		background-color:#FFFFFF;
	}
	.l-block03 > div {
		padding:0;
	}
	.l-block03 > div > div {
		width: 100%;
		display:block;
		vertical-align:middle;
	}
	.l-block03 .l-image {
		line-height:0;
	}
	.l-block03 .l-image img {
		max-width: 100%;
		width:100%;
	}
	.l-block03 .l-message {
		padding:35px 15px 0 15px;
		text-align:center;
	}
	.l-block03 .l-message .p-title {
		font-size:18px;
		line-height:1.8;
		font-weight:bold;
		color:#514e47;
		text-align:left;
		padding:0px 7px 7px;
		border-bottom:1px solid #ccc5b2;
	}
	.l-block03 .l-message .p-title span {
		font-size:25px;
		font-weight:400;
		color:#514e47;
		text-align:left;
	}
	.l-block03 .l-message .p-adress {
		font-size:15px;
		line-height:2;
		font-weight:bold;
		color:#000000;
		text-align:left;
		padding:20px 7px 30px;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0 auto 7px;
		text-align: center;
		padding:0px 0px 70px;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:84px 0px 0px;
		position:relative;
		background:url(../img/h4_block04_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04 .l-block04-01 h4 {
		line-height:0;
		display:block;
		padding:0 50px;
	}
	.l-block04 .l-block04-01 h4 img {
		max-width:768px;
		width:100%;
	}
	.l-block04 .l-block04-01 .p-label {
		display: block;
		padding-top:12%;
		/*position: absolute;
		top: 20%;
		left: 0;
		right: 0;*/
	}
	.l-block04 .l-block04-01 .p-label label {
		display:inline-block;
		font-size:18px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:15px 50px;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:7px auto;
	}
	.l-block04 .l-block04-01 label:hover {
		cursor:pointer;
	}
	.l-block04 .l-block04-01 .l-block04-table {
		width: 100%;
		margin: 0% auto 0;
		text-align: center;
		padding:5% 0px 0px;
	}
	.l-block04 .l-block04-01 .l-block04-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding:0 0;
	}
	/*SPでは2個目以降を表示しない*/
	.l-block04 .l-block04-01 .l-block04-table > div:nth-child(n + 2) {
		padding-top:56px;
		display:block;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image {
		width:100%;
		text-align:center;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-message {
		font-size:15px;
		line-height:1.8;
		font-weight:bold;
		text-align:justify;
		padding:15px 0 35px;
	}
	.l-block04 .l-block04-01 .p-btn {
		text-align:center;
	}
	.l-block04 .l-block04-01 .p-btn a {
		display:inline-block;
		font-size:18px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:10px 50px;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:10px auto;
		font-weight:bold;
	}
	
	
	.l-block10 .l-block10-01 h4 {
		display:block;
		font-size:14px;
		text-align:center;
		margin-top: 15px;
		letter-spacing:0.2em;
		line-height:1.5;
		padding-bottom:14px;
	}
	.l-block10 .l-block10-01 h4 span {
		display:block;
		font-size:22px;
		font-weight:normal !important;
		color:#514e47;
		line-height:1;
	}
	.l-block10 {
		width: 100%;
		margin: 0 auto 7px;
		text-align: center;
		padding:0px 0px 70px;
		position:relative;
		z-index:1;
	}
	.l-block10 .l-block10-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:84px 0px 0px;
		position:relative;
		background:url(../img/h4_block07_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block10 .l-block10-01 .p-label {
		display: block;
		padding-top:0%;
		/*position: absolute;
		top: 20%;
		left: 0;
		right: 0;*/
	}
	.l-block10 .l-block10-01 .p-label label {
		display:inline-block;
		font-size:18px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:15px 50px;
		background:url(../img/ico_block07_1_pc.png) left 14px center no-repeat transparent;
		background-size:7px auto;
	}
	.l-block10 .l-block10-01 label:hover {
		cursor:pointer;
	}
	.l-block10 .l-block10-01 .l-block10-table {
		width: 100%;
		margin: 0% auto 0;
		text-align: center;
		padding:5% 0px 0px;
	}
	.l-block10 .l-block10-01 .l-block10-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding:0 0;
	}
	/*SPでは2個目以降を表示しない*/
	.l-block10 .l-block10-01 .l-block10-table > div:nth-child(n + 2) {
		/*display:none;*/
	}		
	.l-block10 .l-block10-01 .l-block10-table > div .p-image {
		text-align: center;
		margin-bottom:0;
		display: block;
		position: relative;
		width:100%;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block10 .l-block10-table > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		display: inline-block;
		border: 5px solid rgba(255,255,255,0.70);
	}
	.l-block10 .l-block10-01 .l-block10-table > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block10 .l-block10-01 .l-block10-table > div .p-message {
		font-size:15px;
		line-height:1.8;
		font-weight:bold;
		text-align:justify;
		padding:15px 0 35px;
	}
	.l-block10 .l-block10-01 .p-btn {
		text-align:center;
	}
	.l-block10 .l-block10-01 .p-btn a {
		display:inline-block;
		font-size:18px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:10px 50px;
		background:url(../img/ico_block07_1_pc.png) left 14px center no-repeat transparent;
		background-size:10px auto;
		font-weight:bold;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.p-common-btn2 {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
		margin-top:30px;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		position:relative;
		z-index:1;
	}

	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:375px;
		background:url(../img/bg_mv_sp.png) center center no-repeat transparent;
		background-size:cover;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 10px 0px;
		background-color:transparent;
		position:relative;
		z-index:2;	
	}
	.l-block01 > div:before {
		content:"";
		display:block;
		height:35px;
		width:calc(100% - 40px);
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:absolute;
		top:-35px;
		left:0;
		right:0;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 > .l-inner {
		width:100%;
		background-color:#FFFFFF;
		margin: 0px auto 0;
		position:relative;
		z-index:2;	
		padding:0px 0;
	}
	.l-block01 h2 {
		line-height:0;
		padding:0px 0 40px;
	}
	.l-block01 h2 img {
		max-width:338px;
		width:100%;
		margin-top:0px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-24px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 > div > .p-title{
		font-size:15px;
		line-height:1.7;
		font-weight:bold;
		text-align:center;
		color:#514e47;
		letter-spacing:0.1em;
	}
	.l-block01 > div > .p-message{
		font-size:12px;
		line-height:1.7;
		font-weight:bold;
		text-align:center;
		padding-top:10px;
	}
	.l-block01 .l-block01-table {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:30px 0 0px;
	}
	.l-block01 .l-block01-table  > div{
		width: 100%;
		display:block;
		vertical-align:top;
	}
	.l-block01 .l-block01-table  > div:nth-child(3n+1){
		padding-right:0;
	}
	.l-block01 .l-block01-table  > div:nth-child(3n+2){
		padding-left:0;
		padding-right:0;
	}
	.l-block01 .l-block01-table  > div:nth-child(3n){
		padding-left:0;
	}
	.l-block01 .l-block01-table  > div .p-image{
		text-align: center;
		margin-bottom:15px;
		display: block;
		position: relative;
		width:100%;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block01 .l-block01-table > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		display: inline-block;
		border: 10px solid rgba(255,255,255,0.70);
	}
	.l-block01 .l-block01-table  > div .p-image img{
		max-width: 642px;
		width:100%;
	}
	.l-block01 .l-block01-table  > div .p-message{
		font-size:11px;
		line-height:2;
		font-weight:bold;
		text-align:left;
		color:#514e47;
		padding:0px 0 20px;
	}
	
	.l-block02 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding: 0px 0 40px;
	}
	.l-block02 h3 {
		padding:0px 0 0px;
		font-size:11px;
		line-height:1.5;
		font-weight:bold;
		color:#514e47;
	}
	.l-block02 h3 span {
		display:block;
		font-size:24px;
		font-weight:normal;
	}
	
	.l-block-photo-wrap {
		padding-left: 0px;
		margin-top: 0;
		overflow: hidden;
	}
	.l-block-photo {
		
	}
	.l-block-photo li {
		max-width:480px !important;
		width:100%;
		margin-right: 0px !important;
		display:table;
	}
	.l-block-photo li p {
		margin-right:0 !important;	
		display:table-cell;
		vertical-align:middle;
		padding-top:45px;
	}
	.l-block-photo img {
		/*max-width: 320px;
		width:100%;
		height: auto;
		vertical-align: bottom;*/
	}
	.l-block-photo-wrap .bx-controls {
		font-size: 0;
		text-align: center;
		margin-top: 20px;
		padding-right: 0;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto 0px;
		text-align: center;
		padding:0px 0 60px;
		background-color:#FFFFFF;
	}
	.l-block03 > div {
		padding:0;
	}
	.l-block03 > div > div {
		width: 100%;
		display:block;
		vertical-align:middle;
	}
	.l-block03 .l-image {
		line-height:0;
	}
	.l-block03 .l-image img {
		max-width: 100%;
		width:100%;
	}
	.l-block03 .l-message {
		padding:25px 10px 0 10px;
		text-align:center;
	}
	.l-block03 .l-message .p-title {
		font-size:12px;
		line-height:1.8;
		font-weight:bold;
		color:#514e47;
		text-align:left;
		padding:0px 5px 5px;
		border-bottom:1px solid #ccc5b2;
	}
	.l-block03 .l-message .p-title span {
		font-size:18px;
		font-weight:400;
		color:#514e47;
		text-align:left;
	}
	.l-block03 .l-message .p-adress {
		font-size:11px;
		line-height:2;
		font-weight:bold;
		color:#000000;
		text-align:left;
		padding:15px 5px 20px;
	}
	
	.l-block04 {
		width: 100%;
		margin: 0 auto 5px;
		text-align: center;
		padding:0px 0px 50px;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:60px 0px 0px;
		position:relative;
		background:url(../img/h4_block04_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block04 .l-block04-01 h4 {
		line-height:0;
		display:block;
		padding:0 35px;
	}
	.l-block04 .l-block04-01 h4 img {
		max-width:837px;
		width:100%;
	}
	.l-block04 .l-block04-01 .p-label {
		display: block;
		padding-top:12%;
		/*position: absolute;
		top: 20%;
		left: 0;
		right: 0;*/
	}
	.l-block04 .l-block04-01 .p-label label {
		display:inline-block;
		font-size:12px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:10px 35px;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.l-block04 .l-block04-01 label:hover {
		cursor:pointer;
	}
	.l-block04 .l-block04-01 .l-block04-table {
		width: 100%;
		margin: 0% auto 0;
		text-align: center;
		padding:5% 0px 0px;
	}
	.l-block04 .l-block04-01 .l-block04-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding:0 0;
	}
	/*SPでは2個目以降を表示しない*/
	.l-block04 .l-block04-01 .l-block04-table > div:nth-child(n + 2) {
		padding-top:40px;
		display:block;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image {
		width:100%;
		text-align:center;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-table > div .p-message {
		font-size:11px;
		line-height:1.8;
		font-weight:bold;
		text-align:justify;
		padding:10px 0 25px;
	}
	.l-block04 .l-block04-01 .p-btn {
		text-align:center;
	}
	.l-block04 .l-block04-01 .p-btn a {
		display:inline-block;
		font-size:12px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:7px 35px;
		background:url(../img/ico_block04_1_pc.png) left 14px center no-repeat transparent;
		background-size:6px auto;
		font-weight:bold;
	}
	
	.l-block10 .l-block10-01 h4 {
		display:block;
		font-size:10px;
		text-align:center;
		margin-top: -5px;
		letter-spacing:0.2em;
		line-height:1.5;
		padding-bottom:10px;
	}
	.l-block10 .l-block10-01 h4 span {
		display:block;
		font-size:16px;
		font-weight:normal !important;
		color:#514e47;
		line-height:1;
	}
	.l-block10 {
		width: 100%;
		margin: 0 auto 5px;
		text-align: center;
		padding:0px 0px 50px;
		position:relative;
		z-index:1;
	}
	.l-block10 .l-block10-01 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding:60px 0px 0px;
		position:relative;
		background:url(../img/h4_block07_sp.png) top center no-repeat transparent;
		background-size:contain;
	}
	.l-block10 .l-block10-01 .p-label {
		display: block;
		padding-top:5%;
		/*position: absolute;
		top: 20%;
		left: 0;
		right: 0;*/
	}
	.l-block10 .l-block10-01 .p-label label {
		display:inline-block;
		font-size:12px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:10px 35px;
		background:url(../img/ico_block07_1_pc.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.l-block10 .l-block10-01 label:hover {
		cursor:pointer;
	}
	.l-block10 .l-block10-01 .l-block10-table {
		width: 100%;
		margin: 10% auto 0;
		text-align: center;
		padding:0% 0px 0px;
	}
	.l-block10 .l-block10-01 .l-block10-table > div {
		width: 100%;
		display:block;
		vertical-align:top;
		padding:0 0;
	}
	/*SPでは2個目以降を表示しない*/
	.l-block10 .l-block10-01 .l-block10-table > div:nth-child(n + 2) {
		padding-top:40px;
		display:block;
	}	
	.l-block10 .l-block10-01 .l-block10-table > div .p-image {
		text-align: center;
		margin-bottom:0;
		display: block;
		position: relative;
		width:100%;
		height:100%;
		text-decoration:none;
		line-height:0;
	}
	.l-block10 .l-block10-table > div .p-image:after{
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		display: inline-block;
		border: 5px solid rgba(255,255,255,0.70);
	}
	.l-block10 .l-block10-01 .l-block10-table > div .p-image img {
		max-width:1000px;
		width:100%;
	}
	
	.l-block10 .l-block10-01 .l-block10-table > div .p-message {
		font-size:11px;
		line-height:1.8;
		font-weight:bold;
		text-align:justify;
		padding:10px 0 25px;
	}
	.l-block10 .l-block10-01 .p-btn {
		text-align:center;
	}
	.l-block10 .l-block10-01 .p-btn a {
		display:inline-block;
		font-size:12px;
		line-height:1.7;
		text-align:center;
		color:#514e47;
		text-decoration:none;
		padding:7px 35px;
		background:url(../img/ico_block07_1_pc.png) left 14px center no-repeat transparent;
		background-size:6px auto;
		font-weight:bold;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	.p-common-btn2 {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
		margin-top:20px;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/


@media screen and (min-width:1001px){
	.l-block-photo li {
		width:auto !important;
		line-height:0;
	}
}
@media screen and (max-width:1000px) and (min-width:481px){
	.l-block-photo li {
		width:auto !important;
		margin-right:20px !important;
		line-height:0;
		display:table;
	}
}
@media screen and (max-width:480px){
	
	.l-block-photo li {
		margin-right:0px !important;
		line-height:0;
		display:table;
	}
}
