#wrapper {
	padding-top: 100px;
}
#wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.l-mv-line-inner {
	background-image: url(../img/img_mv_pc.jpg);
}

.l-mv-under {
	color: #514e47;
	text-align: center;
	margin-bottom: 70px;
}
.l-mv-under-ttl {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.66;
	letter-spacing: 0.2em;
}
.l-mv-under-nav {
	max-width: 1085px;
	font-size: 0;
	text-align: center;
	margin: 65px auto 0;
	padding: 0 20px;
}
.l-mv-under-nav li {
	display: inline-block;
	position: relative;
	width: 32%;
	
	height: 150px;
}
.l-mv-under-nav li + li {
	margin-left: 2%;
}
.l-mv-under-nav a {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* font-size: 14px; */
	text-decoration: none;
	border: solid 5px #afa27d;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* padding-top: 65px; */
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.l-mv-under-nav-link-inner {
	display: block;
}
.l-mv-under-nav-link01-small,
.l-mv-under-nav-link01-main,
.l-mv-under-nav-link01-sub {
	display: block;
	line-height: 1;
	letter-spacing: 0.12em;
}
.l-mv-under-nav-link01-small {
	font-size: 11px;
}
.l-mv-under-nav-link01-main {
	font-size: 24px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	margin-top: 0.5em;
}
.l-mv-under-nav-link01-sub {
	font-size: 11px;
	margin-top: 0.8em;
}
.l-mv-under-nav-link01 {
	background-image: url(../img/bg_head_nav01.jpg);
}
.l-mv-under-nav-link02 {
	background-image: url(../img/bg_head_nav02.jpg);
}
.l-mv-under-nav-link03 {
	background-image: url(../img/bg_head_nav03.jpg);
}

.l-circle01 li {
	text-indent: -1em;
	padding-left: 1em;
}
.l-circle01 li:before {
	content: "・";
}
.l-block03 {
	padding-bottom: 100px;
}

.l-pickup {
	margin-top: 100px;
}

@media screen and (max-width: 1200px) {
	#wrapper {
		padding-top: 140px;
	}
}
@media screen and (max-width: 1000px) {
	.l-mv-line-inner {
		background-image: url(../img/img_mv_sp.jpg);
	}
	
	.l-mv-under {
		margin-bottom: 170px;
	}
	.l-mv-under-ttl {
		font-size: 30px;
		letter-spacing: 0.1em;
	}
	.l-mv-under-nav {
		margin: 7.2% 0 0;
		padding: 0;
	}
	.l-mv-under-nav li {
		width: 670px;
		height: 300px;
	}
	.l-mv-under-nav li + li {
		margin-left: 0;
		margin-top: 20px;
	}
	.l-mv-under-nav a {
		border-width: 10px;
	}
	.l-mv-under-nav-link01-small {
		font-size: 22px;
	}
	.l-mv-under-nav-link01-main {
		font-size: 48px;
	}
	.l-mv-under-nav-link01-sub {
		font-size: 22px;
	}
	.l-block03 {
		padding-bottom: 2.66%;
	}
	
	.l-pickup {
		margin-top: 2.66%;
	}
}
@media screen and (max-width: 768px) {
	#wrapper {
		padding-top: 98px;
	}
	
	.l-mv-under {
		margin-bottom: 119px;
	}
	.l-mv-under-ttl {
		font-size: 21px;
	}
	.l-mv-under-nav {
		padding: 0 28px;
	}
	.l-mv-under-nav li {
		width: 100%;
		max-width: 469px;
		height: 210px;
	}
	.l-mv-under-nav li + li {
		margin-top: 14px;
	}
	.l-mv-under-nav a {
		border-width: 7px;
	}
	.l-mv-under-nav-link01-small {
		font-size: 15px;
	}
	.l-mv-under-nav-link01-main {
		font-size: 34px;
	}
	.l-mv-under-nav-link01-sub {
		font-size: 15px;
	}
	
}
@media screen and (max-width: 480px) {
	#wrapper {
		padding-top: 70px;
	}
	
	.l-mv-under-ttl {
		font-size: 15px;
	}
	.l-mv-under-nav {
		padding: 0 20px;
	}
	.l-mv-under-nav li {
		max-width: 335px;
		height: 150px;
	}
	.l-mv-under-nav a {
		border-width: 5px;
	}
	.l-mv-under-nav-link01-small {
		font-size: 11px;
	}
	.l-mv-under-nav-link01-main {
		font-size: 24px;
	}
	.l-mv-under-nav-link01-sub {
		font-size: 11px;
	}
}