#wrapper {
	padding-top: 100px;
	overflow: hidden;
}
#wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.l-mv {
	position: relative;
	color: #514e47;
	line-height: 1;
	height: 550px;
	background-image: url(../img/bg_mv_pc.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.l-mv-txtarea {
	position: absolute;
	bottom: -85px;
	left: 0;
	right: 0;
	width: 86.01%;
	max-width: 1101px;
	text-align: center;
	background: #fff;
	margin: 0 auto;
	padding-top: 48px;
}
.l-mv-txtarea:before {
	content: "";
	display: block;
	position: absolute;
	top: 136px;
	left: 0;
	right: 0;
	width: 689px;
	height: 1px;
	background: #afa27d;
	margin: auto;
}
.l-mv-txtarea-inner {
	position: relative;
	width: 285px;
	height: 137px;
	background-image: url(../img/img_mv_pc.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	margin: 0 auto;
	padding-top: 82px;
}
.l-mv-txtarea-en,
.l-mv-txtarea-jp {
	letter-spacing: 0.12em;
}
.l-mv-txtarea-en {
	font-size: 24px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
}
.l-mv-txtarea-jp {
	font-size: 11px;
	margin-top: 0.6em;
}

.l-block01 {
	margin-top: 111px;
}
.l-block01-inner {
	max-width: 1101px;
	margin: 0 auto;
}
.l-block01-inner:after {
	content: "";
	display: block;
	clear: both;
}
.l-block01-img {
	width: 61.76%;
	max-width: 680px;
	margin-left: -116px;
	float: left;
}
.l-block01-txtarea {
	letter-spacing: 0.12em;
	width: 46.77%;
	max-width: 515px;
	padding-top: 124px;
	float: right;
}
.l-block01-ttl {
	color: #514e47;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.2em;
}
.l-block-ttl-sub {
	color: #000;
	margin-top: 0.2em;
	margin: 0.5em 0 3.9em;
}
.l-block-txt {
	color: #000;
	font-size: 12px;
	line-height: 1.83;
	letter-spacing: 0.12em;
}
.l-block-txt + .l-block-txt {
	margin-top: 1.83em;
}

.l-block02 {
	margin-top: 30px;
	background: #cdd6bf;
}
.l-block02-bg {
}
.l-block02-inner {
	position: relative;
	max-width: 1101px;
	height: 419px;
	margin: 0 auto;
}
.l-block02-inner:after {
	content: "";
	display: block;
	clear: both;
}
.l-block02-img {
	position: absolute;
	width: 65.04%;
	top: -42px;
	right: 0;
}
.l-block02-txtarea {
	width: 44.23%;
	text-align: center;
	padding-top: 130px;
	float: left;
}
.l-block02-ttl {
	color: #fff;
	line-height: 1;
	background: url(../img/img_block02_ttl.png) no-repeat top center;
	background-size: 190px;
	padding-top: 65px;
}
.l-block02-ttl-en,
.l-block02-ttl-jp {
	display: block;
	letter-spacing: 0.12em;
}
.l-block02-ttl-en {
	font-size: 36px;
	font-family: 'Cinzel', serif;
}
.l-block02-ttl-jp {
	margin-top: 0.5em;
}
.l-block02-txt {
	color: #514e47;
	font-size: 10px;
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	letter-spacing: 0.08em;
	margin-top: 2.5em;
}

.l-block03 {
	margin-top: 140px;
}
.l-block03-item {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.l-block03-item:nth-child(odd) .l-block03-txtarea {
	padding-left: 60px;
}
.l-block03-item:nth-child(even) .l-block03-img {
	order: 2;
}
.l-block03-item:nth-child(even) .l-block03-txtarea {
	padding-right: 60px;
	justify-content: flex-end;
	order: 1;
}
.l-block03-img {
	width: 50%;
}
.l-block03-img img {
	width: 100%;
}
.l-block03-txtarea {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 50%;
	letter-spacing: 0.12em;
	-ms-align-items: center;
	align-items: center;
}
.l-block03-txtarea-inner {
	width: 100%;
	max-width: 490px;
}
.l-block03-ttl {
	color: #cdd6bf;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	text-align: center;
	letter-spacing: 0.12em;
	border-bottom: solid 1px #ccc5b2;
	padding-bottom: 0.3em;
	margin-bottom: 1.9em;
}
.l-block03-txt-en,
.l-block03-txt-jp {
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.12em;
	margin-bottom: 7px;
}
.l-block03-txt-en {
	color: #000;
	font-size: 12px;
	line-height: 1.833;
}
.l-block03-txt-jp {
	color: #666;
	font-size: 11px;
	line-height: 1.63;
}
.l-mb18 {
	margin-bottom: 18px;
}

.l-block04 {
	margin-top: 70px;
	padding-bottom: 99px;
}
.l-block04-ttl {
	color: #514e47;
	text-align: center;
	line-height: 1;
}
.l-block04-ttl-en,
.l-block04-ttl-jp {
	display: block;
	letter-spacing: 0.12em;
}
.l-block04-ttl-en {
	font-size: 24px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
}
.l-block04-ttl-jp {
	font-size: 11px;
	font-weight: 500;
	margin-top: 0.8em;
}
.l-block04-slide-wrap {
	margin-top: 56px;
}
.l-block04-slide-wrap .bx-wrapper {
	margin: 0 auto;
}
.l-block04-slide-wrap .bx-viewport {
	overflow: visible !important;
}
.l-block04-slide-wrap .bx-pager {
	font-size: 0;
	text-align: center;
	margin-top: 35px;
}
.l-block04-slide-wrap .bx-pager-item {
	display: inline-block;
}
.l-block04-slide-wrap .bx-pager-item + .bx-pager-item {
	margin-left: 15px;
}
.l-block04-slide-wrap .bx-pager-link {
	display: block;
	width: 35px;
	height: 1px;
	text-indent: -999px;
	background: #afa27d;
	opacity: 0.3;
}
.l-block04-slide-wrap .bx-pager-link.active {
	opacity: 1;
}
.l-block04-slide-img img {
	width: 100%;
}
.l-block04-slide-txt {
	color: #000;
	font-size: 12px;
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	text-align: center;
	letter-spacing: 0.08em;
	margin-top: 1.2em;
}

@media screen and (max-width: 1200px) {
	#wrapper {
		padding-top: 140px;
	}
}
@media screen and (max-width: 1000px) {
	.l-mv {
		height: auto;
		background-image: url(../img/bg_mv_sp.jpg);
		padding-top: 100%;
	}
	.l-mv-txtarea {
		width: 598px;
		bottom: -270px;
		padding-top: 64px;
	}
	.l-mv-txtarea:before {
		top: 50%;
		left: 50%;
		width: 113.04%;
		max-width: 90vw;
		height: 2px;
		transform: translateX(-50%);
	}
	.l-mv-txtarea-inner {
		width: 432px;
		height: 274px;
		background-image: url(../img/img_mv_sp.jpg);
		padding-top: 134px;
	}
	.l-mv-txtarea-en {
		font-size: 48px;
	}
	.l-mv-txtarea-jp {
		font-size: 22px;
	}
	
	.l-block01 {
		margin-top: 290px;
	}
	.l-block01-img {
		width: 84.53%;
		max-width: none;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	.l-block01-txtarea {
		width: 100%;
		max-width: none;
		text-align: center;
		margin: 5.33% 0 0;
		padding: 0 40px;
	}
	.l-block01-ttl {
		font-size: 30px;
	}
	.l-block-ttl-sub {
		color: #514e47;
		font-size: 24px;
		margin: 0.3em 0 1.6em;
	}
	.l-block-txt {
		font-size: 22px;
		text-align: left;
	}
	
	.l-block02 {
		margin-top: 17.33%;
		padding-bottom: 10.66%;
	}
	.l-block02-inner {
		height: auto;
	}
	.l-block02-img {
		position: relative;
		width: 83.46%;
		text-align: center;
		top: -6.13vw;
		right: 0;
		margin: 0 auto;
	}
	.l-block02-txtarea {
		width: 100%;
		padding-top: 0;
		float: none;
	}
	.l-block02-ttl {
		background-size: 205px;
		padding-top: 95px;
	}
	.l-block02-ttl-en {
		font-size: 48px;
	}
	.l-block02-ttl-jp {
		font-size: 22px;
	}
	.l-block02-txt {
		font-size: 20px;
		margin-top: 0.9em;
	}
	
	.l-block03 {
		margin-top: 8%;
	}
	.l-block03-item {
		display: block;
	}
	.l-block03-item:nth-child(odd) .l-block03-txtarea,
	.l-block03-item:nth-child(even) .l-block03-txtarea {
		padding: 4.8% 40px 6.4%;
	}
	.l-block03-img,
	.l-block03-txtarea {
		width: 100%;
	}
	.l-block03-txtarea {
		display: block;
	}
	.l-block03-txtarea-inner {
		max-width: none;
	}
	.l-block03-ttl {
		font-size: 24px;
		padding-bottom: 0.8em;
	}
	.l-block03-txt-en,
	.l-block03-txt-jp {
		font-size: 22px;
		margin-bottom: 0.3em;
	}
	.l-block03-txt-en.colorGray01,
	.l-block03-txt-jp.colorGray01 {
		color: #323232;
	}
	.l-block03-txt-en {
		line-height: 1.45;
	}
	.l-block03-txt-jp {
		line-height: 1.63;
	}
	.l-mb18 {
		margin-bottom: 1.2em;
	}
	
	.l-block04 {
		margin-top: 10.66%;
		padding-bottom: 18.13%;
	}
	.l-block04-ttl-en {
		font-size: 48px;
	}
	.l-block04-ttl-jp {
		font-size: 22px;
	}
	.l-block04-slide-wrap {
		margin-top: 12%;
	}
	.l-block04-slide-txt {
		font-size: 22px;
		margin-top: 2em;
	}
	.l-block04-slide-wrap .bx-pager {
		margin-top: 5.33%;
	}
	.l-block04-slide-wrap .bx-pager-link {
		width: 70px;
		height: 2px;
	}
	.l-block04-slide-wrap .bx-pager-item + .bx-pager-item {
		margin-left: 30px;
	}
}
@media screen and (max-width: 768px) {
	#wrapper {
		padding-top: 98px;
	}
	
	.l-mv-txtarea {
		width: 419px;
		bottom: -189px;
		padding-top: 47px;
	}
	.l-mv-txtarea-inner {
		width: 302px;
		height: 192px;
		padding-top: 97px;
	}
	.l-mv-txtarea-en {
		font-size: 34px;
	}
	.l-mv-txtarea-jp {
		font-size: 15px;
	}
	
	.l-block01 {
		margin-top: 203px;
	}
	.l-block01-txtarea {
		padding-left: 28px;
		padding-right: 28px;
	}
	.l-block01-ttl {
		font-size: 21px;
	}
	.l-block-ttl-sub {
		font-size: 17px;
	}
	.l-block-txt {
		font-size: 15px;
	}
	
	.l-block02-ttl {
		background-size: 144px;
		padding-top: 65px;
	}
	.l-block02-ttl-en {
		font-size: 34px;
	}
	.l-block02-ttl-jp {
		font-size: 15px;
	}
	.l-block02-txt {
		font-size: 14px;
	}
	
	.l-block03-ttl {
		font-size: 17px;
	}
	.l-block03-txt-en,
	.l-block03-txt-jp {
		font-size: 15px;
	}
	.l-block03-item:nth-child(odd) .l-block03-txtarea,
	.l-block03-item:nth-child(even) .l-block03-txtarea {
		padding-left: 28px;
		padding-right: 28px;
	}
	
	.l-block04-ttl-en {
		font-size: 34px;
	}
	.l-block04-ttl-jp {
		font-size: 15px;
	}
	.l-block04-slide-txt {
		font-size: 15px;
	}
	.l-block04-slide-wrap .bx-pager-item + .bx-pager-item {
		margin-left: 21px;
	}
	.l-block04-slide-wrap .bx-pager-link {
		width: 49px;
	}
	
}
@media screen and (max-width: 480px) {
	#wrapper {
		padding-top: 70px;
	}
	
	.l-mv-txtarea {
		bottom: -135px;
		width: 299px;
		padding-top: 45px;
	}
	.l-mv-txtarea:before {
		top: 115px;
		height: 1px;
	}
	.l-mv-txtarea-inner {
		width: 216px;
		height: 137px;
		padding-top: 65px;
	}
	.l-mv-txtarea-en {
		font-size: 24px;
	}
	.l-mv-txtarea-jp {
		font-size: 11px;
	}
	
	.l-block01 {
		margin-top: 145px;
	}
	.l-block01-txtarea {
		padding-left: 20px;
		padding-right: 20px;
	}
	.l-block01-ttl {
		font-size: 15px;
	}
	.l-block-ttl-sub {
		font-size: 12px;
	}
	.l-block-txt {
		font-size: 11px;
	}
	
	.l-block02-ttl {
		background-size: 103px;
		padding-top: 45px;
	}
	.l-block02-ttl-en {
		font-size: 24px;
	}
	.l-block02-ttl-jp {
		font-size: 11px;
	}
	.l-block02-txt {
		font-size: 10px;
	}
	
	.l-block03-item:nth-child(odd) .l-block03-txtarea,
	.l-block03-item:nth-child(even) .l-block03-txtarea {
		padding-left: 20px;
		padding-right: 20px;
	}
	.l-block03-ttl {
		font-size: 12px;
	}
	.l-block03-txt-en,
	.l-block03-txt-jp {
		font-size: 11px;
	}
	.l-block04-ttl-en {
		font-size: 24px;
	}
	.l-block04-ttl-jp {
		font-size: 11px;
	}
	.l-block04-slide-txt {
		font-size: 11px;
	}
	.l-block04-slide-wrap .bx-pager-item + .bx-pager-item {
		margin-left: 15px;
	}
	.l-block04-slide-wrap .bx-pager-link {
		width: 35px;
		height: 1px;
	}
}