#wrapper {
	padding-top: 100px;
}
.l-mv {
	width: 100%;
	height: 550px;
	background-image: url(../img/bg_mv_pc.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.l-content,
.l-content-border01 {
	max-width: 1180px;
	padding: 0 40px;
	margin: -135px auto 0;
}

.l-content-inner {
	background: #fff;
	padding: 20px;
}
.l-content-inner-border01 {
	display: block;
	border: solid 1px rgba(137,126,99,0.3);
	padding-top: 85px;
}

.l-mv-ttl {
	position: relative;
	color: #514e47;
	text-align: center;
	max-width: 865px;
	margin: 0 auto;
}
.l-mv-ttl:before {
	content: "";
	display: block;
	position: absolute;
	top: 90px;
	left: 88px;
	right: 88px;
	height: 1px;
	background: #afa27d;
	z-index: 0;
}
.l-mv-ttl-inner {
	position: relative;
	height: 137px;
	background-image: url(../img/img_mv_pc.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 70px 0 0;
	z-index: 0;
}
.l-mv-ttl-en {
	font-size: 24px;
	font-family: 'Cinzel', serif;
	font-weight: 400;
	letter-spacing: 0.12em;
}
.l-mv-ttl-jp {
	font-size: 11px;
	letter-spacing: 0.12em;
}

.l-flowindex {
	padding: 0 40px;
	margin-top: 30px;
}
.l-flowindex-ttl {
	color: #514e47;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.2em;
}
.l-flowindex-txt {
	color: #000;
	font-size: 12px;
	text-align: left;
	letter-spacing: 0.12em;
	line-height: 1.83;
	max-width: 433px;
	margin: 35px auto 0;
}

.l-flowindex-list {
	counter-reset: l-flowindex-list;
	max-width: 885px;
	margin: 92px auto 84px;
}
.l-flowindex-list:after {
	content: "";
	display: block;
	clear: both;
}
.l-flowindex-list li {
	position: relative;
	width: 22.93%;
	background: #edefea;
	border-radius: 50%;
	float: left;
}
.l-flowindex-list li:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.l-flowindex-list li:after {
	content: counter(l-flowindex-list);
	counter-increment: l-flowindex-list;
	display: block;
	position: absolute;
	top: -0.75em;
	left: 0;
	right: 0;
	width: 100%;
	color: #aa9268;
	font-size: 36px;
	font-family: 'Cinzel', serif;
	text-align: center;
}
.l-flowindex-list li + li {
	margin-left: 2.76%;
}
.l-flowindex-list a {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-decoration: none;
	-ms-align-items: center;
	align-items: center;
}
.l-flowindex-list-item {
	display: block;
	width: 100%;
	color: #aa9268;
	text-align: center;
}
.l-flowindex-list-item:before {
	content: "";
	display: block;
	position: absolute;
	top: 34px;
	left: 0;
	right: 0;
	width: 5px;
	height: 5px;
	background: #aa9268;
	border-radius: 50%;
	margin: auto;
}
.l-flowindex-list-ttl,
.l-flowindex-list-txt {
	display: block;
}
.l-flowindex-list-ttl {
	font-size: 16px;
	letter-spacing: 0.12em;
}
.l-flowindex-list-txt {
	font-size: 11px;
	font-family: 'Cinzel', serif;
	font-weight: 400;
	letter-spacing: 0.04em;
}

.l-block {
	position: relative;
	width: 100vw;
	max-width: 1280px;
	left: 50%;
	transform: translateX(-50%);
}
.l-block-ttl01 {
	color: #aa9268;
	text-align: center;
}
.l-block-ttl-num,
.l-block-ttl-main {
	display: block;
	line-height: 1;
}
.l-block-ttl-num {
	font-size: 72px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
}
.l-block-ttl-num:after {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	background: #aa9268;
	border-radius: 50%;
	margin: 6px auto 0;
}
.l-block-ttl-main {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.12em;
	margin-top: 15px;
}
.l-block-ttl03 {
	color: #aa9268;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.2em;
}
.l-block-wrap {
	position: relative;
}
.l-block-img {
	position: absolute;
	max-width: 640px;
}
.l-block-img img {
	max-width: 100%;
	height: auto;
}
.l-block-txtarea {
	position: relative;
	background: #fff;
	z-index: 10;
}

.l-block-ttl02 {
	color: #aa9268;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin-top: 15px;
}
.l-block-ttl02-en {
	color: #edefea;
	font-size: 42px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	letter-spacing: 0.06em;
	line-height: 1;
}
.l-block-txt {
	color: #000;
	font-size: 12px;
	letter-spacing: 0.12em;
	line-height: 1.833;
	margin-top: 10px;
}
.l-block-point dt {
	display: inline-block;
	color: #fff;
	font-size: 11px;
	font-family: 'Cinzel', serif;
	letter-spacing: 0.11em;
	background: #aa9268;
	padding: 4px 8px;
	float: left;
}
.l-block-point dd {
	padding-left: 66px;
}
.l-block-point-list li {
	color: #514e47;
	font-size: 11px;
	font-family: Yu Gothic Medium, "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	letter-spacing: 0.06em;
	text-indent: -1em;
	padding-left: 1em;
}
.l-block-point-list li:before {
	content: "・";
}

.l-block01 .l-block-ttl01 {
	margin-bottom: 60px;
}
.l-block01 .l-block-wrap {
	padding-top: 40px;
}
.l-block01 .l-block-wrap:after {
	content: "";
	display: block;
	clear: both;
}
.l-block01 .l-block-img {
	top: 0;
	left: 0;
}
.l-block01 .l-block-txtarea {
	width: 43.98%;
	right: 10.7%;
	max-width: 563px;
	padding: 25px 50px 37px 38px;
	float: right;
}
.l-block01 .l-block-point {
	margin-top: 15px;
}
.l-block01 .l-block-link {
	text-align: center;
	margin-top: 63px;
}

.l-block02 {
	padding-top: 80px;
}
.l-block02 .l-block-ttl01 {
	margin-bottom: 40px;
}
.l-block02 .l-block-wrap {
	padding-top: 40px;
}
.l-block02 .l-block-img {
	top: 0;
	right: 0;
}
.l-block02 .l-block-txtarea {
	width: 43.82%;
	left: 10.85%;
	max-width: 561px;
	padding: 16px 38px 44px 45px;
}
.l-block02 .l-block-point {
	margin-top: 13px;
}

.l-block03 {
	padding-top: 125px;
}
.l-block03 .l-block-ttl01 {
	margin-bottom: 45px;
}
.l-block03 .l-block-wrap01 {
	padding-top: 65px;
}
.l-block03 .l-block-wrap01:after {
	content: "";
	display: block;
	clear: both;
}
.l-block03 .l-block-img01 {
	top: 0;
	left: 0;
}
.l-block03 .l-block-txtarea01 {
	width: 44.92%;
	right: 10.7%;
	max-width: 575px;
	padding: 14px 50px 34px 56px;
	float: right;
}
.l-block03 .l-block-point {
	margin-top: 14px;
}
.l-block03 .l-block-link01 {
	margin-top: 14px;
}
.l-block03 .l-block-wrap02 {
	margin-top: 50px;
	padding-top: 50px;
}
.l-block03 .l-block-img02 {
	top: 0;
	right: 0;
}
.l-block03 .l-block-txtarea02 {
	width: 44.76%;
	max-width: 573px;
	left: 9.92%;
	padding: 30px 50px 38px 62px;
}

.l-block04 {
	padding-top: 70px;
}
.l-block04 .l-block-ttl01 {
	margin-bottom: 40px;
}
.l-block04 .l-block-wrap {
	padding-top: 65px;
}
.l-block04 .l-block-wrap:after {
	content: "";
	display: block;
	clear: both;
}
.l-block04 .l-block-img {
	top: 0;
	left: 0;
}
.l-block04 .l-block-txtarea {
	width: 44.14%;
	right: 10.54%;
	max-width: 565px;
	padding: 45px 50px 60px 34px;
	float: right;
}

.l-block05 {
	padding-top: 196px;
}
.l-block05.l-block-head-arrow {
	background-position: top 162px center;
}
.l-block05-img {
	margin-top: 35px;
}
.l-block05-img img {
	max-width: 100%;
	height: auto;
}

.l-block06 {
	padding: 165px 0 99px;
}
.l-block06.l-block-head-arrow {
	background-position: top 93px center;
}
.l-block06 .l-block-wrap {
	margin-top: 65px;
	padding-top: 63px;
}
.l-block06 .l-block-img {
	top: 0;
	right: 0;
}
.l-block06 .l-block-txtarea {
	width: 44.45%;
	left: 10.15%;
	max-width: 569px;
	padding: 50px 38px 46px 55px;
}
.l-block06 .l-block-link {
	text-align: center;
	margin-top: 127px;
}



.l-block-head-arrow {
	background-image: url(../img/ico_viewmore3_pc.png);
	background-repeat: no-repeat;
}
.l-block-ttl-center-en,
.l-block-ttl-center,
.l-block-txt-center {
	text-align: center;
}
.l-block-ttl-center-en {
	color: #edefea;
	font-size: 42px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	line-height: 1.035;
	letter-spacing: 0.06em;
}
.l-block-ttl-center {
	color: #aa9268;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 0.2em;
}
.l-block-txt-center {
	color: #000;
	letter-spacing: 0.12em;
	margin-top: 5px;
}

.l-button01 {
	display: inline-block;
	width: 300px;
	height: 80px;
	color: #897e63;
	text-align: center;
	text-decoration: none;
	border: solid 1px #897e63;
	background: url(../img/ico_viewmore1_pc.png) no-repeat left 37px center;
	padding-top: 22px;
}
.l-button01-jp,
.l-button01-en {
	display: block;
}
.l-button01-jp {
	font-size: 12px;
	letter-spacing: 0.05em;
}
.l-button01-en {
	font-size: 9px;
	font-weight: 100;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.22em;
}

.l-button02 {
	display: inline-block;
	width: 200px;
	height: 35px;
	color: #514e47;
	font-size: 11px;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.12em;
	border: solid 1px #897e63;
	padding-top: 8px;
	background: url(../img/ico_viewmore1_pc.png) no-repeat left 14px center;
	background-size: 5px;
}

.l-pickup {
	margin-top: 115px;
}


@media screen and (max-width: 1000px) {
	#wrapper {
		padding-top: 140px;
	}
	.l-mv {
		height: 100vw;
		background-image: url(../img/bg_mv_sp.jpg);
	}
	
	.l-content {
		width: 89.33%;
		padding: 3.46% 0 0;
		margin-top: -24%;
	}
	.l-content-inner {
		padding: 0;
	}
	.l-content-inner-border01 {
		border: none;
		padding-top: 0;
	}
	.l-mv-ttl-inner {
		height: 274px;
		background-image: url(../img/img_mv_sp.jpg);
		padding: 150px 0 0;
	}
	.l-mv-ttl {
		width: 74.02%;
		width: 496px;
	}
	.l-mv-ttl:before {
		top: 50%;
		left: 0;
		right: 0;
	}
	.l-mv-ttl-en {
		font-size: 48px;
	}
	.l-mv-ttl-jp {
		font-size: 22px;
	}
	.l-flowindex {
		margin-top: 11.94%;
		padding: 0;
	}
	.l-flowindex-ttl {
		font-size: 30px;
	}
	.l-flowindex-txt {
		font-size: 22px;
		line-height: 2;
		width: 100%;
		max-width: none;
		margin-top: 5.07%;
	}
	.l-flowindex-txt br {
		display: none;
	}
	.l-flowindex-list {
		width: 70.74%;
		margin: 14.92% auto 0;
	}
	.l-flowindex-list li {
		width: 46.41%;
	}
	.l-flowindex-list li + li {
		margin-left: 0;
	}
	.l-flowindex-list li:nth-child(even) {
		margin-left: 7.18%;
	}
	.l-flowindex-list li:first-child,
	.l-flowindex-list li:nth-child(2) {
		margin-bottom: 15.25%;
	}
	.l-flowindex-list li:after {
		font-size: 56px;
	}
	.l-flowindex-list-item:before {
		top: 18.18%;
		width: 8px;
		height: 8px;
	}
	.l-flowindex-list-ttl {
		font-size: 24px;
	}
	.l-flowindex-list-txt {
		font-size: 18px;
	}
	.l-block-ttl-num {
		font-size: 96px;
	}
	.l-block-ttl-num:after {
		width: 10px;
		height: 10px;
		margin-top: 2.88%;
	}
	.l-block-ttl-main {
		font-size: 32px;
		margin-top: 3.88%;
	}
	.l-block-ttl03 {
		font-size: 32px;
		text-align: center;
	}
	.l-block-ttl03 span {
		display: block;
	}
	.l-block-img {
		position: static;
		max-width: none;
	}
	.l-block-img img {
		width: 100%;
	}
	.l-block-ttl02-en {
		font-size: 36px;
		text-align: center;
	}
	.l-block-ttl02 {
		font-size: 32px;
	}
	.l-block-txt {
		font-size: 22px;
		line-height: 2;
	}
	.l-block-point dt {
		font-size: 22px;
		padding: 7px 16px 8px;
	}
	.l-block-point dd {
		padding-left: 128px;
	}
	.l-block-point-list li {
		font-size: 22px;
	}
	
	.l-button01 {
		width: 80%;
		height: 160px;
		background: url(../img/ico_viewmore1_sp.png) no-repeat left 12.33% center;
		padding-top: 43px;
	}
	.l-button01-jp {
		font-size: 24px;
	}
	.l-button01-en {
		font-size: 18px;
	}
	.l-button02 {
		width: 53.33%;
		height: 70px;
		font-size: 22px;
		background: url(../img/ico_viewmore1_sp.png) no-repeat left 7% center;
		background-size: 10px 20px;
		padding-top: 16px;
	}
	
	.l-block01 {
		padding-top: 17.31%;
	}
	.l-block01 .l-block-ttl01 {
		margin-bottom: 10.44%;
	}
	.l-block01 .l-block-wrap {
		padding-top: 0;
	}
	.l-block01 .l-block-txtarea,
	.l-block02 .l-block-txtarea,
	.l-block03 .l-block-txtarea01,
	.l-block03 .l-block-txtarea02,
	.l-block04 .l-block-txtarea,
	.l-block06 .l-block-txtarea {
		width: auto;
		max-width: none;
		margin: -6.66% 40px 0;
		padding: 5.33% 0 0;
	}
	.l-block01 .l-block-txtarea {
		right: 0;
		float: none;
	}
	.l-block01 .l-block-ttl02 {
		font-size: 30px;
	}
	.l-block01 .l-block-link {
		margin-top: 10.67%;
	}
	
	.l-block02 {
		padding-top: 13.33%;
	}
	.l-block02 .l-block-ttl01 {
		margin-bottom: 6.93%;
	}
	.l-block02 .l-block-wrap {
		padding-top: 0;
	}
	
	.l-block02 .l-block-txtarea {
		left: 0;
	}
	.l-block02 .l-block-point {
		margin-top: 4.53%;
	}
	
	.l-block03 {
		padding-top: 14.66%;
	}
	.l-block03 .l-block-ttl01 {
		margin-bottom: 11.46%;
	}
	.l-block03 .l-block-wrap01 {
		padding-top: 0;
	}
	
	.l-block03 .l-block-txtarea01 {
		right: 0;
		float: none;
	}
	.l-block03 .l-block-point {
		margin-top: 4.47%;
	}
	.l-block03 .l-block-link01 {
		text-align: center;
		margin-top: 5.97%;
	}
	.l-block03 .l-block-wrap02 {
		margin-top: 14.933%;
		padding-top: 0;
	}
	.l-block03 .l-block-txtarea02 {
		left: 0;
	}
	
	.l-block04 {
		padding-top: 20%;
	}
	.l-block04 .l-block-ttl01 {
		margin-bottom: 8%;
	}
	.l-block04 .l-block-wrap {
		padding-top: 0;
	}
	.l-block04 .l-block-txtarea {
		right: 0;
		float: none;
	}
	
	.l-block-head-arrow {
		background-image: url(../img/ico_viewmore3_sp.png);
		background-size: 13.33%;
	}
	.l-block-ttl-center-en {
		font-size: 72px;
		line-height: 1.17;
	}
	.l-block-ttl-center {
		font-size: 32px;
	}
	.l-block-txt-center {
		font-size: 24px;
	}
	
	.l-block05 {
		padding-top: 30.4%;
	}
	.l-block05.l-block-head-arrow {
		background-position: center top 12vw;
	}
	.l-block05-img {
		margin-top: 8.53%;
	}
	.l-block05-img img {
		width: 100%;
	}
	
	.l-block06 {
		padding: 27.73% 0 0;
	}
	.l-block06 .l-block-ttl-center-en {
		font-size: 56px;
	}
	.l-block06 .l-block-wrap {
		margin-top: 9.6%;
		padding-top: 0;
	}
	.l-block06 .l-block-txtarea {
		left: 0;
	}
	.l-block06 .l-block-txt {
		margin-top: 3.88%;
	}
	.l-block06 .l-block-link {
		margin-top: 5.07%;
	}
	.l-block06 .l-block-txt br {
		display: none;
	}
	
	.l-pickup {
		margin-top: 13.33%;
	}
}
@media screen and (max-width: 768px) {
	#wrapper {
		padding-top: 98px;
	}
	.l-mv-ttl {
		width: 347px;
	}
	.l-mv-ttl-inner {
		height: 192px;
		padding-top: 100px;
	}
	.l-mv-ttl-en {
		font-size: 34px;
	}
	.l-mv-ttl-jp {
		font-size: 15px;
	}
	.l-flowindex-ttl {
		font-size: 21px;
	}
	.l-flowindex-txt {
		font-size: 15px;
	}
	.l-flowindex-list li:after {
		font-size: 39px;
	}
	.l-flowindex-list-item:before {
		width: 6px;
		height: 6px;
	}
	.l-flowindex-list-ttl {
		font-size: 17px;
	}
	.l-flowindex-list-txt {
		font-size: 13px;
	}
	.l-block01 .l-block-txtarea,
	.l-block02 .l-block-txtarea,
	.l-block03 .l-block-txtarea01,
	.l-block03 .l-block-txtarea02,
	.l-block04 .l-block-txtarea,
	.l-block06 .l-block-txtarea {
		margin: -6.66% 28px 0;
	}
	.l-block-ttl-num {
		font-size: 67px;
	}
	.l-block-ttl-num:after {
		width: 7px;
		height: 7px;
	}
	.l-block-ttl-main {
		font-size: 22px;
	}
	.l-block-ttl02-en {
		font-size: 25px;
	}
	.l-block-ttl02 {
		font-size: 22px;
	}
	.l-block-txt {
		font-size: 15px;
	}
	.l-block-point dt {
		font-size: 15px;
	}
	.l-block-point dd {
		padding-left: 100px;
	}
	.l-block-point-list li {
		font-size: 15px;
	}
	
	.l-button01 {
		height: 112px;
		padding-top: 29px;
		background-size: 12px;
	}
	.l-button01-jp {
		font-size: 17px;
	}
	.l-button01-en {
		font-size: 13px;
	}
	.l-button02 {
		height: 49px;
		font-size: 15px;
		background-size: 7px 14px;
		padding-top: 13px;
	}
	
	.l-block01 .l-block-ttl02 {
		font-size: 21px;
	}
	
	.l-block-ttl-center-en {
		font-size: 50px;
	}
	.l-block-ttl-center {
		font-size: 22px;
	}
	.l-block-txt-center {
		font-size: 17px;
	}
	
	.l-block06 .l-block-ttl-center-en {
		font-size: 39px;
	}
	.l-block06.l-block-head-arrow {
		background-position: top 12vw center;
	}
	
	.l-block-ttl03 {
		font-size: 22px;
	}
	
}
@media screen and (max-width: 480px) {
	#wrapper {
		padding-top: 70px;
	}
	.l-mv-ttl {
		width: 248px;
	}
	.l-mv-ttl-inner {
		height: 137px;
		padding-top: 75px;
	}
	.l-mv-ttl-en {
		font-size: 24px;
	}
	.l-mv-ttl-jp {
		font-size: 11px;
	}
	.l-flowindex-ttl {
		font-size: 15px;
	}
	.l-flowindex-txt {
		font-size: 11px;
	}
	.l-flowindex-list li:after {
		font-size: 28px;
	}
	.l-flowindex-list-item:before {
		width: 4px;
		height: 4px;
	}
	.l-flowindex-list-ttl {
		font-size: 12px;
	}
	.l-flowindex-list-txt {
		font-size: 9px;
	}
	.l-block01 .l-block-txtarea,
	.l-block02 .l-block-txtarea,
	.l-block03 .l-block-txtarea01,
	.l-block03 .l-block-txtarea02,
	.l-block04 .l-block-txtarea,
	.l-block06 .l-block-txtarea {
		margin: -6.66% 20px 0;
	}
	.l-block-ttl-num {
		font-size: 48px;
	}
	.l-block-ttl-num:after {
		width: 5px;
		height: 5px;
	}
	.l-block-ttl-main {
		font-size: 16px;
	}
	.l-block-ttl02-en {
		font-size: 18px;
	}
	.l-block-ttl02 {
		font-size: 16px;
	}
	.l-block-txt {
		font-size: 11px;
	}
	.l-block-point dt {
		font-size: 11px;
	}
	.l-block-point dd {
		padding-left: 80px;
	}
	.l-block-point-list li {
		font-size: 11px;
	}
	
	.l-button01 {
		height: 80px;
		padding-top: 22px;
		background-size: 8px;
	}
	.l-button01-jp {
		font-size: 12px;
	}
	.l-button01-en {
		font-size: 9px;
	}
	.l-button02 {
		height: 35px;
		font-size: 11px;
		padding-top: 8px;
		background-size: 5px 10px;
	}
	
	.l-block01 .l-block-ttl02 {
		font-size: 15px;
	}
	
	.l-block-ttl-center-en {
		font-size: 36px;
	}
	.l-block-ttl-center {
		font-size: 16px;
	}
	.l-block-txt-center {
		font-size: 12px;
	}
	
	.l-block06 .l-block-ttl-center-en {
		font-size: 28px;
	}
	
	.l-block-ttl03 {
		font-size: 16px;
	}
	
}