#wrapper {
	padding-top: 100px;
}
#wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.l-mv-line-inner {
	background-image: url(../img/img_mv_pc.jpg);
}

.l-mv-under {
	color: #514e47;
	text-align: center;
	margin-bottom: 70px;
}
.l-mv-under-ttl {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.2em;
}
.l-mv-under-nav {
	font-size: 0;
	text-align: center;
	margin: 65px 0 0;
}
.l-mv-under-nav li {
	display: inline-block;
	position: relative;
	width: 335px;
	height: 150px;
}
.l-mv-under-nav li + li {
	margin-left: 50px;
}
.l-mv-under-nav a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #514e47;
	font-size: 14px;
	text-decoration: none;
	letter-spacing: 0.12em;
	border: solid 5px #afa27d;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 65px;
}
.l-mv-under-nav-link01 {
	background-image: url(../img/bg_head_nav01.jpg);
}
.l-mv-under-nav-link02 {
	background-image: url(../img/bg_head_nav02.jpg);
}

.l-pickup {
	margin-top: 100px;
}


@media screen and (max-width: 1200px) {
	#wrapper {
		padding-top: 140px;
	}
}
@media screen and (max-width: 1000px) {
	.l-mv-line-inner {
		background-image: url(../img/img_mv_sp.jpg);
	}
	
	.l-mv-under {
		margin-bottom: 170px;
	}
	.l-mv-under-ttl {
		font-size: 30px;
		letter-spacing: 0.1em;
	}
	.l-mv-under-nav {
		margin: 7.2% 0 0;
	}
	.l-mv-under-nav li {
		width: 670px;
		height: 300px;
	}
	.l-mv-under-nav li + li {
		margin-left: 0;
		margin-top: 20px;
	}
	.l-mv-under-nav a {
		font-size: 22px;
		padding-top: 128px;
		border-width: 10px;
	}
	
	.l-pickup {
		margin-top: 2.66%;
	}

}
@media screen and (max-width: 768px) {
	#wrapper {
		padding-top: 98px;
	}
	
	.l-mv-under {
		margin-bottom: 119px;
	}
	.l-mv-under-ttl {
		font-size: 21px;
	}
	.l-mv-under-nav {
		padding: 0 28px;
	}
	.l-mv-under-nav li {
		width: 100%;
		max-width: 469px;
		height: 210px;
	}
	.l-mv-under-nav li + li {
		margin-top: 14px;
	}
	.l-mv-under-nav a {
		font-size: 15px;
		padding-top: 87px;
		border-width: 7px;
	}
	
}
@media screen and (max-width: 480px) {
	#wrapper {
		padding-top: 70px;
	}
	
	.l-mv-under-ttl {
		font-size: 15px;
	}
	.l-mv-under-nav {
		padding: 0 20px;
	}
	.l-mv-under-nav li {
		max-width: 335px;
		height: 150px;
	}
	.l-mv-under-nav a {
		font-size: 11px;
		padding-top: 58px;
		border-width: 5px;
	}
	
}