#wrapper {
	padding-top: 100px;
}
#wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.l-mv {
	width: 293px;
	color: #514e47;
	text-align: center;
	line-height: 1.4;
	margin: 74px auto;
	padding-top: 88px;
	background: url(../img/img_mv_pc.png) no-repeat;
	background-size: contain;
}
.l-mv-ttl-en,
.l-mv-ttl-jp {
	letter-spacing: 0.12em;
}
.l-mv-ttl-en {
	font-size: 24px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
}
.l-mv-ttl-jp {
	font-size: 11px;
	font-weight: 500;
}
.l-mv-under {
	color: #fff;
	background: #aea27d;
	padding: 57px 0 50px;
	margin-bottom: 170px;
}
.l-mv-under-ttl {
	text-align: center;
	line-height: 1.4;
}
.l-mv-under-ttl-en,
.l-mv-under-ttl-jp {
	display: block;
	letter-spacing: 0.12em;
}
.l-mv-under-ttl-en {
	font-size: 20px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
}
.l-mv-under-ttl-jp {
	font-size: 11px;
}
.l-mv-under-nav {
	width: 938px;
	letter-spacing: 0.12em;
	margin: 45px auto 0;
}
.l-mv-under-nav:after {
	content: "";
	display: block;
	clear: both;
}
.l-mv-under-nav-item {
	width: 245px;
	float: left;
}
.l-mv-under-nav-item + .l-mv-under-nav-item {
	margin-left: 101px;
}
.l-mv-under-nav-inner {
	width: 239px;
	margin: 40px auto 0;
}
.l-mv-under-nav-txt {
	/* margin-top: 40px; */
}
.l-mv-under-nav-link01 {
	display: block;
	color: #fff;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.12em;
	border: solid 1px #cdd6bf;
	padding: 5px;
	background-image: url(../img/ico_viewmore1_pc.png);
	background-repeat: no-repeat;
	background-position: left 19px center;
}
.l-mv-under-nav-link01:hover {
	color: #fff;
	
}
.l-mv-under-nav-list {
	color: #262522;
	font-size: 13px;
	text-align: center;
	margin-top: 15px;
}
.l-mv-under-nav-list li + li {
	margin-top: 6px;
}
.l-mv-under-nav-list a {
	display: block;
	text-decoration: none;
	letter-spacing: 0.12em;
	padding: 5px;
	background: url(../img/ico_dotted01_pc.png) repeat-x, url(../img/ico_viewmore1_pc.png) no-repeat;
	background-position: bottom left, left 19px center;
}
.l-mv-under-nav-list a:hover {
	color: #262522;
}
.l-mv-under-nav-list.column2:after {
	content: "";
	display: block;
	clear: both;
}
.l-mv-under-nav-list.column2 ul {
	float: left;
}
.l-mv-under-nav-list.column2 ul:first-child {
	width: 43.35%;
}
.l-mv-under-nav-list.column2 ul:last-child {
	width: 56.65%;
}
.l-mv-under-nav-list.column2 a {
	background-position: bottom left, left 4px center;
}

.l-block {
	position: relative;
	border-top: solid 1px #aea27d;
}
.l-block-main-ttl {
	position: absolute;
	top: -70px;
	left: 0;
	right: 0;
	width: 299px;
	color: #fff;
	text-align: center;
	letter-spacing: 0.12em;
	background: #aea27d;
	padding: 13px 0 10px;
	margin: auto;
}
.l-block-main-ttl-en,
.l-block-main-ttl-jp {
	display: block;
	line-height: 1.4;
	letter-spacing: 0.12em;
}
.l-block-main-ttl-en {
	font-size: 24px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	
}
.l-block-main-ttl-jp {
	font-size: 10px;
	font-weight: 500;
}
.l-block-inner {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 100px 40px 168px;
}
.l-block-list-item {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	background: #fff;
}
.l-block-list-item + .l-block-list-item {
	margin-top: 30px;
}
.l-block-list-img,
.l-block-list-txtarea {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
}
.l-block-list-txtarea {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	border-top: solid 1px #aea27d;
	border-right: solid 1px #aea27d;
	border-bottom: solid 1px #aea27d;
}
.l-block-list-item:nth-child(even) .l-block-list-img {
	order: 2;
}
.l-block-list-item:nth-child(even) .l-block-list-txtarea {
	order: 1;
	border-right: none;
	border-left: solid 1px #aea27d;
}
.l-block-list-ttl,
.l-block-list-txt {
	letter-spacing: 0.1em;
	
}
.l-block-list-ttl {
	color: #000;
	font-size: 20px;
	font-weight: 400;
}
.l-block-list-txt {
	font-size: 13px;
}
.l-block-list-option {
	max-width: 360px;
	color: #aea27d;
	font-size: 0;
	letter-spacing: 0.06em;
	margin: 10px auto 0;
	transform: translateX(-5px);
}
.l-block-list-option li {
	display: inline-block;
	font-size: 11px;
	letter-spacing: 0.06em;
	border: solid 1px #aea27d;
	padding: 3px 10px 2px;
	margin-left: 10px;
	margin-bottom: 8px;
}
.l-block-list-btn {
	margin-top: 12px;
}
.l-block-more {
	margin-top: 99px;
}

.l-button01 {
	display: inline-block;
	width: 320px;
	height: 60px;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	line-height: 60px;
	letter-spacing: 0.12em;
	background: #aea27d;
	background-image: url(../img/ico_viewmore1_pc.png);
	background-repeat: no-repeat;
	background-position: left 17px center;
}
.l-button01:hover {
	color: #fff;
}
.l-button02 {
	display: block;
	color: #514e47;
	text-align: center;
	text-decoration: none;
	padding: 15px 0 16px;
	background: #fff;
	background-image: url(../img/ico_viewmore2_pc.png);
	background-repeat: no-repeat;
	background-position: left 36px center;
	border: solid 1px #514e47;
}
.l-button02-jp,
.l-button02-en {
	display: block;
}
.l-button02-jp {
	font-size: 12px;
	letter-spacing: 0.05em;
}
.l-button02-en {
	font-size: 9px;
	font-weight: 100;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.16em;
}

.l-block01 {
	background: #f4efed;
}
.l-block02 {
	background: #edefea;
}
.l-block03 {
	background: #f0f2f2;
}
.l-block03 .l-block-inner {
	padding-bottom: 99px;
}

@media screen and (max-width: 1200px) {
	#wrapper {
		padding-top: 140px;
	}
}
@media screen and (max-width: 1000px) {
	.l-mv {
		width: 582px;
		background: url(../img/img_mv_sp.png) no-repeat;
		background-size: contain;
		padding-top: 180px;
		margin: 18.13% auto 17.6%;
	}
	.l-mv-ttl-en {
		font-size: 48px;
	}
	.l-mv-ttl-jp {
		font-size: 22px;
	}
	
	.l-mv-under {
		padding: 12.26% 0 13.33%;
	}
	.l-mv-under-ttl-en {
		font-size: 40px;
	}
	.l-mv-under-ttl-jp {
		font-size: 22px;
	}
	.l-mv-under-nav {
		width: 670px;
		margin-top: 12%;
	}
	.l-mv-under-nav-item {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		width: 100%;
	}
	.l-mv-under-nav-item + .l-mv-under-nav-item {
		margin-left: 0;
		margin-top: 5.04%;
	}
	.l-mv-under-nav-item:nth-child(even) .l-mv-under-nav-img {
		order: 2;
	}
	.l-mv-under-nav-item:nth-child(even) .l-mv-under-nav-inner {
		order: 1;
	}
	.l-mv-under-nav-img,
	.l-mv-under-nav-inner {
		flex: 1;
		width: 100%;
	}
	.l-mv-under-nav-inner {
		position: relative;
		margin-top: 0;
	}
	.l-mv-under-nav-txt {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 71%;
		transform: translate(-50%,-50%);
	}
	.l-mv-under-nav-txt:before {
		content: "";
		display: block;
		padding-top: 100%;
	}
	.l-mv-under-nav-link01 {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 24px;
		line-height: 1.5;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		background: none;
	}
	.l-mv-under-nav-link01 span:after {
		content: "";
		display: block;
		width: 100%;
		height: 22px;
		background: url(../img/ico_viewmore1_sp.png) no-repeat;
		background-position: center;
		margin-top: 10px;
	}
	.l-mv-under-nav-list {
		display: none;
	}
	
	.l-block {
		padding-bottom: 142px;
	}
	.l-block + .l-block {
		margin-top: 240px;
	}
	.l-block-main-ttl {
		top: -100px;
		width: 400px;
		height: 100px;
		padding: 21px 0 10px;
	}
	.l-block-main-ttl-en {
		font-size: 32px;
	}
	.l-block-main-ttl-jp {
		font-size: 18px;
	}
	.l-block-list-item {
		display: block;
	}
	.l-block-list-item + .l-block-list-item {
		margin-top: 9.33%;
	}
	.l-block-list-img img {
		width: 100%;
	}
	.l-block-inner {
		padding: 20% 40px 0;
	}
	.l-block-list-txtarea {
		display: block;
		border-top: none;
		border-left: solid 1px #aea27d;
		border-right: solid 1px #aea27d;
		padding: 8.03% 30px 4.74%;
	}
	.l-block-list-item:nth-child(even) .l-block-list-txtarea {
		border-left: solid 1px #aea27d;
		border-right: solid 1px #aea27d;
	}
	.l-block-list-ttl {
		font-size: 40px;
	}
	.l-block-list-txt {
		font-size: 24px;
		line-height: 1.7;
	}
	.l-block-list-option {
		margin-top: 2.13vw;
	}
	.l-block-list-option {
		width: 100%;
		max-width: none;
		margin-left: -13px;
	}
	.l-block-list-option li {
		font-size: 20px;
		margin-left: 26px;
		margin-bottom: 2.29%;
		padding: 0.2em 1em;
	}
	.l-block-list-btn {
		margin-top: 3.83%;
	}
	.l-block-more {
		margin-top: 10.74%;
	}
	
	.l-button01 {
		width: 100%;
		height: 100px;
		font-size: 24px;
		line-height: 100px;
		background-image: url(../img/ico_viewmore1_sp.png);
		background-position: left 9.83% center;
	}
	.l-button02 {
		padding: 5.37% 0 4.47%;
		background-image: url(../img/ico_viewmore2_sp.png);
		background-position: left 16.11% center;
	}
	.l-button02-jp {
		font-size: 24px;
	}
	.l-button02-en {
		font-size: 18px;
	}
	.l-block03 {
		padding-bottom: 10.74%;
	}
	.l-block03 .l-block-inner {
		padding-bottom: 0;
	}
}
@media screen and (max-width: 768px) {
	#wrapper {
		padding-top: 98px;
	}
	.l-mv {
		width: 407px;
		padding-top: 124px;
	}
	.l-mv-ttl-en {
		font-size: 34px;
	}
	.l-mv-ttl-jp {
		font-size: 15px;
	}
	
	.l-mv-under-ttl-en {
		font-size: 28px;
	}
	.l-mv-under-ttl-jp {
		font-size: 15px;
	}
	.l-mv-under-nav {
		width: 469px;
	}
	.l-mv-under-nav-link01 {
		font-size: 17px;
	}
	.l-mv-under-nav-link01 span:after {
		height: 15px;
		background-size: contain;
	}
	
	.l-block {
		padding-bottom: 99px;
	}
	.l-block + .l-block {
		margin-top: 168px;
	}
	.l-block-main-ttl {
		top: -70px;
		width: 280px;
		height: 70px;
		padding: 15px 0 7px;
	}
	.l-block-main-ttl-en {
		font-size: 22px;
	}
	.l-block-main-ttl-jp {
		font-size: 13px;
	}
	.l-block-inner {
		padding-left: 28px;
		padding-right: 28px;
	}
	.l-block-list-txtarea {
		padding-left: 21px;
		padding-right: 21px;
	}
	.l-block-list-ttl {
		font-size: 28px;
	}
	.l-block-list-txt {
		font-size: 17px;
	}
	.l-block-list-option {
		margin-left: -9px;
	}
	.l-block-list-option li {
		font-size: 14px;
		margin-left: 18px;
	}
	
	.l-button01 {
		height: 70px;
		font-size: 17px;
		line-height: 70px;
		background-size: 8px 15px;
	}
	.l-button02 {
		background-size: 12px 22px;
	}
	.l-button02-jp {
		font-size: 17px;
	}
	.l-button02-en {
		font-size: 13px;
	}
}
@media screen and (max-width: 480px) {
	#wrapper {
		padding-top: 70px;
	}
	
	.l-mv {
		width: 291px;
		padding-top: 90px;
	}
	.l-mv-ttl-en {
		font-size: 24px;
	}
	.l-mv-ttl-jp {
		font-size: 11px;
	}
	
	.l-mv-under-ttl-en {
		font-size: 20px;
	}
	.l-mv-under-ttl-jp {
		font-size: 11px;
	}
	.l-mv-under-nav {
		width: 100%;
		padding: 0 20px;
	}
	.l-mv-under-nav-link01 {
		font-size: 12px;
	}
	.l-mv-under-nav-link01 span:after {
		height: 11px;
	}
	
	.l-block {
		padding-bottom: 71px;
	}
	.l-block + .l-block {
		margin-top: 120px;
	}
	.l-block-inner {
		padding-left: 20px;
		padding-right: 20px;
	}
	.l-block-main-ttl {
		top: -52px;
		width: 200px;
		height: 52px;
		padding: 11px 0 5px;
	}
	.l-block-main-ttl-en {
		font-size: 16px;
	}
	.l-block-main-ttl-jp {
		font-size: 9px;
	}
	.l-block-list-txtarea {
		padding-left: 15px;
		padding-right: 15px;
	}
	.l-block-list-ttl {
		font-size: 20px;
	}
	.l-block-list-txt {
		font-size: 12px;
	}
	.l-block-list-option {
		margin-left: -7px;
	}
	.l-block-list-option li {
		font-size: 10px;
		margin-left: 13px;
	}
	
	.l-button01 {
		font-size: 12px;
		line-height: 50px;
		height: 50px;
		background-size: 6px 11px;
	}
	.l-button02 {
		background-size: 9px 16px;
	}
	.l-button02-jp {
		font-size: 12px;
	}
	.l-button02-en {
		font-size: 9px;
	}
}