@charset "utf-8";
/* CSS Document */

#loader-bg {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}
#loader {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	text-align: center;
	color: #fff;
	z-index: 2;
}

#wrapper{
	letter-spacing:0.1em;	
}

.l-mvBlock{
	position:relative;
	z-index:1;
}

.l-mv{
	width: 100%;
	margin:0px auto 0;
	text-align:center;
	line-height:0;
	height:350px;
	background-color:#cdd6bf;
}

.l-block01 {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	padding:0px 0 63px;
	background-color:#FFFFFF;
}
.l-block01 > div {
	background-color:#FFFFFF;
	margin: -200px auto 0;
	position:relative;
	z-index:2;	
}
.l-block01 h2 {
	line-height:0;
	padding-bottom:50px;
}
.l-block01 h2 img {
	max-width:205px;
	width:100%;
	margin-top:-78px;
}
.l-block01 h2 > span {
	display:block;
	font-size:11px;
	line-height:2.2;
	letter-spacing:0.12em;
	font-weight:normal;
	color:#514e47;
	margin-top:-50px;
}
.l-block01 h2 > span span {
	display:block;
	font-size:24px;
	line-height:1;
	letter-spacing:0.12em;
}
.l-block01 .l-block01-link{
	width:100%;
	margin:0 auto;
	padding:0 0 69px;	
}
.l-block01 .l-block01-link label{
	display:inline-block;
	padding:0 0.5em 0px;
	margin-bottom:10px;
	font-size:12px;
	font-weight:bold;
	color:#514e47;
	border-bottom:1px solid #FFFFFF;
	letter-spacing:0.12em;
}
.l-block01 .l-block01-link label:hover{
	cursor:pointer;
}
.l-block01 .l-block01-link label.p-current{
	border-bottom:1px solid #514e47;
}
.l-block01 .l-block01-table{
	padding:0 90px;
	margin: 0 auto;
	width: 100%;
	column-count: 3;
	column-gap: 0;
	display:none;
}
.l-block01 .l-block01-table p {
	padding: 0px 12px 24px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	line-height:0;
	
	display:inline-block;
}
.l-block01 .l-block01-table p a {
	
	display:inline-block;
}
.l-block01 .l-block01-table p img {
	max-width:280px;
	width:100%;
}

.p-common-btn {
	display:inline-block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#8c8c8c;
	text-decoration:none;
	padding:10px 60px;
	border:1px solid #8c8c8c;
	background:url(../../../common/img/ico_viewmore_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
}
.p-common-btn2 {
	display:block;
	font-size:12px;
	line-height:1.7;
	text-align:center;
	color:#897e63;
	text-decoration:none;
	padding:10px 0;
	border:1px solid #897e63;
	background:url(../../../common/img/ico_viewmore2_pc.png) left 14px center no-repeat transparent;
	background-size:6px auto;
}

/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		position:relative;
		z-index:1;
	}
	
	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:470px;
		background-color:#cdd6bf;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 20px 126px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: -250px auto 0;
		position:relative;
		z-index:2;
		padding:0 5px;
	}
	.l-block01 h2 {
		line-height:0;
		padding-bottom:60px;
	}
	.l-block01 h2 img {
		max-width:410px;
		width:100%;
		margin-top:-156px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:22px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-100px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:48px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-link{
		width:100%;
		margin:0 auto;
		padding:0 0 90px;	
	}
	.l-block01 .l-block01-link label{
		display:inline-block;
		padding:0 1.0em 0px;
		margin-bottom:20px;
		font-size:24px;
		font-weight:bold;
		color:#514e47;
		border-bottom:1px solid #FFFFFF;
	}
	.l-block01 .l-block01-link label:hover{
		cursor:pointer;
	}
	.l-block01 .l-block01-link label.p-current{
		border-bottom:1px solid #514e47;
	}
	.l-block01 .l-block01-table{
		padding:0 0px;
		margin: 0 auto;
		width: 100%;
		column-count: 2;
		column-gap: 0;
	}
	.l-block01 .l-block01-table p {
		padding: 0px 10px 20px;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		line-height:0;
	}
	.l-block01 .l-block01-table p img {
		max-width:560px;
		width:100%;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:12px 60px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}	
	.p-common-btn2 {
		display:block;
		font-size:22px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:12px 0;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 20px center no-repeat transparent;
		background-size:8px auto;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		position:relative;
		z-index:1;
	}
	
	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:329px;
		background-color:#cdd6bf;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 15px 88px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: -175px auto 0;
		position:relative;
		z-index:2;
		padding:0 5px;
	}
	.l-block01 h2 {
		line-height:0;
		padding-bottom:42px;
	}
	.l-block01 h2 img {
		max-width:287px;
		width:100%;
		margin-top:-109px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:15px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-70px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:34px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-link{
		width:100%;
		margin:0 auto;
		padding:0 0 65px;	
	}
	.l-block01 .l-block01-link label{
		display:inline-block;
		padding:0 0.7em 0px;
		margin-bottom:15px;
		font-size:18px;
		font-weight:bold;
		color:#514e47;
		border-bottom:1px solid #FFFFFF;
	}
	.l-block01 .l-block01-link label:hover{
		cursor:pointer;
	}
	.l-block01 .l-block01-link label.p-current{
		border-bottom:1px solid #514e47;
	}
	.l-block01 .l-block01-table{
		padding:0 0px;
		margin: 0 auto;
		width: 100%;
		column-count: 2;
		column-gap: 0;
	}
	.l-block01 .l-block01-table p {
		padding: 0px 7px 15px;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		line-height:0;
	}
	.l-block01 .l-block01-table p img {
		max-width:392px;
		width:100%;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:8px 42px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
	.p-common-btn2 {
		display:block;
		font-size:15px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:8px 0;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 14px center no-repeat transparent;
		background-size:6px auto;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		position:relative;
		z-index:1;
	}
	
	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		line-height:0;
		height:235px;
		background-color:#cdd6bf;
	}
	
	.l-block01 {
		width: 100%;
		margin: 0 auto 0;
		text-align: center;
		padding:0px 10px 63px;
		background-color:#FFFFFF;
	}
	.l-block01 > div {
		background-color:#FFFFFF;
		margin: -125px auto 0;
		position:relative;
		z-index:2;
		padding:0 5px;
	}
	.l-block01 h2 {
		line-height:0;
		padding-bottom:30px;
	}
	.l-block01 h2 img {
		max-width:205px;
		width:100%;
		margin-top:-78px;
	}
	.l-block01 h2 > span {
		display:block;
		font-size:11px;
		line-height:2.2;
		letter-spacing:0.12em;
		font-weight:normal;
		color:#514e47;
		margin-top:-50px;
	}
	.l-block01 h2 > span span {
		display:block;
		font-size:24px;
		line-height:1;
		letter-spacing:0.12em;
	}
	.l-block01 .l-block01-link{
		width:100%;
		margin:0 auto;
		padding:0 0 35px;	
	}
	.l-block01 .l-block01-link label{
		display:inline-block;
		padding:0 0.5em 0px;
		margin-bottom:10px;
		font-size:12px;
		font-weight:bold;
		color:#514e47;
		border-bottom:1px solid #FFFFFF;
	}
	.l-block01 .l-block01-link label:hover{
		cursor:pointer;
	}
	.l-block01 .l-block01-link label.p-current{
		border-bottom:1px solid #514e47;
	}
	.l-block01 .l-block01-table{
		padding:0 0px;
		margin: 0 auto;
		width: 100%;
		column-count: 2;
		column-gap: 0;
	}
	.l-block01 .l-block01-table p {
		padding: 0px 5px 10px;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		line-height:0;
	}
	.l-block01 .l-block01-table p img {
		max-width:280px;
		width:100%;
	}
	
	.p-common-btn {
		display:inline-block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#8c8c8c;
		text-decoration:none;
		padding:6px 30px;
		border:1px solid #8c8c8c;
		background:url(../../../common/img/ico_viewmore_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	.p-common-btn2 {
		display:block;
		font-size:11px;
		line-height:2;
		text-align:center;
		color:#897e63;
		text-decoration:none;
		padding:6px 0px;
		border:1px solid #897e63;
		background:url(../../../common/img/ico_viewmore2_sp.png) left 10px center no-repeat transparent;
		background-size:4px auto;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/